@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.LocationViewModel
@inject ILocaleManager LocaleManager
@{
    Model.LocationItem.Date ??= DateTime.MinValue;
}
<button class="item-btn col-12 col-sm-12 col-md-6 col-lg-4" data-location-id="@Model.LocationItem.LocationId">
    <div class="card text-white bg-location text-break" style="height: -webkit-fill-available">
        <div class="card-header bg-location-header h5 kinauna-yellow-text">
            <img class="float-right" src="@Model.LocationItem.Progeny.GetProfilePictureUrl()" style="max-height: 32px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px;"/>
            <i class="material-icons kinauna-icon-medium mr-2 text-white" style="font-size: 32px;">person_pin</i>
            @Model.LocationItem.Name
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>@await LocaleManager.GetTranslation("Date:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Date.Value.ToString("dd-MMM-yyyy")</div>
                <div class="text-white">@await LocaleManager.GetTranslation("Latitude:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Latitude</div>
                <div class="text-white">@await LocaleManager.GetTranslation("Longitude:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Longitude</div>
                @if (!string.IsNullOrEmpty(Model.LocationItem.City))
                {
                    <div>@await LocaleManager.GetTranslation("City:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.City</div>
                }
                @if (!string.IsNullOrEmpty(Model.LocationItem.Country))
                {
                    <div>@await LocaleManager.GetTranslation("Country:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Country</div>
                }
                @if (!string.IsNullOrEmpty(Model.LocationItem.Tags))
                {
                    List<string> tagsList = Model.LocationItem.Tags.Split(',').ToList();
                    <div class="text-right">
                        @foreach (string tagString in tagsList)
                        {
                            <span class="btn tag-item">@tagString</span>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</button>