@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.LocationViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete location", PageNames.Locations, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteLocation" role="form" method="post">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to delete this location?", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Name
            </div>
            <div class="col-auto">
                <h4>@Model.LocationItem.Name</h4>
            </div>
            <div class="col-auto">@await LocaleManager.GetTranslation("Latitude:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Latitude</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("Longitude:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Longitude</div>
            @if (Model.LocationItem.Date != null)
            {
                <div class="col-auto">@await LocaleManager.GetTranslation("Date:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Date.Value</div>
            }
            <div class="col-auto">@await LocaleManager.GetTranslation("Street name:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.StreetName</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("House number:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.HouseNumber</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("District:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.District</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("City:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.City</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("Postal code:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.PostalCode</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("County:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.County</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("State:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.State</div>
            <div class="col-auto">@await LocaleManager.GetTranslation("Country:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Country</div>
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Notes:", PageNames.Locations, Model.LanguageId) @Model.LocationItem.Notes
            </div>
            <div class="space-20"></div>
            <input asp-for="LocationItem.LocationId" class="form-control" value="@Model.LocationItem.LocationId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leave-page">@await LocaleManager.GetTranslation("Yes, delete this location", PageNames.Locations, Model.LanguageId)</Button>
                <a class="btn btn-danger leave-page" asp-controller="Locations" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>