@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.LocationViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Photo locations", PageNames.Locations, Model.LanguageId);
    string newestFirstString = await LocaleManager.GetTranslation("Newest first", PageNames.Timeline, Model.LanguageId);
    string oldestFirstString = await LocaleManager.GetTranslation("Oldest first", PageNames.Timeline, Model.LanguageId);
    string sortString = await LocaleManager.GetTranslation("Sort:", PageNames.Timeline, Model.LanguageId);
    bool allowHereMaps = Context.Request.HereMapsCookieSet();
    string pageParameters = Json.Serialize(Model.LocationsPageParameters).ToString();
}

<div id="locations-page-parameters" class="d-none" data-locations-page-parameters="@pageParameters"></div>
<div id="here-maps-api-key-div" class="d-none" data-here-maps-api-key="@Model.HereMapsApiKey"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="btn-group" style="float: right;">
        <a asp-controller="Locations" asp-action="Index" class="btn btn-info leave-page">
            <i class="fas fa-map-marked-alt"></i> @await LocaleManager.GetTranslation("Back to locations", PageNames.Locations, Model.LanguageId)
        </a>
    </div>
    <h2>@ViewData["Title"]</h2>
    <div class="row" style="clear: both; margin-top: 25px;">
        @if (allowHereMaps)
        {
            <div style="width: 100%; height: 75vh; margin-left: 20px; margin-right: 20px;" id="photo-locations-map-container-div"></div>
        }
        else
        {
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 col-w1900-6 col-w2500-5">
                <div class="space-20"></div>
                <div>@await LocaleManager.GetTranslation("Cookie consent for Here maps has not been granted. To use maps enable cookies for Here Maps.", PageNames.Locations, Model.LanguageId)</div>
                <div class="space-20"></div>
                @if (Context.Request.ConsentCookieSet())
                {
                    @await Html.PartialAsync("_CookieConsentPartial", Model.LanguageId)
                }
            </div>
        }
        <div class="space-20"></div>
        <div id="pictureDiv" class="d-none" style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <div class="card bg-primary" style="margin-top: 0; margin-bottom: 10px;">
                <div class="card-body" style="background: #326ebe; background: rgba(50, 110, 190, 0.8)">
                    <div class="info-title"><span style="font-size: 24px; color: white; margin-right: 15px;" class="far fa-images"></span><strong class="text-warning"> @await LocaleManager.GetTranslation("Click a marker on the map", PageNames.Locations, Model.LanguageId)</strong></div>
                </div>
            </div>
        </div>
        <div class="ml-md-auto mr-md-auto col" style="max-width: 600px;">
            <div id="photo-items-parent-div" class="d-none">
                <div class="space-20"></div>
                <div id="photo-items-div">
                </div>
                <div style="height: 150px;">
                    <button id="more-pictures-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
                    <div id="loading-photos-div" class="w-100">
                        <div class="space-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="page-settings-content-div" class="bg-dark page-settings-content">
        <div class="row">
            <div class="col-auto ml-auto">
                <button id="close-page-settings-button" class="ml-auto btn btn-link btn-link-yellow p-2">
                    <i class="material-icons icon-top-4">close</i>
                </button>
            </div>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col h5">
                    @await LocaleManager.GetTranslation("Page settings", PageNames.Layout, Model.LanguageId)
                </div>
            </div>
            <div class="space-20"></div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @sortString
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button id="setting-sort-descending-button" class="btn btn-outline-info active"><i class="material-icons icon-top-4">history</i> @newestFirstString</button>
                        </div>
                        <div class="col">
                            <button id="setting-sort-ascending-button" class="btn btn-outline-info"><i class="material-icons icon-top-4">update</i> @oldestFirstString</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @await LocaleManager.GetTranslation("Group locations distance:", PageNames.Locations, Model.LanguageId)
                </div>
                <div class="col ml-4">
                    <div class="row" style="font-size: small; margin-top: 5px;">
                        <select id="locations-distance-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect">
                            <option value="25">25m</option>
                            <option value="50">50m</option>
                            <option value="100">100m</option>
                            <option value="250" selected="selected">250m</option>
                            <option value="500">500m</option>
                            <option value="1000">1km</option>
                            <option value="2000">2km</option>
                            <option value="3000">5km</option>
                            <option value="10000">10km</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @await LocaleManager.GetTranslation("Number of items to get:", PageNames.Timeline, Model.LanguageId)
                </div>
                <div class="col ml-4">
                    <div class="row" style="font-size: small; margin-top: 5px;">
                        <select id="items-per-page-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect">
                            <option value="5">5</option>
                            <option value="10" selected="selected">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <button id="photo-locations-page-save-settings-button" class="btn btn-success float-right"><i class="material-icons icon-top-4">save</i> @await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                </div>

            </div>
        </div>
    </div>
    <div id="show-page-settings-button-div" style="position: absolute; top: 60px; right: 0;">
        <button id="page-settings-button" class="btn btn-link btn-link-yellow bg-dark p-3 m-2" style="border-radius: 33%">
            <span><i class="material-icons icon-top-4">settings</i></span>
        </button>
    </div>
</div>
@if (allowHereMaps)
{
    <script src="/js/locations/photo-locations.js" type="module" asp-append-version="true"></script>
}