@using System.Globalization
@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.AccessManagement
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.FamiliesViewModels.FamilyMemberDetailsViewModel
@inject ILocaleManager LocaleManager
@{
    string addToFamilyString = await LocaleManager.GetTranslation("Edit family member", PageNames.Family, Model.LanguageId);
    foreach (SelectListItem selectListItem in Model.MemberTypeList)
    {
        selectListItem.Text = await LocaleManager.GetTranslation(selectListItem.Text, PageNames.Family, Model.LanguageId);
    }
    
    string timeSeparator = CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator;
    string longDateTimeFormat = "dd-MMMM-yyyy HH" + timeSeparator + "mm";
    string zebraDateTimeFormat = "d-F-Y H" + timeSeparator + "i";
}
<div id="add-progeny-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body bg-dark modal-content item-details-content" style="width: fit-content;">
        <div class="row text-white m-0 item-details-header">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">manage_accounts</i></span>
            </div>
            <div class="col">
                <div class="h4 mr-3 align-bottom">
                    @addToFamilyString
                </div>
            </div>
            <button type="button" class="btn btn-link modal-close-button add-family-member-close-button"><span>×</span></button>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <div class="row m-0">
                    <div class="col-12">
                        <div class="space-50"></div>
                        <div class="h5">@await LocaleManager.GetTranslation("Family", PageNames.Family, Model.LanguageId): @Model.CurrentFamily.Name</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form id="edit-family-member-form" asp-action="UpdateFamilyMember" asp-controller="FamilyMembers" role="form" method="post">
                    @if (Model.FamilyMember.PermissionLevel >= PermissionLevel.Edit)
                    {
                        <div class="form-group">
                            <label asp-for="MemberType" class="col-auto control-label">@await LocaleManager.GetTranslation("Select family member type", PageNames.Family, Model.LanguageId):</label>
                            <div class="col-auto">
                                <select id="family-member-type-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.MemberTypeList.Count" asp-for="MemberType" asp-items="@Model.MemberTypeList"></select>
                            </div>
                        </div>
                    }
                    @if (Model.FamilyMember.Progeny.ProgenyPerMission.PermissionLevel >= PermissionLevel.Edit)
                    {
                        <div id="new-progeny-data-div">
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.Name" class="col-auto control-label">@await LocaleManager.GetTranslation("Name", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input id="family-member-name-input" asp-for="CurrentProgeny.Name" value="@Model.CurrentProgeny.Name" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.NickName" class="col-auto control-label">@await LocaleManager.GetTranslation("Display name (nickname)", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input id="family-member-nick-name-input" asp-for="CurrentProgeny.NickName" value="@Model.CurrentProgeny.NickName" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.Email" class="col-auto control-label">@await LocaleManager.GetTranslation("KinaUna account email", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input id="family-member-email-input" asp-for="CurrentProgeny.Email" type="email" value="@Model.CurrentProgeny.Email" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.BirthDay" class="col-auto control-label">@await LocaleManager.GetTranslation("Birthday", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <div class="input-group date">
                                        @{
                                            Model.CurrentProgeny.BirthDay ??= DateTime.UtcNow;
                                        }
                                        <input id="progeny-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="CurrentProgeny.BirthDay" value="@Model.CurrentProgeny.BirthDay.Value.ToString(longDateTimeFormat)"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.TimeZone" class="col-auto control-label">@await LocaleManager.GetTranslation("Time zone", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="CurrentProgeny.TimeZone" asp-items="@Model.TimezoneList"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentProgeny.Admins" class="col-auto control-label">@await LocaleManager.GetTranslation("Administrators", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input id="family-member-admins-input" asp-for="CurrentProgeny.Admins" value="@Model.CurrentProgeny.Admins" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="File" class="col-auto control-label">@await LocaleManager.GetTranslation("Profile picture", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail img-raised">
                                            <img src="@Model.CurrentProgeny.GetProfilePictureUrl()" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                        <div>
                                            <div class="btn btn-primary btn-round btn-file ">
                                                <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Progeny, Model.LanguageId)</span>
                                                <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change picture", PageNames.Progeny, Model.LanguageId)</span>
                                                <input type="file" asp-for="File" accept="image/*"/>
                                            </div>
                                            <br/>
                                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Remove picture", PageNames.Progeny, Model.LanguageId)
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-20"></div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Email" class="col-auto control-label">@await LocaleManager.GetTranslation("Contact email", PageNames.Progeny, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Email" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.MobileNumber" class="col-auto control-label">@await LocaleManager.GetTranslation("Mobile number", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.MobileNumber" class="form-control" value="@Model.FamilyMember.ProgenyInfo.MobileNumber"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Website" class="col-auto control-label">@await LocaleManager.GetTranslation("Website", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Website" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Website"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.AddressLine1" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 1", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.AddressLine1" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.AddressLine1"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.AddressLine2" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 2", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.AddressLine2" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.AddressLine2"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.City" class="col-auto control-label">@await LocaleManager.GetTranslation("City", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.City" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.City"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.State" class="col-auto control-label">@await LocaleManager.GetTranslation("State/region", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.State" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.State"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.PostalCode" class="col-auto control-label">@await LocaleManager.GetTranslation("Postal code", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.PostalCode" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.PostalCode"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Address.Country" class="col-auto control-label">@await LocaleManager.GetTranslation("Country", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <input asp-for="FamilyMember.ProgenyInfo.Address.Country" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.Country"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyMember.ProgenyInfo.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Contacts, Model.LanguageId)</label>
                                <div class="col-auto">
                                    <textarea asp-for="FamilyMember.ProgenyInfo.Notes" class="form-control" rows="4" value="@Model.FamilyMember.ProgenyInfo.Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="space-20"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="CurrentFamilyId" value="@Model.CurrentFamilyId"/>
                        <input type="hidden" asp-for="FamilyMember.FamilyMemberId" value="@Model.FamilyMember.FamilyMemberId"/>
                        <input type="hidden" asp-for="CurrentProgenyId" value="@Model.CurrentProgenyId"/>
                        <input asp-for="FamilyMember.ProgenyInfo.ProgenyId" class="form-control" value="@Model.FamilyMember.ProgenyInfo.ProgenyId" type="hidden"/>
                        <input asp-for="FamilyMember.ProgenyInfo.ProgenyInfoId" class="form-control" value="@Model.FamilyMember.ProgenyInfo.ProgenyInfoId" type="hidden"/>
                        <input asp-for="FamilyMember.ProgenyInfo.AddressIdNumber" class="form-control" value="@Model.FamilyMember.ProgenyInfo.AddressIdNumber" type="hidden"/>
                        <input asp-for="FamilyMember.ProgenyInfo.Address.AddressId" class="form-control" value="@Model.FamilyMember.ProgenyInfo.Address.AddressId" type="hidden"/>
                        <div class="col">
                            <button id="save-family-member-submit-button" type="submit" class="btn btn-success">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                            <button type="button" class="btn btn-danger add-family-member-close-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</button>
                        </div>
                        <div id="validation-errors-div" class="col-auto">
                            <div id="name-required-div" class="d-none text-warning">
                                @await LocaleManager.GetTranslation("Name is required and cannot be blank.", PageNames.Family, Model.LanguageId)
                            </div>
                            <div id="nick-name-required-div" class="d-none text-warning">
                                @await LocaleManager.GetTranslation("Display name (nickname) is required and cannot be blank.", PageNames.Family, Model.LanguageId)
                            </div>
                        </div>
                    </div>
                </form>
                <div class="space-50"></div>
                <div id="progeny-details-information-div" class="col-auto d-none">
                    <strong>@await LocaleManager.GetTranslation("Name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The full name of the child.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Display name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The name that will appear on pages, lists, etc.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Birthday:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The date and time of birth in the format day-month-year Hours: Minutes.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Time zone:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The timezone for the birthday entered above.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Administrators:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("A comma separated list of email addresses.", PageNames.Progeny, Model.LanguageId)
                </div>
            </div>
        </div>
    </div>
</div>