@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model VocabularyItem
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<button class="item-btn vocabulary-item" data-vocabulary-id="@Model.WordId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-vocabulary">
            <div class="row">
                <img class="float-right" src="@Model.Progeny.GetProfilePictureUrl()" style="max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 2px; position: absolute;" />
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">forum</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.Word
                    </div>
                    <div class="timeline-text text-white-50">
                        @if (!string.IsNullOrEmpty(Model.Language))
                        {
                            <div>@await LocaleManager.GetTranslation("Language:", PageNames.Vocabulary, languageId) @Model.Language</div>
                        }
                        @if (Model.Date.HasValue)
                        {
                            <div>@await LocaleManager.GetTranslation("Date:", PageNames.Vocabulary, languageId) @Model.Date.Value.ToString("dd-MMM-yyyy HH:mm")</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</button>