@using System.Web;
@model Note
<button class="item-btn note-item" data-note-id="@Model.NoteId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-notes">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">note</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")
                    </div>
                    <div class="timeline-text text-white">
                        @Model.Title
                    </div>
                    <div class="timeline-text text-white-50">
                        <div class="timeline-noteitem-text rounded text-dark bg-white">@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</div>
                        @if (!string.IsNullOrEmpty(Model.Category))
                        {
                            List<string> categoriesList = Model.Category.Split(',').ToList();
                            <div class="text-right">
                                @foreach (string categoryString in categoriesList)
                                {
                                    <span class="btn category-item tag-item-sm">@categoryString</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>