@using KinaUnaWeb.Services
@using KinaUna.Data
@model Contact
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.DateAdded ??= DateTime.MinValue;
}
<button class="item-btn contact-item" data-contact-id="@Model.ContactId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-contact">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">contact_phone</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.DisplayName
                    </div>
                    <div class="timeline-text text-white-50">
                        <div style="max-width: 60vw; overflow: hidden;">
                            <img class="img-thumbnail lazyload" style="max-height: 200px; max-width: 200px; background: black; margin-bottom: 8px; margin-top: 8px;" data-src="@Model.PictureLink" />
                        </div>
                        <div class="text-white">@Model.FirstName @Model.MiddleName @Model.LastName</div>
                        @if (!string.IsNullOrEmpty(Model.Context))
                        {
                            <div>@await LocaleManager.GetTranslation("Context:", PageNames.Contacts, languageId) @Model.Context</div>
                        }
                        <div>@await LocaleManager.GetTranslation("Date added:", PageNames.Contacts, languageId) @Model.DateAdded.Value.ToString("dd-MMM-yyyy")</div>
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            List<string> tagsList = Model.Tags.Split(',').ToList();
                            <div>
                                @foreach (string tagString in tagsList)
                                {
                                    <span class="btn tag-item leave-page">@tagString</span>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>