@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model KinaUnaWeb.Models.ItemViewModels.VideoViewModel
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string durTime = "";
}
<button class="item-btn video-item" data-video-id="@Model.VideoId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-video">
            <div class="row">
                <img class="float-right" src="@Model.Progeny.GetProfilePictureUrl()" style="max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 2px; position: absolute;" />
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">videocam</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.VideoTime?.ToString("dd-MMM-yyyy HH:mm")
                    </div>
                    <div class="timeline-text text-white-50">
                        @if (!string.IsNullOrEmpty(Model.Location))
                        {
                            <div style="color: lightblue;">@Model.Location</div>
                        }
                        <div class="img-rounded" style="overflow: hidden; margin: 2px; margin-left: 2px; padding: 1px; width: 216px; height: 216px; background-color: #000000; text-align: center; line-height: 217px; display: inline-block; position: relative;">
                            @if (Context.Request.YouTubeCookieSet())
                            {
                                <img class="lazyload" data-src="@Model.ThumbLink" style="max-height: 208px; max-width: 208px;"/>
                            }
                            <div class="img-rounded" style="position: absolute; height: 25px; width: 50px; bottom: 2px; right: 2px; font-size: 5px; background-color: forestgreen; display: inline-block;">
                                <p style="width: 40px; height: 20px; font-size: 12px; position: absolute; color: lightgoldenrodyellow; text-align: center; transform: translate(6px, -96px);"><i class="far fa-comment-alt"></i> @Model.CommentsCount</p>
                            </div>
                        </div>
                        @{
                            if (Model.Duration != null)
                            {
                                string durationHours = Model.Duration.Value.Hours.ToString();
                                string durationMinutes = Model.Duration.Value.Minutes.ToString();
                                string durationSeconds = Model.Duration.Value.Seconds.ToString();
                                if (durationSeconds.Length == 1)
                                {
                                    durationSeconds = "0" + durationSeconds;
                                }

                                if (Model.Duration.Value.Hours != 0)
                                {
                                    if (durationMinutes.Length == 1)
                                    {
                                        durationMinutes = "0" + durationMinutes;
                                    }

                                }

                                if (durationHours != "0")
                                {
                                    durTime = durationHours + ":";
                                }

                                durTime = durTime + durationMinutes + ":" + durationSeconds;

                                <div>@await LocaleManager.GetTranslation("Duration:", PageNames.Videos, languageId) @durTime</div>
                            }
                        }
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            List<string> tagsList = Model.Tags.Split(',').ToList();
                            <div>
                                @foreach (string tagString in tagsList)
                                {
                                    <span class="btn tag-item leave-page">@tagString</span>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>