@using System.Web;
@using KinaUna.Data.Extensions
@model Note
<button class="item-btn note-item" data-note-id="@Model.NoteId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-notes">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">note</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <img src="@Model.Progeny.GetProfilePictureUrl()" style="float: right; max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                        <div>
                            @Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")
                        </div>
                    </div>
                    <div class="timeline-text text-white">
                        @Model.Title
                    </div>
                    <div class="timeline-text text-white">
                        <div class="bg-display-rich-text-dark rounded">@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</div>
                        @if (!string.IsNullOrEmpty(Model.Category))
                        {
                            List<string> categoriesList = Model.Category.Split(',').ToList();
                            <div class="text-right">
                                @foreach (string categoryString in categoriesList)
                                {
                                    <span class="btn category-item tag-item-sm">@categoryString</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>