@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model Location
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.Date ??= DateTime.MinValue;
}
<button class="item-btn contact-item" data-location-id="@Model.LocationId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-location">
            <div class="row">
                <img class="float-right" src="@Model.Progeny.GetProfilePictureUrl()" style="max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 2px; position: absolute;" />
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">person_pin</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        @Model.Name
                    </div>
                    <div class="timeline-text text-white-50">
                        <div class="text-white">@await LocaleManager.GetTranslation("Latitude:", PageNames.Locations, languageId) @Model.Latitude, @await LocaleManager.GetTranslation("Longitude:", PageNames.Locations, languageId) @Model.Longitude</div>
                        <div>@await LocaleManager.GetTranslation("Date:", PageNames.Locations, languageId) @Model.Date.Value.ToString("dd-MMM-yyyy")</div>
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            List<string> tagsList = Model.Tags.Split(',').ToList();
                            <div>
                                @foreach (string tagString in tagsList)
                                {
                                    <span class="btn tag-item leave-page">@tagString</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>