@using KinaUnaWeb.Services
@using KinaUna.Data
@model Measurement
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<a class="leave-page" asp-controller="Measurements" asp-action="Index">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-measurement">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">straighten</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title">
                        <strong>
                            @Model.Date.ToString("dd-MMM-yyyy")
                        </strong>
                    </div>
                    <div class="timeline-text text-white-50">
                        @if (Model.Height > 0.01)
                        {
                            <div>@await LocaleManager.GetTranslation("Height:", PageNames.Measurements, languageId) @Model.Height</div>
                        }
                        @if (Model.Weight > 0.01)
                        {
                            <div>@await LocaleManager.GetTranslation("Weight:", PageNames.Measurements, languageId) @Model.Weight</div>
                        }
                        @if (Model.Circumference > 0.01)
                        {
                            <div>@await LocaleManager.GetTranslation("Circumference:", PageNames.Measurements, languageId) @Model.Circumference</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.EyeColor))
                        {
                            <div>@await LocaleManager.GetTranslation("Eye color:", PageNames.Measurements, languageId) @Model.EyeColor</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.HairColor))
                        {
                            <div>@await LocaleManager.GetTranslation("Hair color:", PageNames.Measurements, languageId) @Model.HairColor</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>