@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model Sleep
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    string startDateString = Model.SleepStart.ToString("dd MMM yyyy");
    string startTimeString = Model.SleepStart.ToString("HH:mm");
    string endDateString = Model.SleepEnd.ToString("dd MMM yyyy");
    string endTimeString = Model.SleepEnd.ToString("HH:mm");

    if (Model.SleepStart.Date == Model.SleepEnd.Date)
    {
        endDateString = string.Empty;
    }
}
<button class="item-btn sleep-item" data-sleep-id="@Model.SleepId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-sleep">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">hotel</i></span>
                </div>
                <div class="col">
                    <div class="timeline-title row">
                        <img src="@Model.Progeny.GetProfilePictureUrl()" style="float: right; max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                        <div class="row ml-1 pr-5">
                            @if (Model.SleepStart.Date == Model.SleepEnd.Date)
                            {
                                <div class="col-auto">@startDateString</div>
                                <div class="col-auto font-weight-normal">@startTimeString - @endTimeString</div>
                            }
                            else
                            {
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">@startDateString</div>
                                        <div class="col-auto font-weight-normal">@startTimeString</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">@endDateString</div>
                                        <div class="col-auto font-weight-normal ">@endTimeString</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="timeline-text text-right text-white-50">@await LocaleManager.GetTranslation("Duration:", PageNames.Sleep, languageId) @Model.SleepDuration</div>
                </div>
            </div>
        </div>
    </div>
</button>