@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUna.Data.Extensions
@model Friend
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.FriendSince ??= DateTime.MinValue;
}
@{
    string personalFriend = await LocaleManager.GetTranslation("Personal friend", PageNames.Friends, languageId);
    string toyFriend = await LocaleManager.GetTranslation("Toy/animal friend", PageNames.Friends, languageId);
    string parentFriend = await LocaleManager.GetTranslation("Parent", PageNames.Friends, languageId);
    string familyFriend = await LocaleManager.GetTranslation("Family", PageNames.Friends, languageId);
    string caretakerFriend = await LocaleManager.GetTranslation("Caretaker", PageNames.Friends, languageId);
    List<string> typeList = new List<string>();
    typeList.Add(personalFriend);
    typeList.Add(toyFriend);
    typeList.Add(parentFriend);
    typeList.Add(familyFriend);
    typeList.Add(caretakerFriend);
}
<button class="item-btn friend-item" data-friend-id="@Model.FriendId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-friend">
            <div class="row">
                <div class="col-auto">
                    <span class="timeline-icon"><i class="material-icons">face</i></span>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 timeline-title">
                            <img src="@Model.Progeny.GetProfilePictureUrl()" style="float: right; max-height: 24px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; right: 8px; position: absolute;"/>
                            <div>
                                @Model.Name
                            </div>
                        </div>
                        <div class="col-12 timeline-text text-white-50">
                            <div class="row">
                                <div style="overflow: hidden;" class="col-auto">
                                    <img class="img-thumbnail lazyload" style="max-height: 200px; max-width: 200px; background: black; margin-bottom: 8px; margin-top: 8px;" data-src="@Model.PictureLink" alt="@Model.Name"/>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-nowrap">@await LocaleManager.GetTranslation("Friends since:", PageNames.Contacts, languageId)</div>
                                        <div class="col text-right text-nowrap">@Model.FriendSince.Value.ToString("dd-MMM-yyyy")</div>
                                    </div>
                                    <div class="space-20"></div>
                                    <div class="row">
                                        <div class="col text-nowrap">@await LocaleManager.GetTranslation("Type:", PageNames.Friends, languageId) </div>
                                        <div class="col text-right text-nowrap">@typeList[Model.Type]</div>
                                    </div>

                                    @if (!string.IsNullOrEmpty(Model.Context))
                                    {
                                        <div class="space-20"></div>
                                        <div class="row">
                                            <div class="col text-nowrap">@await LocaleManager.GetTranslation("Context:", PageNames.Contacts, languageId) </div>
                                            <div class="col text-right text-nowrap">@Model.Context</div>
                                        </div>

                                    }
                                    <div class="space-20"></div>
                                </div>

                                @if (!string.IsNullOrEmpty(Model.Tags))
                                {
                                    List<string> tagsList = Model.Tags.Split(',').ToList();
                                    <div class=" col-12 text-right">
                                        @foreach (string tagString in tagsList)
                                        {
                                            <span class="btn tag-item">@tagString</span>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</button>