@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.TimeLineViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Timeline", PageNames.Timeline, Model.LanguageId);
    string newestFirstString = await LocaleManager.GetTranslation("Newest first", PageNames.Timeline, Model.LanguageId);
    string oldestFirstString = await LocaleManager.GetTranslation("Oldest first", PageNames.Timeline, Model.LanguageId);
    string sortString = await LocaleManager.GetTranslation("Sort:", PageNames.Timeline, Model.LanguageId);
}
<div id="languageIdDiv" class="d-none" data-current-locale="@Model.LanguageId"></div>
<div id="progenyIdDiv" class="d-none" data-progeny-id="@Model.CurrentProgenyId"></div>
<div id="itemsCountDiv" class="d-none" data-items-count="@Model.Items"></div>
<div class="ml-md-auto mr-md-auto col-md-8 col-lg-7 col-xl-6 col-xxl-4">
    <h2>@ViewData["Title"]</h2>
    <br style="clear: both;"/>
    @{
        string sortOldest = "btn btn-primary btn-sm";
        string sortNewest = "btn btn-info btn-sm";
    }
    @if (Model.SortBy == 1)
    {
        sortOldest = "btn btn-info btn-sm";
        sortNewest = "btn btn-primary btn-sm";
        <div>
            @sortString <span class="@sortNewest"><i class="fas fa-check-circle"></i> @newestFirstString</span>
            <a class="@sortOldest leavePage" asp-controller="TimeLine" asp-action="Index" asp-route-sortBy="0">@oldestFirstString</a>
        </div>
    }
    else
    {
        <div>
            @sortString <span class="@sortOldest" disabled><i class="fas fa-check-circle"></i> @oldestFirstString</span>
            <a class="@sortNewest leavePage" asp-controller="TimeLine" asp-action="Index" asp-route-sortBy="1">@newestFirstString</a>
        </div>
    }

    <div id="latestPostsParentDiv" class="d-none">
        <div id="timelineItemsDiv">

        </div>
        <div id="numberOfItemsDiv" class="row d-none">
            <div class="col-12">
                @await LocaleManager.GetTranslation("Number of items to get:", PageNames.Timeline, Model.LanguageId)
            </div>
            <div class="col" style="font-size: small; margin-top: 5px;">
                <select id="nextItemsCount" class="selectpicker form-control-noline" data-style="btn-kinaunaselect">
                    <option value="5">5</option>
                    <option value="10" selected="selected">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div style="height: 150px;">
            <button id="moreTimelineItemsButton" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
            <div id="loadingTimeLineItemsDiv" class="w-100">
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let sortBy = @Model.SortBy;
</script>
<script src="/js/timeline/timeline-index.js" type="module" asp-append-version="true"></script>
