@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.TimelineRequestViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Timeline", PageNames.Timeline, Model.LanguageId);
    string newestFirstString = await LocaleManager.GetTranslation("Newest first", PageNames.Timeline, Model.LanguageId);
    string oldestFirstString = await LocaleManager.GetTranslation("Oldest first", PageNames.Timeline, Model.LanguageId);
    string sortString = await LocaleManager.GetTranslation("Sort:", PageNames.Timeline, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    const string longDateTimeFormatMoment = "DD-MMMM-YYYY";
    DateTime startDateTime = new(Model.TimelineRequest.TimelineStartDateTime.Year, Model.TimelineRequest.TimelineStartDateTime.Month, Model.TimelineRequest.TimelineStartDateTime.Day);
    string pageParameters = Json.Serialize(Model.TimelineRequest).ToString();
}
<div id="timeline-page-parameters-div" class="d-none" data-timeline-page-parameters="@pageParameters"></div>
<div id="zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div id="long-date-time-format-moment-div" class="d-none" data-long-date-time-format-moment="@longDateTimeFormatMoment"></div>
<div class="ml-md-auto mr-md-auto col" style="max-width: 600px;">
    <div id="settings-notification-div" class="float-right small text-muted"></div>
    <div id="page-title-div" class="h2">
        @ViewData["Title"]
    </div>
    <div class="space-20"></div>
    <div id="latest-posts-parent-div" class="d-none">
        <div id="timeline-items-div">

        </div>
        <div style="height: 150px;">
            <button id="more-timeline-items-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
            <div id="loading-timeline-items-div" class="w-100">
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="page-settings-content-div" class="bg-dark page-settings-content">
        <div class="row">
            <div class="col-auto ml-auto">
                <button id="close-page-settings-button" class="ml-auto btn btn-link btn-link-yellow p-2">
                    <i class="material-icons icon-top-4">close</i>
                </button>
            </div>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col h5">
                    @await LocaleManager.GetTranslation("Page settings", PageNames.Layout, Model.LanguageId)
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div id="start-label-div" class="col-12">
                    @await LocaleManager.GetTranslation("Start", PageNames.Calendar, Model.LanguageId):
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <div class="input-group date">
                                <input id="settings-start-date-datetimepicker" type="text" class="form-control" data-zdp_readonly_element="false" value="@startDateTime.ToString(longDateTimeFormat)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @sortString
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button id="setting-sort-descending-button" class="btn btn-outline-info active"><i class="material-icons icon-top-4">history</i> @newestFirstString</button>
                        </div>
                        <div class="col">
                            <button id="setting-sort-ascending-button" class="btn btn-outline-info"><i class="material-icons icon-top-4">update</i> @oldestFirstString</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @await LocaleManager.GetTranslation("Number of items to get:", PageNames.Timeline, Model.LanguageId)
                </div>
                <div class="col ml-4">
                    <div class="row" style="font-size: small; margin-top: 5px;">
                        <select id="items-per-page-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect">
                            <option value="5">5</option>
                            <option value="10" selected="selected">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <a id="timeline-toggle-filters-button" class="btn-settings-panel" href="#">
                        @await LocaleManager.GetTranslation("Filters", PageNames.Timeline, Model.LanguageId)
                        <i id="show-filters-chevron" class="material-icons sidebar-icon chevron-right">chevron_right</i>
                    </a>

                </div>
            </div>
            <div class="row ml-4 timeline-filter-options d-none">
                <div class="col-12">
                    <div class="space-20"></div>
                    @await LocaleManager.GetTranslation("Types:", PageNames.Timeline, Model.LanguageId)
                </div>
                <div class="col ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button id="toggle-all-time-line-types-button" class="btn btn-outline-info active">
                                @await LocaleManager.GetTranslation("All", PageNames.Timeline, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="1">
                                @await LocaleManager.GetTranslation("Photos", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="2">
                                @await LocaleManager.GetTranslation("Videos", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="3">
                                @await LocaleManager.GetTranslation("Calendar", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="4">
                                @await LocaleManager.GetTranslation("Vocabulary", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="5">
                                @await LocaleManager.GetTranslation("Skillz", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="6">
                                @await LocaleManager.GetTranslation("Friends", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="7">
                                @await LocaleManager.GetTranslation("Measurements", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="8">
                                @await LocaleManager.GetTranslation("Sleep", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="9">
                                @await LocaleManager.GetTranslation("Notes", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="10">
                                @await LocaleManager.GetTranslation("Contacts", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="11">
                                @await LocaleManager.GetTranslation("Vaccinations", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="12">
                                @await LocaleManager.GetTranslation("Locations", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info timeline-type-filter-button" data-type="15">
                                @await LocaleManager.GetTranslation("Todos", PageNames.Layout, Model.LanguageId)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ml-4 timeline-filter-options d-none">
                <div class="col-12">
                    <div class="space-20"></div>
                    <span id="tag-filter-span">@await LocaleManager.GetTranslation("Tag Filter:", PageNames.Timeline, Model.LanguageId)</span>
                </div>
                <div class="col ml-4">
                    <input id="tag-filter-input" type="text" />
                </div>
            </div>
            <div class="row ml-4 timeline-filter-options d-none">
                <div class="col-12">
                    <div class="space-20"></div>
                    <span id="category-filter-span">@await LocaleManager.GetTranslation("Category Filter:", PageNames.Timeline, Model.LanguageId)</span>
                </div>
                <div class="col ml-4">
                    <input id="category-filter-input" type="text" />
                </div>
            </div>
            <div class="row ml-4 timeline-filter-options d-none">
                <div class="col-12">
                    <div class="space-20"></div>
                    <span id="context-filter-span">@await LocaleManager.GetTranslation("Context Filter:", PageNames.Timeline, Model.LanguageId)</span>
                </div>
                <div class="col ml-4">
                    <input id="context-filter-input" type="text" />
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <button id="timeline-page-save-settings-button" class="btn btn-success float-right"><i class="material-icons icon-top-4">save</i> @await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                </div>

            </div>
        </div>
    </div>
    <div id="show-page-settings-button-div" style="position: absolute; top: 60px; right: 0;">
        <button id="page-settings-button" class="btn btn-link btn-link-yellow bg-dark p-3 m-2" style="border-radius: 33%">
            <span><i class="material-icons icon-top-4">settings</i></span>
        </button>
    </div>
</div>
<script src="/js/timeline/timeline-index.js" type="module" asp-append-version="true"></script>
