@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.OnThisDayViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("On This Day", PageNames.Timeline, Model.LanguageId);
    string newestFirstString = await LocaleManager.GetTranslation("Newest first", PageNames.Timeline, Model.LanguageId);
    string oldestFirstString = await LocaleManager.GetTranslation("Oldest first", PageNames.Timeline, Model.LanguageId);
    string sortString = await LocaleManager.GetTranslation("Sort:", PageNames.Timeline, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    const string longDateTimeFormatMoment = "DD-MMMM-YYYY";
    DateTime startDateTime = new(Model.OnThisDayRequest.ThisDayDateTime.Year, Model.OnThisDayRequest.ThisDayDateTime.Month, Model.OnThisDayRequest.ThisDayDateTime.Day);
    string pageParameters = Json.Serialize(Model.OnThisDayRequest).ToString();
}

@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}

<div id="on-this-day-page-parameters-div" class="d-none" data-on-this-day-page-parameters="@pageParameters"></div>
<div id="zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div id="long-date-time-format-moment-div" class="d-none" data-long-date-time-format-moment="@longDateTimeFormatMoment"></div>
<div class="ml-md-auto mr-md-auto col" style="max-width: 600px;">
    <div id="settings-notification-div" class="float-right small text-muted"></div>
    <div id="page-title-div" class="h2">
        @ViewData["Title"]
    </div>
    <div class="space-20"></div>
    <div id="on-this-day-posts-parent-div" class="d-none">
        <div id="on-this-day-items-div">

        </div>
        <div style="height: 150px;">
            <button id="more-on-this-day-items-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
            <div id="loading-on-this-day-items-div" class="w-100">
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="page-settings-content-div" class="bg-dark page-settings-content">
        <div class="row">
            <div class="col-auto ml-auto">
                <button id="close-page-settings-button" class="ml-auto btn btn-link btn-link-yellow p-2">
                    <i class="material-icons icon-top-4">close</i>
                </button>
            </div>
        </div>
        <div class="p-4">
            <div class="row">
                <div class="col h5">
                    @await LocaleManager.GetTranslation("Page settings", PageNames.Layout, Model.LanguageId)
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div id="start-label-div" class="col-12">
                    @await LocaleManager.GetTranslation("Start", PageNames.Calendar, Model.LanguageId):
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <div class="input-group date">
                                <input id="settings-start-date-datetimepicker" type="text" class="form-control" data-zdp_readonly_element="false" value="@startDateTime.ToString(longDateTimeFormat)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @sortString
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button id="setting-sort-descending-button" class="btn btn-outline-info active"><i class="material-icons icon-top-4">history</i> @newestFirstString</button>
                        </div>
                        <div class="col">
                            <button id="setting-sort-ascending-button" class="btn btn-outline-info"><i class="material-icons icon-top-4">update</i> @oldestFirstString</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @await LocaleManager.GetTranslation("Period for items:", PageNames.Timeline, Model.LanguageId)
                </div>
                <div class="col-auto ml-4">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="btn btn-outline-info active on-this-day-period-button" data-period="4">
                                @await LocaleManager.GetTranslation("Year", PageNames.Timeline, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info on-this-day-period-button" data-period="3">
                                @await LocaleManager.GetTranslation("Quarter", PageNames.Timeline, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info on-this-day-period-button" data-period="2">
                                @await LocaleManager.GetTranslation("Month", PageNames.Timeline, Model.LanguageId)
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info on-this-day-period-button" data-period="1">
                                @await LocaleManager.GetTranslation("Week", PageNames.Timeline, Model.LanguageId)
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    @await LocaleManager.GetTranslation("Number of items to get:", PageNames.Timeline, Model.LanguageId)
                </div>
                <div class="col ml-4">
                    <div class="row" style="font-size: small; margin-top: 5px;">
                        <select id="items-per-page-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect">
                            <option value="5">5</option>
                            <option value="10" selected="selected">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="row">
                <div class="col-12">
                    <button id="on-this-day-page-save-settings-button" class="btn btn-success float-right"><i class="material-icons icon-top-4">save</i> @await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                </div>

            </div>
        </div>
    </div>
    <div id="show-page-settings-button-div" style="position: absolute; top: 60px; right: 0;">
        <button id="page-settings-button" class="btn btn-link btn-link-yellow bg-dark p-3 m-2" style="border-radius: 33%">
            <span><i class="material-icons icon-top-4">settings</i></span>
        </button>
    </div>
</div>
<script src="/js/timeline/on-this-day.js" type="module" asp-append-version="true"></script>