@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model CalendarItem
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.StartTime ??= DateTime.MinValue;
    Model.EndTime ??= DateTime.MinValue;
}
<a class="leavePage2" asp-controller="Calendar" asp-action="ViewEvent" asp-route-eventId="@Model.EventId">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body bg-calendar">
            <div class="info-title">
                <span style="font-size: 18px; color: white; margin-right: 12px;" class="fa fa-calendar"></span><strong style="font-size: 12px;" class="text-warning">
                    @Model.StartTime.Value.ToString("dd-MMM-yyyy HH:mm") - @Model.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")
                </strong>
            </div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@Model.Title</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@await LocaleManager.GetTranslation("Location:", PageNames.Calendar, languageId) @Model.Location</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@await LocaleManager.GetTranslation("Context:", PageNames.Calendar, languageId) @Model.Context</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@await LocaleManager.GetTranslation("Notes:", PageNames.Calendar, languageId) @Model.Notes</div>
        </div>
    </div>
</a>