@model CalendarItem
<a class="leavePage2" asp-controller="Calendar" asp-action="ViewEvent" asp-route-eventId="@Model.EventId">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: #260333; background: rgba(38, 3, 51, 0.5)">
            <div class="info-title">
                <span style="font-size: 18px; color: white; margin-right: 12px;" class="fa fa-calendar"></span><strong style="font-size: 12px;" class="text-warning">

                    @{
                        System.Diagnostics.Debug.Assert(Model.StartTime != null, "Model.StartTime != null");
                    }
                    @Model.StartTime.Value.ToString("dd-MMM-yyyy HH:mm") -

                    @{
                        System.Diagnostics.Debug.Assert(Model.EndTime != null, "Model.EndTime != null");
                    }
                    @Model.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")
                </strong>
            </div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@Model.Title</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Ort: @Model.Location</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Zusammenhang: @Model.Context</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Notizen: @Model.Notes</div>
        </div>
    </div>
</a>