@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.TypeScriptModels.TodoItems.TodoItemResponse
@inject ILocaleManager LocaleManager
@{
    string setAsNotStartedString = await LocaleManager.GetTranslation("Set as not started", PageNames.Todos, Model.LanguageId);
    string setAsInProgressString = await LocaleManager.GetTranslation("Set as in progress", PageNames.Todos, Model.LanguageId);
    string setAsCompletedString = await LocaleManager.GetTranslation("Set as completed", PageNames.Todos, Model.LanguageId);
    string setAsCancelledString = await LocaleManager.GetTranslation("Set as cancelled", PageNames.Todos, Model.LanguageId);

}
<div class="row" data-subtask-element-id="@Model.TodoItem.TodoItemId" style="background: @Model.TodoItem.StatusBackgroundColor()">
    <div class="col-auto lead">@Model.TodoItem.Title</div>
    <div class="col text-white-75 text-right" style="align-content: end;">@await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId): @await LocaleManager.GetTranslation(Model.TodoItem.StatusText(), PageNames.Todos, Model.LanguageId)</div>
    
    @if (Model.IsCurrentUserProgenyAdmin)
    {
        <a data-edit-item-type="subtask" data-edit-item-item-id="@Model.TodoItem.TodoItemId" class="btn btn-link edit-item-button btn-sm float-right mr-1" style="color: #90d0ff"><i class="fas fa-pencil-alt"></i></a>

        <div class="col-11">
            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.NotStarted)
            {
                <button class="btn btn-link btn-sm p-1 float-left text-white-75" data-set-subtask-not-started-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kinauna-icon-medium">pending_actions</i> @setAsNotStartedString
                </button>
            }
            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.InProgress)
            {
                <button class="btn btn-link btn-sm p-1 float-left text-white-75" data-set-subtask-in-progress-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kinauna-icon-medium">assignment</i> @setAsInProgressString
                </button>
            }
            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Completed)
            {
                <button class="btn btn-link btn-sm p-1 float-left text-white-75" data-set-subtask-completed-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kinauna-icon-medium">assignment_turned_in</i> @setAsCompletedString
                </button>
            }
            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Cancelled)
            {
                <button class="btn btn-link btn-sm p-1 float-left text-white-75" data-set-subtask-cancelled-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kinauna-icon-medium">playlist_remove</i> @setAsCancelledString
                </button>
            }
        </div>
        <a data-delete-item-type="subtask" data-delete-item-item-id="@Model.TodoItem.TodoItemId" class="btn btn-link delete-item-button btn-sm float-right" style="color: #ff9696;"><i class="fas fa-trash-alt"></i></a>
    }
</div>
<div class="space-10"></div>