@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.TypeScriptModels.TodoItems.TodoItemResponse
@inject ILocaleManager LocaleManager
@{
    string setAsNotStartedString = await LocaleManager.GetTranslation("Set as not started", PageNames.Todos, Model.LanguageId);
    string setAsInProgressString = await LocaleManager.GetTranslation("Set as in progress", PageNames.Todos, Model.LanguageId);
    string setAsCompletedString = await LocaleManager.GetTranslation("Set as completed", PageNames.Todos, Model.LanguageId);
    string setAsCancelledString = await LocaleManager.GetTranslation("Set as cancelled", PageNames.Todos, Model.LanguageId);
    string addToKanbanBoardString = await LocaleManager.GetTranslation("Add to Kanban board", PageNames.Todos, Model.LanguageId);
    string showDetailsString = await LocaleManager.GetTranslation("Show details", PageNames.Todos, Model.LanguageId);
    string assignToString = await LocaleManager.GetTranslation("Assign to ..", PageNames.Todos, Model.LanguageId);
}
<div class="row" data-subtask-element-id="@Model.TodoItem.TodoItemId" style="background: @Model.TodoItem.StatusBackgroundColor()">
    <div class="col-12 pt-2 pb-2">
        <img src="@Model.TodoItem.Progeny.GetProfilePictureUrl()" style="position: absolute; right: 0; top: 0; max-height: 32px; margin-top: 2px; margin-right: 6px; margin-left: 4px; border-radius: 10px; z-index: 10;"/>
        <i class="material-icons-small ml-0">@Model.TodoItem.StatusIcon()</i> <span class="lead h5">@Model.TodoItem.Title</span>
    </div>
    <div class="col-12 pl-1 pr-0">
        <div id="subtask-more-div-@Model.TodoItem.TodoItemId" class="row d-none subtask-more-info" data-subtask-more-id="@Model.TodoItem.TodoItemId">
            <div class="col-12 card-compact-body">
                <div class="row">
                    <div class="col-auto text-left mb-2">

                        <span class="text-opacity-75">@await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId):</span> @await LocaleManager.GetTranslation(Model.TodoItem.StatusText(), PageNames.Todos, Model.LanguageId)
                    </div>
                </div>

                <div class="row">
                    @if (Model.TodoItem.DueDate.HasValue)
                    {
                        <div class="col-auto text-left"><span class="text-opacity-75">@await LocaleManager.GetTranslation("Due", PageNames.Todos, Model.LanguageId):</span> @Model.TodoItem.DueDate.Value.ToString("dd-MMM-yyyy")</div>
                    }
                    @if (Model.TodoItem.StartDate.HasValue)
                    {
                        <div class="col-auto text-left"><span class="text-opacity-75">@await LocaleManager.GetTranslation("Start", PageNames.Todos, Model.LanguageId):</span> @Model.TodoItem.StartDate.Value.ToString("dd-MMM-yyyy")</div>
                    }
                    @if (Model.TodoItem.CompletedDate.HasValue && Model.TodoItem.Status == (int)KinaUnaTypes.TodoStatusType.Completed)
                    {
                        <div class="col-auto text-left">
                            <span class="text-opacity-75">@await LocaleManager.GetTranslation("Completed Date", PageNames.Todos, Model.LanguageId): @Model.TodoItem.CompletedDate?.ToString("dd-MMM-yyyy")</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.TodoItem.Location))
                    {
                        <div class="col-auto text-left"><i class="material-icons" style="font-size: 18px;">location_on</i> @Model.TodoItem.Location</div>
                    }
                </div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <button class="kanban-card-menu-button" data-subtask-more-info-button-id="@Model.TodoItem.TodoItemId"><i class="material-icons">expand_more</i></button>
            <button class="kanban-card-menu-button float-right" data-subtask-menu-button-id="@Model.TodoItem.TodoItemId"><i class="material-icons">more_horiz</i></button>
        </div>
    </div>
    <div class="col-12">
        <div class="subtask-menu-content d-none" data-subtask-menu-id="@Model.TodoItem.TodoItemId">
            <button class="kanban-card-menu-item-button" data-show-details-subtask-id="@Model.TodoItem.TodoItemId">
                <i class="material-icons kanban-menu-material-icons">fact_check</i> @showDetailsString
            </button>
            @if (Model.IsCurrentUserProgenyAdmin)
            {
                <div class="item-menu-divider"></div>
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.NotStarted) 
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-not-started-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">pending_actions</i> @setAsNotStartedString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.InProgress) 
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-in-progress-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">assignment</i> @setAsInProgressString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Completed)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-completed-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">assignment_turned_in</i> @setAsCompletedString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Cancelled)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-cancelled-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">playlist_remove</i> @setAsCancelledString
                    </button>
                }
                <div class="item-menu-divider"></div> 
                <button class="kanban-card-menu-item-button" data-subtask-assign-to-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">assignment_ind</i> @assignToString
                </button>
                <div class="item-menu-divider"></div>
                <button class="kanban-card-menu-item-button" data-subtask-add-to-kanban-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">view_kanban</i> @addToKanbanBoardString
                </button> 
                <div class="item-menu-divider"></div> 
                <button class="kanban-card-menu-item-button edit-item-button" data-edit-item-type="subtask" data-edit-item-item-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">edit</i> @await LocaleManager.GetTranslation("Edit", PageNames.AddItem, Model.LanguageId)
                </button>
                <button class="kanban-card-menu-item-button delete-item-button" data-delete-item-type="subtask" data-delete-item-item-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">delete</i> @await LocaleManager.GetTranslation("Delete", PageNames.AddItem, Model.LanguageId)
                </button>
            }
        </div>
    </div>
</div>


@if (Model.IsCurrentUserProgenyAdmin)
{
    <div id="add-subtask-to-kanban-board-modal-@Model.TodoItem.TodoItemId" class="d-none settings-modal" tabindex="-1" role="dialog"></div>
}
<div class="space-10"></div>