@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.TypeScriptModels.TodoItems.TodoItemResponse
@inject ILocaleManager LocaleManager
@{
    string setAsNotStartedString = await LocaleManager.GetTranslation("Set as not started", PageNames.Todos, Model.LanguageId);
    string setAsInProgressString = await LocaleManager.GetTranslation("Set as in progress", PageNames.Todos, Model.LanguageId);
    string setAsCompletedString = await LocaleManager.GetTranslation("Set as completed", PageNames.Todos, Model.LanguageId);
    string setAsCancelledString = await LocaleManager.GetTranslation("Set as cancelled", PageNames.Todos, Model.LanguageId);
    string addToKanbanBoardString = await LocaleManager.GetTranslation("Add to Kanban board", PageNames.Todos, Model.LanguageId);
}
<div class="row" data-subtask-element-id="@Model.TodoItem.TodoItemId" style="background: @Model.TodoItem.StatusBackgroundColor()">
    <div class="col-12 pt-2 pb-2">
        <i class="material-icons-small ml-0">@Model.TodoItem.StatusIcon()</i> <span class="lead h5">@Model.TodoItem.Title</span>
        <span class="float-right">
            <button class="kanban-card-menu-button" data-subtask-menu-button-id="@Model.TodoItem.TodoItemId"><i class="material-icons">more_horiz</i></button>
        </span>
    </div>
    @if (Model.IsCurrentUserProgenyAdmin)
    {
        <div class="col-12">
            <div class="subtask-menu-content d-none" data-subtask-menu-id="@Model.TodoItem.TodoItemId">
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.NotStarted)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-not-started-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">pending_actions</i> @setAsNotStartedString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.InProgress)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-in-progress-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">assignment</i> @setAsInProgressString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Completed)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-completed-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">assignment_turned_in</i> @setAsCompletedString
                    </button>
                }
                @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Cancelled)
                {
                    <button class="kanban-card-menu-item-button" data-set-subtask-cancelled-id="@Model.TodoItem.TodoItemId">
                        <i class="material-icons kanban-menu-material-icons">playlist_remove</i> @setAsCancelledString
                    </button>
                }
                <div class="item-menu-divider"></div>
                <button class="kanban-card-menu-item-button" data-subtask-add-to-kanban-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">view_kanban</i> @addToKanbanBoardString
                </button>
                <div class="item-menu-divider"></div>
                <button class="kanban-card-menu-item-button edit-item-button" data-edit-item-type="subtask" data-edit-item-item-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">edit</i> @await LocaleManager.GetTranslation("Edit", PageNames.AddItem, Model.LanguageId)
                </button>

                <button class="kanban-card-menu-item-button delete-item-button" data-delete-item-type="subtask" data-delete-item-item-id="@Model.TodoItem.TodoItemId">
                    <i class="material-icons kanban-menu-material-icons">delete</i> @await LocaleManager.GetTranslation("Delete", PageNames.AddItem, Model.LanguageId)
                </button>
            </div>
        </div>
    }
    <div class="col-12">
        @await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId): @await LocaleManager.GetTranslation(Model.TodoItem.StatusText(), PageNames.Todos, Model.LanguageId)
    </div>
    
</div>
@if (Model.IsCurrentUserProgenyAdmin)
{
    <div id="add-subtask-to-kanban-board-modal-@Model.TodoItem.TodoItemId" class="d-none settings-modal" tabindex="-1" role="dialog"></div>
}
<div class="space-10"></div>