@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model KinaUnaWeb.Models.FamilyViewModels.ProgenyViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = @Model.Name + " - " + await LocaleManager.GetTranslation("Edit family member", PageNames.Progeny, Model.LanguageId);
    string timeSeparator = CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator;
    string longDateTimeFormat = "dd-MMMM-yyyy HH" + timeSeparator + "mm";
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="add-item-container">
            <h2 class="col-12">@ViewData["Title"]</h2>
            <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            <div class="space-20"></div>
            <form id="save-item-form" asp-action="EditProgeny" role="form" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" class="col-auto">@await LocaleManager.GetTranslation("Name", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="Name" class="form-control" value="@Model.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NickName" class="col-auto">@await LocaleManager.GetTranslation("Display name", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="NickName" class="form-control" value="@Model.NickName" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDay" class="col-auto control-label">@await LocaleManager.GetTranslation("Birthday", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <div class="input-group date">
                            @{
                                Model.BirthDay ??= DateTime.UtcNow;
                            }
                            <input id="progeny-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="BirthDay" value="@Model.BirthDay.Value.ToString(longDateTimeFormat)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TimeZone" class="col-auto control-label">@await LocaleManager.GetTranslation("Time zone", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="TimeZone" asp-items="@Model.TimezoneList"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Admins" class="col-auto">@await LocaleManager.GetTranslation("Administrators", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="Admins" class="form-control" value="@Model.Admins" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-auto control-label">@await LocaleManager.GetTranslation("Profile picture", PageNames.Progeny, Model.LanguageId)</label>
                    <div class="col-auto">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-raised">
                                <img src="@Model.PictureLink" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                            <div>
                                <div class="btn btn-primary btn-round btn-file ">
                                    <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Progeny, Model.LanguageId)</span>
                                    <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change picture", PageNames.Progeny, Model.LanguageId)</span>
                                    <input type="file" asp-for="File" accept="image/*" />
                                </div>
                                <br />
                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                    <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Remove picture", PageNames.Progeny, Model.LanguageId)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Email" class="col-auto control-label">@await LocaleManager.GetTranslation("Email", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Email" class="form-control" value="@Model.ProgenyInfo.Email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.MobileNumber" class="col-auto control-label">@await LocaleManager.GetTranslation("Mobile number", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.MobileNumber" class="form-control" value="@Model.ProgenyInfo.MobileNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Website" class="col-auto control-label">@await LocaleManager.GetTranslation("Website", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Website" class="form-control" value="@Model.ProgenyInfo.Website"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.AddressLine1" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 1", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.AddressLine1" class="form-control" value="@Model.ProgenyInfo.Address.AddressLine1" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.AddressLine2" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 2", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.AddressLine2" class="form-control" value="@Model.ProgenyInfo.Address.AddressLine2" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.City" class="col-auto control-label">@await LocaleManager.GetTranslation("City", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.City" class="form-control" value="@Model.ProgenyInfo.Address.City" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.State" class="col-auto control-label">@await LocaleManager.GetTranslation("State/region", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.State" class="form-control" value="@Model.ProgenyInfo.Address.State" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.PostalCode" class="col-auto control-label">@await LocaleManager.GetTranslation("Postal code", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.PostalCode" class="form-control" value="@Model.ProgenyInfo.Address.PostalCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Address.Country" class="col-auto control-label">@await LocaleManager.GetTranslation("Country", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ProgenyInfo.Address.Country" class="form-control" value="@Model.ProgenyInfo.Address.Country" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProgenyInfo.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <textarea asp-for="ProgenyInfo.Notes" class="form-control" rows="4" value="@Model.ProgenyInfo.Notes"></textarea>
                    </div>
                </div>
                <div class="space-20"></div>
                <input asp-for="ProgenyId" class="form-control" value="@Model.ProgenyId" type="hidden" />
                <input asp-for="ProgenyInfo.ProgenyId" class="form-control" value="@Model.ProgenyInfo.ProgenyId" type="hidden"/>
                <input asp-for="ProgenyInfo.ProgenyInfoId" class="form-control" value="@Model.ProgenyInfo.ProgenyInfoId" type="hidden" />
                <input asp-for="ProgenyInfo.AddressIdNumber" class="form-control" value="@Model.ProgenyInfo.AddressIdNumber" type="hidden" />
                <input asp-for="ProgenyInfo.Address.AddressId" class="form-control" value="@Model.ProgenyInfo.Address.AddressId" type="hidden"/>
                <div class="form-group">
                    <div class="col-auto"></div>
                    <div class="col-auto">
                        <button class="btn btn-success leave-page" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                        <a class="btn btn-danger leave-page" asp-controller="Family" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="col-auto">
                    <strong>@await LocaleManager.GetTranslation("Name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The full name of the child.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Display name:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The name that will appear on pages, lists, etc.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Birthday:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The date and time of birth in the format day-month-year Hours: Minutes.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Time zone:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("The timezone for the birthday entered above.", PageNames.Progeny, Model.LanguageId)
                    <div class="space-20"></div>
                    <strong>@await LocaleManager.GetTranslation("Administrators:", PageNames.Progeny, Model.LanguageId)</strong> @await LocaleManager.GetTranslation("A comma separated list of email addresses.", PageNames.Progeny, Model.LanguageId)
                </div>
            </form>
        </div>
    </div>
</div>