@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.AccessManagement
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.BaseItemsViewModel
@inject ILocaleManager LocaleManager
<div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6 col-xxl-4">
    <div id="other-people-element-@Model.CurrentProgeny.Id" class="card-compact bg-todos todo-item m-1 p-2" data-other-people-id="@Model.CurrentProgeny.Id" align="left">
        @if (Model.CurrentProgeny.Id == 0)
        {
            <div>@await LocaleManager.GetTranslation("Nothing to see here yet.", PageNames.Notes, Model.LanguageId)</div>
        }
        else
        {
            <div class="row m-0">
                <div class="col-12">
                    <img src="@Model.CurrentProgeny.GetProfilePictureUrl()" class="profile-picture-small"/>
                    <span class="h4">@Model.CurrentProgeny.NickName</span>
                    @if (Model.CurrentProgeny.ProgenyPerMission.PermissionLevel >= PermissionLevel.Edit)
                    {
                        <button id="progeny-details-button-@Model.CurrentProgeny.Id" class="btn btn-link float-right pr-0"><i class="material-icons sidebar-icon">info</i></button>
                    }
                    <div>@Model.CurrentProgeny.Email</div>

                </div>
                <div class="col-12">
                    <button class="btn btn-success btn-sm float-right" id="add-to-family-button-@Model.CurrentProgeny.Id" data-other-people-id="@Model.CurrentProgeny.Id">Add to family</button>
                </div>
            </div>
        }
    </div>
</div>