@model KinaUnaWeb.Models.Progeny
@{
    ViewData["Title"] = "Kind löschen: " + Model.Name;
}
<H3 class="title">@Model.NickName löschen</H3>
<form asp-action="DeleteProgeny" role="form">
    <div class="modal-body form-horizontal">
        @Model.Name löschen?
    </div>
    <div>
        Geburtstag: @Model.BirthDay
    </div>
    <div>Alle vorhandenen Daten für @Model.Name werden gelöscht. </div>
    <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - löschen</Button><a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Nein - abbrechen</a></div>
</form>
