@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.CalendarItemViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}

@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add event", PageNames.Calendar, Model.LanguageId);
    string addEventForString = await LocaleManager.GetTranslation("Add event for:", PageNames.Calendar, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="AddEvent" role="form" method="post">
        @if (Model.ProgenyList.Count > 1)
        {
            <div class="form-group">
                <label class="control-label col-sm-3">@addEventForString </label>
                <div class="col-lg-9">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="CalendarItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-sm-3">@addEventForString</label>
                <div class="col-lg-9">
                    <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                </div>
                <input asp-for="CalendarItem.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
            </div>
        }
        <div class="form-group">
            <label asp-for="CalendarItem.Title" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Title", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-lg-9">
                <input asp-for="CalendarItem.Title" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalendarItem.StartTime" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Start", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-8 col-xs-7 col-sm-6 col-md-4">
                <div class="input-group date">
                    <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="CalendarItem.StartTime" value="@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(@Model.CurrentUser.Timezone)).ToString("dd-MMM-yyyy HH:mm")" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').Zebra_DatePicker({
                    format: 'd-M-Y H:i',
                    open_icon_only: true
                });
            });
        </script>
        <div class="form-group">
            <label asp-for="CalendarItem.EndTime" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("End", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-8 col-xs-7 col-sm-6 col-md-4">
                <div class="input-group date">
                    <input id="datetimepicker2" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="CalendarItem.EndTime" value="@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow + TimeSpan.FromMinutes(10), TimeZoneInfo.FindSystemTimeZoneById(Model.CurrentUser.Timezone)).ToString("dd-MMM-yyyy HH:mm")" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').Zebra_DatePicker({
                    format: 'd-M-Y H:i',
                    open_icon_only: true
                });
            });
        </script>
        <div class="form-group">
            <label asp-for="CalendarItem.Notes" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-lg-9">
                <textarea asp-for="CalendarItem.Notes" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalendarItem.Location" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Location", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-lg-9">
                <input asp-for="CalendarItem.Location" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalendarItem.Context" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Context", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-lg-9">
                <input asp-for="CalendarItem.Context" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalendarItem.AllDay" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("All day", PageNames.Calendar, Model.LanguageId)</label>
            <div class="col-lg-1">
                <input type="checkbox" asp-for="CalendarItem.AllDay" class="form-control" checked="@Model.CalendarItem.AllDay" value="@Model.CalendarItem.AllDay" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalendarItem.AccessLevel" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)Access Level</label>
            <div class="col-lg-9">
                <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="CalendarItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <div class="col-lg-3 col-sm-3 control-label"></div>
                <div class="col-lg-9">
                    <button id="submitBtn" class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leavePage" asp-controller="Calendar" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </div>
        <div>
            <div class="col-lg-3 col-sm-3 control-label"></div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div id="notification" style="color: orangered"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        checkTimes();
        $('#datetimepicker1').change(checkTimes);
        $('#datetimepicker2').change(checkTimes);
    });

    function checkTimes() {
        var sTime = moment($('#datetimepicker1').val(), 'DD-MMM-YYYY HH:mm');
        var eTime = moment($('#datetimepicker2').val(), 'DD-MMM-YYYY HH:mm');
        if (sTime < eTime && sTime.isValid() && eTime.isValid()) {
            $('#notification').text('');
            $('#submitBtn').prop('disabled', false);

        } else {
            $('#submitBtn').prop('disabled', true);
            $('#notification').text('@await LocaleManager.GetTranslation("Warning: Start time is after End time.", PageNames.Calendar, Model.LanguageId)');
        };
    };
</script>