@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.CalendarListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Calendar", PageNames.Calendar, Model.LanguageId);
}
<div class="row">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
        <div class="space-50"></div>
        <div id="calendar-current-culture-div" class="d-none" data-current-culture="@Model.LanguageIdForCldr()"></div>
        <div class="" style="clear: both; height: 90vh; min-height: 600px; max-height: 1180px;">
            <ejs-schedule id="schedule" height="95%" width="100%" dateFormat="dd/MMM/yyyy" views="@Model.ViewOptions">
                <e-schedule-eventsettings dataSource="@Model.EventsList">
                    <e-eventsettings-fields id="EventId">
                        <e-field-subject name="Title"></e-field-subject>
                        <e-field-location name="Location"></e-field-location>
                        <e-field-description name="Notes"></e-field-description>
                        <e-field-isallday name="AllDay"></e-field-isallday>
                        <e-field-starttime name="StartTime"></e-field-starttime>
                        <e-field-endtime name="EndTime"></e-field-endtime>
                    </e-eventsettings-fields>
                </e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
</div>
@await Html.PartialAsync("_SchedulerTranslationsPartial", Model.LanguageId)
<script>
    var syncfusionReference = ej;
    var isCurrentUserProgenyAdmin = @Model.IsCurrentUserProgenyAdmin.ToString().ToLower();
</script>
<script src="/js/calendar/calendar-index.js" type="module" asp-append-version="true"></script>