@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit sleep", PageNames.Sleep, Model.LanguageId);
    string timeSeparator = CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator;
    string longDateTimeFormat = "dd-MMMM-yyyy HH" + timeSeparator + "mm";
    string longDateTimeFormatMoment = "DD-MMMM-YYYY HH" + timeSeparator + "mm";
    string zebraDateTimeFormat = "d-F-Y H" + timeSeparator + "i";
    const int changedItemTypeSleepItem = (int)KinaUnaTypes.TimeLineType.Sleep;
}
<div class="timeline-update-data-div d-none" data-changed-item-type="@changedItemTypeSleepItem" data-changed-item-item-id="@Model.SleepItem.SleepId"></div>
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="longDateTimeFormatDiv" class="d-none" data-long-date-time-format="@longDateTimeFormat"></div>
<div id="long-date-time-format-moment-div" class="d-none" data-long-date-time-format-moment="@longDateTimeFormatMoment"></div>
<div id="add-sleep-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@ViewData["Title"]</span>
                <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            </div>
        </div>
        <form id="save-item-form" asp-action="EditSleep" asp-controller="Sleep" role="form">
            <div class="space-20"></div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="SleepItem.SleepStart" class="col-auto control-label">@await LocaleManager.GetTranslation("Start", PageNames.Sleep, Model.LanguageId)</label>
                    <div class="col">
                        <div class="input-group date">
                            @{
                                string sleepStartValue = Model.SleepItem.SleepStart.ToString(longDateTimeFormat);
                            }
                            <input id="sleep-start-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="SleepItem.SleepStart" value="@sleepStartValue" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="SleepItem.SleepEnd" class="col-auto control-label">@await LocaleManager.GetTranslation("End", PageNames.Sleep, Model.LanguageId)</label>
                    <div class="col">
                        <div class="input-group date">
                            @{
                                string sleepEndValue = Model.SleepItem.SleepEnd.ToString(longDateTimeFormat);
                            }
                            <input id="sleep-end-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="SleepItem.SleepEnd" value="@sleepEndValue" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="SleepItem.SleepRating">@await LocaleManager.GetTranslation("Sleep rating", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.RatingList.Count" asp-for="SleepItem.SleepRating" asp-items="@Model.RatingList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SleepItem.SleepNotes" class="col-auto">@await LocaleManager.GetTranslation("Notes", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea asp-for="SleepItem.SleepNotes" class="form-control" rows="4" value="@Model.SleepItem.SleepNotes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SleepItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="SleepItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <input asp-for="SleepItem.ProgenyId" value="@Model.SleepItem.ProgenyId" type="hidden" />
            <input asp-for="SleepItem.CreatedDate" value="@Model.SleepItem.CreatedDate" type="hidden" />
            <input asp-for="SleepItem.SleepId" value="@Model.SleepItem.SleepId" type="hidden" />
            <input asp-for="SleepItem.Author" value="@Model.SleepItem.Author" type="hidden" />
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger item-details-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <div id="save-item-notification" style="color: orangered"></div>
                </div>
            </div>
        </form>
    </div>
</div>