@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    string title = Model.CurrentProgeny.NickName + " : " + await LocaleManager.GetTranslation("Sleep added", PageNames.Sleep, Model.LanguageId);
    string startDateString = Model.SleepItem.SleepStart.ToString("dd MMM yyyy");
    string startTimeString = Model.SleepItem.SleepStart.ToString("HH:mm");
    string endDateString = Model.SleepItem.SleepEnd.ToString("dd MMM yyyy");
    string endTimeString = Model.SleepItem.SleepEnd.ToString("HH:mm");

    if (Model.SleepItem.SleepStart.Date == Model.SleepItem.SleepEnd.Date)
    {
        endDateString = string.Empty;
    }
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body bg-sleep item-details-content">
        <div class="row m-0">
            <div class="col-12">
                <img src="@Model.CurrentProgeny.GetProfilePictureUrl()" class="item-details-title-picture" />
                <span class="h4 mr-3 align-bottom">@title</span>
                <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">hotel</i></span>
            </div>
            <div class="col">
                <div class="timeline-title row">
                    <div class="col-12 h4">
                        @if (Model.SleepItem.SleepStart.Date == Model.SleepItem.SleepEnd.Date)
                        {
                            <div class="row">
                                <div class="col-auto">@startDateString</div>
                                <div class="col-auto font-weight-normal">@startTimeString - @endTimeString</div>
                            </div>
                            
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">@startDateString</div>
                                    </div>
                                    <div class="row">
                                        <div class="col font-weight-normal text-right">@startTimeString</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">@endDateString</div>
                                    </div>
                                    <div class="row">
                                        <div class="col font-weight-normal ">@endTimeString</div>
                                    </div>
                                </div>
                            </div>
                            
                        }
                    </div>
                </div>
                <div class="timeline-text row m-0 text-white-75">
                    @await LocaleManager.GetTranslation("Duration:", PageNames.Sleep, Model.LanguageId) @Model.SleepItem.SleepDuration
                </div>

            </div>
            @if (Model.IsCurrentUserProgenyAdmin)
            {
                <div class="col-12">
                    <a data-edit-item-type="sleep" data-edit-item-item-id="@Model.SleepItem.SleepId" class="btn btn-info item-details-edit-button edit-item-button"><i class="fas fa-pencil-alt"></i></a>
                    <a asp-controller="Sleep" asp-action="DeleteSleep" asp-route-itemId="@Model.SleepItem.SleepId" class="btn btn-danger item-details-delete-button float-right"><i class="fas fa-trash-alt"></i></a>
                </div>

            }
        </div>
    </div>
</div>