@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete sleep", PageNames.Sleep, Model.LanguageId);
}
<h2>@ViewData["Title"] - @await LocaleManager.GetTranslation("from", PageNames.Sleep, Model.LanguageId) @Model.Sleep.SleepStart @await LocaleManager.GetTranslation("to", PageNames.Sleep, Model.LanguageId) @Model.Sleep.SleepEnd</h2>
<form asp-action="DeleteSleep" role="form" method="post">
    <div>
        @await LocaleManager.GetTranslation("Are you sure you want to delete this sleep record?", PageNames.Sleep, Model.LanguageId)
    </div>
    <br/>
    <div>
        @await LocaleManager.GetTranslation("Start:", PageNames.Sleep, Model.LanguageId) @Model.Sleep.SleepStart
    </div>
    <br/>
    <div>
        @await LocaleManager.GetTranslation("End:", PageNames.Sleep, Model.LanguageId) @Model.Sleep.SleepEnd
    </div>
    <br/>
    <div>
        @await LocaleManager.GetTranslation("Notes:", PageNames.Sleep, Model.LanguageId) @Model.Sleep.SleepNotes
    </div>
    <br />
    <input asp-for="Sleep.SleepId" class="form-control" value="@Model.Sleep.SleepId" type="hidden" />
    <div>
        <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes - delete this sleep record", PageNames.Sleep, Model.LanguageId)</Button>
        <a class="btn btn-danger leavePage" asp-controller="Sleep" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
    </div>
</form>