@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit sleep", PageNames.Sleep, Model.LanguageId);
}
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}

<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="EditSleep" role="form" method="post">
            <div class="form-group">
                <label asp-for="SleepItem.SleepStart" class="col-auto control-label">@await LocaleManager.GetTranslation("Start", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        @{
                            string sleepStartValue = Model.SleepItem.SleepStart.ToString("dd-MMM-yyyy HH:mm");
                        }
                        <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="SleepItem.SleepStart" value="@sleepStartValue" />
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').Zebra_DatePicker({
                    format: 'd-M-Y H:i',
                    open_icon_only: true
                });
            });
        </script>
            <div class="form-group">
                <label asp-for="SleepItem.SleepEnd" class="col-auto control-label">@await LocaleManager.GetTranslation("End", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        @{
                            string sleepEndValue = Model.SleepItem.SleepEnd.ToString("dd-MMM-yyyy HH:mm");
                        }
                        <input id="datetimepicker2" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="SleepItem.SleepEnd" value="@sleepEndValue" />
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').Zebra_DatePicker({
                    format: 'd-M-Y H:i',
                    open_icon_only: true
                });
            });
        </script>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="SleepItem.SleepRating">@await LocaleManager.GetTranslation("Sleep rating", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.RatingList.Count" asp-for="SleepItem.SleepRating" asp-items="@Model.RatingList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SleepItem.SleepNotes" class="col-auto">@await LocaleManager.GetTranslation("Notes", PageNames.Sleep, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea asp-for="SleepItem.SleepNotes" class="form-control" rows="4" value="@Model.SleepItem.SleepNotes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SleepItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="SleepItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <input asp-for="SleepItem.ProgenyId" value="@Model.SleepItem.ProgenyId" type="hidden" />
            <input asp-for="SleepItem.CreatedDate" value="@Model.SleepItem.CreatedDate" type="hidden" />
            <input asp-for="SleepItem.SleepId" value="@Model.SleepItem.SleepId" type="hidden" />
            <input asp-for="SleepItem.Author" value="@Model.SleepItem.Author" type="hidden" />
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button id="submitBtn" class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leavePage" asp-controller="Sleep" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <div id="notification" style="color: orangered"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        checkTimes();
        $('#datetimepicker1').change(checkTimes);
        $('#datetimepicker2').change(checkTimes);
    });

    function checkTimes() {
        let sTime = moment($('#datetimepicker1').val(), 'DD-MMM-YYYY HH:mm');
        let eTime = moment($('#datetimepicker2').val(), 'DD-MMM-YYYY HH:mm');
        if (sTime < eTime && sTime.isValid() && eTime.isValid()) {
            $('#notification').text('');
            $('#submitBtn').prop('disabled', false);

        } else {
            $('#submitBtn').prop('disabled', true);
            $('#notification').text('Warning: Start time is after End time.');
        };
    };
</script>