@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    string sleepString = await LocaleManager.GetTranslation("Sleep list", PageNames.Sleep, Model.LanguageId);
    ViewData["Title"] = sleepString;
}
@section Scripts
{
    <link href="/lib/nouislider/nouislider.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <script src="~/lib/nouislider/nouislider.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
}
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="popup-sleep-id-div" class="d-none" data-popup-sleep-id="@Model.SleepId"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10 ml-2">
    <div class="container">
        <div class="page-tab-container">
            <div class="page-tab active" id="page-title-div"><a class="btn-page-tab active" asp-controller="Sleep" asp-action="Index" asp-route-childId="@Model.CurrentProgenyId">
                <i class="fas fa-list"></i> @sleepString
            </a></div>
            <div class="page-tab">
                <a class="btn-page-tab" asp-controller="Sleep" asp-action="SleepCalendar" asp-route-childId="@Model.CurrentProgenyId">
                    <i class="far fa-calendar-alt"></i> @await LocaleManager.GetTranslation("Sleep calendar", PageNames.Sleep, Model.LanguageId)
                </a>
            </div>
        </div>
        <div class="space-20"></div>
        <h2>@ViewData["Title"]</h2>
    </div>
    <div id="progeny-selector-container"></div>
    <div class="space-20"></div>
    <div id="sleep-list-container-div"></div>
</div>
<script src="/js/sleep/sleep-index-v12.js" type="module" asp-append-version="true"></script>