@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Sleep calendar", PageNames.Sleep, Model.LanguageId);
    string sleepString = await LocaleManager.GetTranslation("Sleep list", PageNames.Sleep, Model.LanguageId);
}
@section Scripts{
    <link href="/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet" asp-append-version="true"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/lib/fullcalendar/fullcalendar.min.js" asp-append-version="true"></script>
}
<script>

    $(function() {

        $('#calendar').fullCalendar({
            height: 'auto',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaTenWeeks,agendaFourWeeks,agendaWeek,agendaDay'
            },
            views: {
                month: {
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                agendaWeek: {
                    columnFormat: 'ddd D MMM'
                },
                agendaDay: {
                    titleFormat: 'D MMM YYYY'
                    // other view-specific options here
                },
                agendaFourWeeks: {
                    type: 'agenda',
                    duration: { months: 1 },
                    buttonText: '@await LocaleManager.GetTranslation("1 month", PageNames.Sleep, Model.LanguageId)'
                },
                agendaTenWeeks: {
                    type: 'agenda',
                    duration: { months: 3 },
                    buttonText: '@await LocaleManager.GetTranslation("3 months", PageNames.Sleep, Model.LanguageId)'
                }
            },
            allDayDefault: false,
            titleFormat: 'D MMM YYYY',
            defaultView: 'agendaWeek',
            defaultDate: '@DateTime.Now.Date.ToString("yyyy-MM-dd")',
            navLinks: true, // can click day/week names to navigate views
            allDaySlot: false,
            slotDuration: '01:00:00',
            slotLabelFormat: 'HH(:mm)',
            scrollTime: '00:00:00',
            weekNumbers: true,
            weekNumbersWithinDays: true,
            weekNumberCalculation: 'ISO',
            timeFormat: 'HH:mm',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                @foreach (Sleep ev in Model.SleepList)
                {
                    string itemText = "";
                    for (int i = 0; i < ev.SleepRating; i++)
                    {
                        itemText = itemText + "*";
                    }
                    @Html.Raw("{id: '" + ev.SleepId + "', title: '" + itemText + " " + ev.SleepDuration.ToString(@"hh\:mm") + "', allDay: false, start: '" + ev.StartString + "', end: '" + ev.EndString + "', editable: false},")
                }
            ],
            themeSystem: 'bootstrap4'
        });

        var myElement = document.querySelector('#calendar');
        myElement.addEventListener("touchstart", startTouch, false);
        myElement.addEventListener("touchmove", moveTouch, false);

        // Swipe Up / Down / Left / Right
        var initialX = null;
        var initialY = null;

        function startTouch(e) {
            initialX = e.touches[0].clientX;
            initialY = e.touches[0].clientY;
        };

        function moveTouch(e) {
            if (initialX === null) {
                return;
            }

            if (initialY === null) {
                return;
            }

            let currentX = e.touches[0].clientX;
            let currentY = e.touches[0].clientY;

            let diffX = initialX - currentX;
            let diffY = initialY - currentY;

            if (Math.abs(diffX) > Math.abs(diffY)) {
                // sliding horizontally
                if (diffX > 0) {
                    // swiped left
                    console.log("swiped left");
                    $('#calendar').fullCalendar('next');
                } else {
                    // swiped right
                    console.log("swiped right");
                    $('#calendar').fullCalendar('prev');
                }
            } else {
                // sliding vertically
                if (diffY > 0) {
                    // swiped up
                    console.log("swiped up");
                } else {
                    // swiped down
                    console.log("swiped down");
                }
            }

            initialX = null;
            initialY = null;

            e.preventDefault();
        };
    });

</script>
@if (Model.IsCurrentUserProgenyAdmin)
{
    <div class="btn-group" style="float: right;">
        <a asp-controller="Sleep" asp-action="AddSleep" class="btn btn-success btn-round leave-page">
            <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add sleep", PageNames.Sleep, Model.LanguageId)
        </a>
    </div>
}
<div class="page-tab-container">
    <div class="page-tab" id="page-title-div">
        <a class="btn-page-tab" asp-controller="Sleep" asp-action="Index" asp-route-childId="@Model.CurrentProgenyId">
            <i class="fas fa-list"></i> @sleepString
        </a></div>
    <div class="page-tab active">
        <a class="btn-page-tab active" asp-controller="Sleep" asp-action="SleepCalendar" asp-route-childId="@Model.CurrentProgenyId">
            <i class="far fa-calendar-alt"></i> @await LocaleManager.GetTranslation("Sleep calendar", PageNames.Sleep, Model.LanguageId)
        </a>
    </div>
</div>
<div class="space-20"></div>
<h2>@ViewData["Title"]</h2>
<br />
<div style="clear: both;">
    <div class="fc fc-unthemed fc-ltr" id="calendar">
    </div>
</div>
