@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.AccessManagement
@model KinaUnaWeb.Models.ProgeniesViewModels.ProgenyItemPermissionsViewModel
<div>Use Progeny.NickName's default Permissions [Checkbox]</div>
<div class="space-20"></div>
<div>Custom Permissions:</div>
<div>
    Permission: No access
    <div id="item-permissions-progeny-none-div">
        @foreach (ProgenyPermission permission in Model.ProgenyPermissionsList)
        {
            if (permission.PermissionLevel == PermissionLevel.None)
            {
                if (permission.GroupId > 0)
                {
                    UserGroup group = Model.UserGroupsList.FirstOrDefault(g => g.UserGroupId == permission.GroupId);
                    if (group != null)
                    {
                        <div class="ml-4">
                            @group.Name
                        </div>
                    }
                }

                if (!string.IsNullOrWhiteSpace(permission.UserId))
                {
                    UserInfo user = Model.UserList.FirstOrDefault(u => u.UserId == permission.UserId);
                    if (user != null)
                    {
                        <div class="ml-4">
                            @user.UserEmail (@user.FullName())
                        </div>
                    }
                }
            }
        }
    </div>
</div>
<div>
    Permission: View
    <div id="item-permissions-progeny-view-div">
    </div>
    @foreach (ProgenyPermission permission in Model.ProgenyPermissionsList)
    {
        if (permission.PermissionLevel == PermissionLevel.View || permission.PermissionLevel == PermissionLevel.Add)
        {
            if (permission.GroupId > 0)
            {
                UserGroup group = Model.UserGroupsList.FirstOrDefault(g => g.UserGroupId == permission.GroupId);
                if (group != null)
                {
                    <div class="ml-4">
                        @group.Name
                    </div>
                }
            }

            if (!string.IsNullOrWhiteSpace(permission.UserId))
            {
                UserInfo user = Model.UserList.FirstOrDefault(u => u.UserId == permission.UserId);
                if (user != null)
                {
                    <div class="ml-4">
                        @user.UserEmail (@user.FullName())
                    </div>
                }
            }
        }
    }
</div>
<div>
    Permission: Edit
    <div id="item-permissions-progeny-edit-div">
    </div>
    @foreach (ProgenyPermission permission in Model.ProgenyPermissionsList)
    {
        if (permission.PermissionLevel == PermissionLevel.Edit)
        {
            if (permission.GroupId > 0)
            {
                UserGroup group = Model.UserGroupsList.FirstOrDefault(g => g.UserGroupId == permission.GroupId);
                if (group != null)
                {
                    <div class="ml-4">
                        @group.Name
                    </div>
                }
            }

            if (!string.IsNullOrWhiteSpace(permission.UserId))
            {
                UserInfo user = Model.UserList.FirstOrDefault(u => u.UserId == permission.UserId);
                if (user != null)
                {
                    <div class="ml-4">
                        @user.UserEmail (@user.FullName())
                    </div>
                }
            }
        }
    }
</div>
<div>
    Permission: Admin
    <div id="item-permissions-progeny-admin-div">
    </div>
    @foreach (ProgenyPermission permission in Model.ProgenyPermissionsList)
    {
        if (permission.PermissionLevel == PermissionLevel.Admin)
        {
            if (permission.GroupId > 0)
            {
                UserGroup group = Model.UserGroupsList.FirstOrDefault(g => g.UserGroupId == permission.GroupId);
                if (group != null)
                {
                    <div class="ml-4">
                        @group.Name
                    </div>
                }
            }
            if (!string.IsNullOrWhiteSpace(permission.UserId))
            {
                UserInfo user = Model.UserList.FirstOrDefault(u => u.UserId == permission.UserId);
                if (user != null)
                {
                    <div class="ml-4">
                        @user.UserEmail (@user.FullName())
                    </div>
                }
            }
        }
    }
</div>
@* Todo: Permissions for CreatorOnly and Private items. *@
