@model KinaUnaWeb.Models.FamilyViewModels.UserAccessViewModel
<H3 class="title">Tilføj bruger</H3>
<form asp-action="AddAccess" role="form">
    @if (Model.ProgenyList.Count > 1)
    {
        <div class="form-group">
            <label class="control-label col-sm-3">Tilføj bruger for </label>
            <div class="col-lg-9">
                <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="ProgenyId" asp-items="@Model.ProgenyList"></select>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-sm-3">Tilføj bruger for</label>
            <div class="col-lg-9">
                <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
            </div>
            <input asp-for="ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
        </div>
    }
    <div class="form-group">
        <label asp-for="Email" class="col-3 control-label">Email adresse</label>
        <div class="col-9">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-3 control-label">Adgangsniveau</label>
        <div class="col-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListDa.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListDa"></select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <div class="col-3 control-label"></div>
            <div class="col-9">
                <button class="btn btn-success leavePage" type="submit">Tilføj</button>
                <a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Fortryd</a>
            </div>
        </div>
    </div>
</form>