@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.FamilyViewModels.UserAccessViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add user", PageNames.AccessManagement, Model.LanguageId);
    string addUserForString = await LocaleManager.GetTranslation("Add user for", PageNames.AccessManagement, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="AddAccess" role="form">
            @if (Model.ProgenyList.Count > 1)
            {
                <div class="form-group">
                    <label class="control-label col-auto">@addUserForString</label>
                    <div class="col-auto">
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="CurrentProgenyId" asp-items="@Model.ProgenyList"></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-auto">@addUserForString</label>
                    <div class="col-auto">
                        <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                    </div>
                    <input asp-for="CurrentProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
                </div>
            }
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Email", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <div>
                <div class="form-group">
                    <div class="col-auto control-label"></div>
                    <div class="col-auto">
                        <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AccessManagement, Model.LanguageId)</button>
                        <a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AccessManagement, Model.LanguageId)</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
