@model KinaUnaWeb.Models.FamilyViewModels.UserAccessViewModel
<H3 class="title">Slet brugers adgang til @Model.ProgenyName</H3>
<form asp-action="DeleteAccess" role="form">
    <div class="modal-body form-horizontal">
        Er du sikker på at du vil fjerne @Model.UserName?
    </div>
    <div>
        Fornavn: @Model.FirstName
    </div>
    <div>
        Mellemnavn: @Model.MiddleName
    </div>
    <div>
        Efternavn: @Model.LastName
    </div>
    <div>
        Email: @Model.Email
    </div>

    <input asp-for="AccessId" class="form-control" value="@Model.AccessId" type="hidden" />
    <div><Button class="btn btn-success leavePage">Ja</Button><a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">Nej - Fortryd</a></div>
</form>