@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.FamilyViewModels.UserAccessViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit user access for", PageNames.AccessManagement, Model.LanguageId) + " " + @Model.ProgenyName;
}
<h2>@ViewData["Title"]</h2>
<form asp-action="EditAccess" role="form">
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label class="col-3 control-label">@await LocaleManager.GetTranslation("Email", PageNames.AccessManagement, Model.LanguageId)</label>
                    <div class="col-9">
                        <input asp-for="Email" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-3 control-label">@await LocaleManager.GetTranslation("Username", PageNames.AccessManagement, Model.LanguageId)</label>
                    <div class="col-9">
                        <input asp-for="UserName" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-3 control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                    <div class="col-9">
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                    </div>
                </div>
                <input asp-for="ProgenyId" class="form-control" value="@Model.ProgenyId" type="hidden" />
                <input asp-for="AccessId" class="form-control" value="@Model.AccessId" type="hidden" />
                <div>
                    <div class="form-group">
                        <div class="col-3 control-label"></div>
                        <div class="col-9">
                            <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AccessManagement, Model.LanguageId)</button>
                            <a class="btn btn-danger leavePage" asp-controller="AccessManagement" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AccessManagement, Model.LanguageId)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>