@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.UserInfoViewModel
@section Scripts{
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js" asp-append-version="true"></script>
}
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("My profile", PageNames.Account, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-auto control-label" asp-for="UserName">@await LocaleManager.GetTranslation("User name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="FirstName">@await LocaleManager.GetTranslation("First name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="MiddleName">@await LocaleManager.GetTranslation("Middle name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="MiddleName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="LastName">@await LocaleManager.GetTranslation("Last name", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Timezone" class="col-auto control-label">@await LocaleManager.GetTranslation("Time zone", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="Timezone" asp-items="@Model.TimezoneList"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="UserEmail">@await LocaleManager.GetTranslation("Email", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="UserEmail" class="form-control" />
                            <div class="input-group-append" aria-hidden="true">
                                <div class="input-group-text">
                                    <i class="fas fa-check text-success"></i>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="UserEmail" class="form-control" />
                        <div class="col-auto">
                            <button id="send-verification-email" asp-action="ChangeEmail" asp-route-OldEmail="@Model.UserEmail" asp-route-NewEmail="" class="btn btn-link">@await LocaleManager.GetTranslation("Change/confirm email", PageNames.Account, Model.LanguageId)</button>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label" asp-for="PhoneNumber">@await LocaleManager.GetTranslation("Phone number", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Profile picture", PageNames.Account, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="@Model.ProfilePicture" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        <div>
                            <div class="btn btn-primary btn-round btn-file ">
                                <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Account, Model.LanguageId)</span>
                                <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change", PageNames.Account, Model.LanguageId)</span>
                                <input type="file" asp-for="File" accept="image/*" />
                            </div>
                            <br />
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i>@await LocaleManager.GetTranslation("Remove", PageNames.Account, Model.LanguageId)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success leave-page">@await LocaleManager.GetTranslation("Save", PageNames.Account, Model.LanguageId)</button>
                </div>
            </div>
        </form>
        <div class="space-20"></div>
        <div class="row">
            <div class="col-auto">
                <a id="enable-push-button" class="btn btn-info leave-page" style="display: none;" asp-action="EnablePush">@await LocaleManager.GetTranslation("Enable Push Notifications", PageNames.Account, Model.LanguageId)</a>
                <a id="disable-push-button" class="btn btn-warning leave-page" style="display: none;" asp-action="DisablePush">@await LocaleManager.GetTranslation("Disable Push Notifications", PageNames.Account, Model.LanguageId)</a>
            </div>
            <div class="col-auto">
                <form id="login-form" action="@Model.ChangeLink" method="get" target="loginFrame">
                    <button id="change-password-button" type="submit" class="btn btn-info" data-toggle="modal" data-target="#loginModal" style="float: right;"><span class="fas fa-sign-in-alt"></span>@await LocaleManager.GetTranslation("Change Password", PageNames.Account, Model.LanguageId) </button>
                </form>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <div class="col-12">
                <form id="delete-account-form" asp-action="DeleteAccount" method="get">
                    <button id="deleteAccountButton" type="submit" class="btn btn-secondary"><span class="fas fa-sign-in-alt"></span>@await LocaleManager.GetTranslation("Delete account", PageNames.Account, Model.LanguageId)</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/account/my-account.js">
    
</script>