@model KinaUnaWeb.Models.ItemViewModels.UserInfoViewModel
@section Scripts{
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
}
@{
    ViewData["Title"] = "Min profil";
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName">Brugernavn</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName">Fornavn</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MiddleName">Mellemnavn</label>
                <input asp-for="MiddleName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Efternavn</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Timezone" class="control-label">Tidszone</label>
                <div>
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="Timezone" asp-items="@Model.TimezoneList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail">Email</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="UserEmail" class="form-control" />
                        <div class="input-group-append" aria-hidden="true">
                            <div class="input-group-text">
                                <i class="fas fa-check text-success"></i>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="UserEmail" class="form-control" />
                    <button id="sendVerificationEmail" asp-action="ChangeEmail" asp-route-OldEmail="@Model.UserEmail" asp-route-NewEmail="" class="btn btn-link">Skift/bekræft email</button>
                }
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm3 control-label">Profil-billede</label>
                <div class="col-lg-9">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="@Model.ProfilePicture" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        <div>
                            <div class="btn btn-primary btn-round btn-file ">
                                <span data-trigger="fileinput" class="fileinput-new">Nyt billede</span>
                                <span class="fileinput-exists">Vælg et andet billede</span>
                                <input type="file" asp-for="File" accept="image/*" />
                            </div>
                            <br />
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> Fjern
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success leavePage">Gem</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <form id="loginForm" action="@Model.ChangeLink" method="get" target="loginFrame" style="float: right;">
            <button id="changePasswordButton" type="submit" class="btn btn-info" data-toggle="modal" data-target="#loginModal" style="float: right;"><span class="fas fa-sign-in-alt"></span> Skift Password</button>
        </form>
        <a id="enablePushButton" class="btn btn-info leavePage" style="display: none;" asp-action="EnablePush">Slå push-meddelelser til</a>
        <a id="disablePushButton" class="btn btn-warning leavePage" style="display: none;" asp-action="DisablePush">Slå push-meddelelser fra</a>
    </div>
</div>
<br />
<script>
    navigator.serviceWorker.ready.then(function (reg) {
        // Do we already have a push message subscription?
        reg.pushManager.getSubscription()
            .then(function (subscription) {
                let isSubscribed = subscription;
                let enableBtn = document.getElementById('enablePushButton');
                let disableBtn = document.getElementById('disablePushButton');
                if (isSubscribed) {
                    console.log('User is already subscribed to push notifications');
                    enableBtn.style.display = 'none';
                    disableBtn.style.display = 'inline-block';

                } else {
                    console.log('User is not yet subscribed to push notifications');
                    disableBtn.style.display = 'none';
                    enableBtn.style.display = 'inline-block';
                }
            })
            .catch(function (err) {
                console.log('[req.pushManager.getSubscription] Unable to get subscription details.', err);
            });
    });
</script>