@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.TodoViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add todo", PageNames.Todos, Model.LanguageId);
    string addTodoForString = await LocaleManager.GetTranslation("Add todo for:", PageNames.Todos, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    const string longDateTimeFormatMoment = "DD-MMMM-YYYY";

    foreach (SelectListItem statusItem in Model.StatusList)
    {
        statusItem.Text = await LocaleManager.GetTranslation(statusItem.Text, PageNames.Todos, Model.LanguageId);
    }
    foreach (SelectListItem accessLevelItem in Model.AccessLevelListEn)
    {
        accessLevelItem.Text = await LocaleManager.GetTranslation(accessLevelItem.Text, PageNames.AccessManagement, Model.LanguageId);
    }

    Model.KanbanBoardsList[0].Text = await LocaleManager.GetTranslation("Do not add to a Kanban board", PageNames.Todos, Model.LanguageId);
}
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="add-todo-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div id="long-date-time-format-moment-div" class="d-none" data-long-date-time-format-moment="@longDateTimeFormatMoment"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@ViewData["Title"]</span>
                <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            </div>
        </div>
        <form id="save-item-form" asp-action="AddTodo" asp-controller="Todos" role="form" method="post">
            <div class="space-20"></div>
            @if (Model.ProgenyList.Count > 1)
            {
                <div class="form-group">
                    <label asp-for="TodoItem.ProgenyId" class="col-auto control-label">@addTodoForString </label>
                    <div class="col-auto">
                        <select id="item-progeny-id-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="TodoItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="TodoItem.ProgenyId" class="col-auto control-label">@addTodoForString</label>
                    <div class="col-auto">
                        <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text"/>
                    </div>
                    <input asp-for="TodoItem.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden"/>
                </div>
            }
            <div class="form-group">
                <label asp-for="TodoItem.Title" class="col-auto control-label">@await LocaleManager.GetTranslation("Title", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="todo-title-input" asp-for="TodoItem.Title" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Description" class="col-auto control-label">@await LocaleManager.GetTranslation("Description", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    @{
                        string[] toolbarItems = new[]
                        {
                            "Bold", "Italic", "Underline", "StrikeThrough",
                            "FontName", "FontSize", "FontColor", "BackgroundColor",
                            "LowerCase", "UpperCase", "|",
                            "Formats", "Alignments", "OrderedList", "UnorderedList",
                            "Outdent", "Indent", "|",
                            "CreateLink", "Image", "CreateTable", "|", "ClearFormat",
                            "SourceCode", "FullScreen", "|", "Undo", "Redo"
                        };
                    }
                    <ejs-richtexteditor id="description-rich-text-editor" ejs-for="TodoItem.Description" height="300px" enableResize="true">
                        <e-richtexteditor-toolbarsettings items="@toolbarItems"></e-richtexteditor-toolbarsettings>
                        <e-richtexteditor-insertimagesettings saveUrl="/AddItem/SaveRtfFile" path=""></e-richtexteditor-insertimagesettings>
                        <e-content-template>

                        </e-content-template>
                    </ejs-richtexteditor>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.DueDate" class="col-auto control-label">@await LocaleManager.GetTranslation("Due Date", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="todo-due-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="TodoItem.DueDate"
                               value="@Model.TodoItem.DueDate?.ToString(longDateTimeFormat)"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.StartDate" class="col-auto control-label">@await LocaleManager.GetTranslation("Start Date", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="todo-start-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="TodoItem.StartDate"
                               value="@Model.TodoItem.StartDate?.ToString(longDateTimeFormat)"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Status" class="col-auto control-label">@await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId) </label>
                <div class="col-auto">
                    <select id="todo-status-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.StatusList.Count" asp-for="TodoItem.Status" asp-items="@Model.StatusList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Context" class="col-auto control-label">@await LocaleManager.GetTranslation("Context", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="context-input" asp-for="TodoItem.Context" class="form-control" placeholder="@await LocaleManager.GetTranslation("Add context...", PageNames.Contacts, Model.LanguageId)"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Location" class="col-auto control-label">@await LocaleManager.GetTranslation("Location", PageNames.Locations, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="location-input" type="text" asp-for="TodoItem.Location" placeholder="@await LocaleManager.GetTranslation("Add location name entry...", PageNames.Pictures, Model.LanguageId)" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Tags" class="col-auto control-label">@await LocaleManager.GetTranslation("Tags", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="tag-list" type="text" asp-for="TodoItem.Tags" value="@Model.TodoItem.Tags" placeholder="@await LocaleManager.GetTranslation("Add tag...", PageNames.Contacts, Model.LanguageId)" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea rows="4" asp-for="TodoItem.Notes" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="TodoItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-10"></div>
            <div class="form-group">
                <label asp-for="AddToKanbanBoardId" class="col-auto control-label">@await LocaleManager.GetTranslation("Add to Kanban Board", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    <select id="add-todo-item-to-kanban-board-select" class="selectpicker form-control form-control-inherit-color" data-style="btn-kinaunaselect" data-size="@Model.KanbanBoardsList.Count" asp-for="AddToKanbanBoardId" asp-items="@Model.KanbanBoardsList"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button id="save-todo-button" disabled="disabled" class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger item-details-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
                <div id="validation-errors-div" class="col-auto">
                    <div id="todo-title-required-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Title is required and cannot be blank.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-due-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Due date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-start-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Start date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-completed-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Completed date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<ejs-scripts></ejs-scripts>