@model KinaUnaWeb.Models.ItemViewModels.TodoViewModel;
@using KinaUna.Data
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@{
    string assignToString = await LocaleManager.GetTranslation("Assign todo to", PageNames.Todos, Model.LanguageId);
    if (Model.TodoItem.ParentTodoItemId != 0)
    {
        assignToString = await LocaleManager.GetTranslation("Assign subtask to", PageNames.Todos, Model.LanguageId);
    }
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body bg-dark modal-content item-details-content" style="width: fit-content;">
        <div class="row text-white m-0 item-details-header">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">fact_check</i></span>
            </div>
            <div class="col">
                <div class="h4 mr-3 align-bottom">
                    @assignToString
                </div>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row m-0">
            <div class="col-12">
                <div class="row m-0">
                    <div class="col-12">
                        <div class="h5">@Model.TodoItem.Title</div>
                    </div>
                </div>
                <div class="space-20"></div>
                @if (Model.IsCurrentUserProgenyAdmin)
                {
                    <form id="assign-todo-item-to-form" asp-action="AssignTodoItemTo" asp-controller="Todos" role="form" method="post">
                        <div class="form-group">
                            <div class="col-auto">
                                <select id="assign-todo-item-to-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="TodoItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="TodoItem.TodoItemId" value="@Model.TodoItem.TodoItemId"/>
                            <div class="col">
                                <button id="assign-todo-item-to-submit-button" type="submit" class="btn btn-success" data-todo-item-id="@Model.TodoItem.TodoItemId">@assignToString</button>
                                <button type="button" class="btn btn-danger assign-todo-item-to-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
