@model KinaUnaWeb.Models.ItemViewModels.TodoViewModel
@using System.Web
@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.TodoItem.Progeny.NickName + " : " + await LocaleManager.GetTranslation("Todo", PageNames.Notes, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="timeline-card-body bg-todos">
        <div class="row m-0">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">fact_check</i></span>
            </div>
            <div class="col">
                <div class="timeline-title row">
                    <div class="col-12 h4">
                        @if (Model.CurrentUser.CanUserAddItems)
                        {
                            <button class="btn btn-link p-3 text-white-50 float-right copy-item-button" data-copy-item-item-id="@Model.TodoItem.TodoItemId" data-copy-item-type="todo">
                                <i class="material-icons kinauna-icon-medium">content_copy</i>
                            </button>
                        }
                        @Model.TodoItem.Title
                    </div>
                </div>
                <div class="row text-white">
                    <div class="col-auto">@await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId): @await LocaleManager.GetTranslation(Model.TodoItem.StatusText(), PageNames.Todos, Model.LanguageId)</div>
                </div>
                @if (Model.TodoItem.DueDate.HasValue)
                {
                    <div class="row text-white">
                        <div class="col-auto">@await LocaleManager.GetTranslation("Due Date", PageNames.Todos, Model.LanguageId) : @Model.TodoItem.DueDate?.ToString("dd-MMM-yyyy")</div>
                    </div>
                }
                @if (Model.TodoItem.StartDate.HasValue)
                {

                }
                else
                {
                    <div class="row text-white">
                        <div class="col-auto">@await LocaleManager.GetTranslation("Start Date", PageNames.Todos, Model.LanguageId) : @Model.TodoItem.CreatedTime.ToString("dd-MMM-yyyy")</div>
                    </div>
                }
                @if (Model.TodoItem.CompletedDate.HasValue && Model.TodoItem.Status == (int)KinaUnaTypes.TodoStatusType.Completed)
                {
                    <div class="row text-white">
                        <div class="col-auto">@await LocaleManager.GetTranslation("Completed Date", PageNames.Todos, Model.LanguageId) : @Model.TodoItem.CompletedDate?.ToString("dd-MMM-yyyy")</div>
                    </div>
                }
                <div class="space-10"></div>
                <div class="timeline-text row m-0 text-white-75">
                    <div class="timeline-noteitem-text text-dark bg-white col-12 p-4">@Html.Raw(HttpUtility.HtmlDecode(Model.TodoItem.Description))</div>
                    @if (!string.IsNullOrEmpty(Model.TodoItem.Context))
                    {
                        List<string> contextsList = Model.TodoItem.Context.Split(',').ToList();
                        <div class="col-12 text-right">
                            @foreach (string contextsString in contextsList)
                            {
                                <span class="btn context-item tag-item-sm">@contextsString</span>
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Model.IsCurrentUserProgenyAdmin)
            {
                <div class="col-12">
                    <div class="space-10"></div>
                    <div class="row">
                        <div class="col-12 text-right text-white-50">Created by: @Model.TodoItem.CreatedBy</div>
                    </div>
                    <div class="space-20"></div>
                    <div class="row ml-5">
                        <div class="col-12">
                            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.NotStarted)
                            {
                                <button class="btn btn-link p-3 float-left text-white-50" data-set-todo-item-not-started-id="@Model.TodoItem.TodoItemId">
                                    <i class="material-icons kinauna-icon-medium">pending_actions</i> Set as not started
                                </button>
                            }
                            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.InProgress)
                            {
                                <button class="btn btn-link p-3 float-left text-white-50" data-set-todo-item-in-progress-id="@Model.TodoItem.TodoItemId">
                                    <i class="material-icons kinauna-icon-medium">assignment</i> Set as in progress
                                </button>
                            }
                            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Completed)
                            {
                                <button class="btn btn-link p-3 float-left text-white-50" data-set-todo-item-completed-id="@Model.TodoItem.TodoItemId">
                                    <i class="material-icons kinauna-icon-medium">assignment_turned_in</i> Set as completed
                                </button>
                            }
                            @if (Model.TodoItem.Status != (int)KinaUnaTypes.TodoStatusType.Cancelled)
                            {
                                <button class="btn btn-link p-3 float-right text-white-50" data-set-todo-item-cancelled-id="@Model.TodoItem.TodoItemId">
                                    <i class="material-icons kinauna-icon-medium">playlist_remove</i> Set as cancelled
                                </button>
                            }
                        </div>


                    </div>
                </div>

                <div class="col-12">
                    <a data-edit-item-type="todo" data-edit-item-item-id="@Model.TodoItem.TodoItemId" class="btn btn-info item-details-edit-button edit-item-button"><i class="fas fa-pencil-alt"></i></a>
                    <a asp-controller="Todos" asp-action="DeleteTodo" asp-route-itemId="@Model.TodoItem.TodoItemId" class="btn btn-danger item-details-delete-button float-right"><i class="fas fa-trash-alt"></i></a>
                </div>

            }
        </div>
    </div>
</div>