@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.MeasurementViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit Measurement", PageNames.Measurements, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    const int changedItemTypeMeasurementItem = (int)KinaUnaTypes.TimeLineType.Measurement;
}
<div class="timeline-update-data-div d-none" data-changed-item-type="@changedItemTypeMeasurementItem" data-changed-item-item-id="@Model.MeasurementItem.MeasurementId"></div>
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="add-measurement-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@ViewData["Title"]</span>
                <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            </div>
        </div>
        
        <form id="save-item-form" asp-action="EditMeasurement" asp-controller="Measurements" role="form" method="post">
            <div class="space-20"></div>
            <div class="form-group">
                <label asp-for="MeasurementItem.Height" class="col-auto control-label">@await LocaleManager.GetTranslation("Height", PageNames.Measurements, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="MeasurementItem.Height" class="form-control" value="@Model.MeasurementItem.Height"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementItem.Weight" class="col-auto control-label">@await LocaleManager.GetTranslation("Weight", PageNames.Measurements, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="MeasurementItem.Weight" class="form-control" value="@Model.MeasurementItem.Weight"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementItem.Circumference" class="col-auto control-label">@await LocaleManager.GetTranslation("Circumference", PageNames.Measurements, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="MeasurementItem.Circumference" class="form-control" value="@Model.MeasurementItem.Circumference"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementItem.Date" class="col-auto control-label">@await LocaleManager.GetTranslation("Date", PageNames.Measurements, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="measurement-date-time-picker" type="text"
                               class="form-control" data-zdp_readonly_element="false" asp-for="MeasurementItem.Date" value="@Model.MeasurementItem.Date.ToString(longDateTimeFormat)"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="MeasurementItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <input asp-for="MeasurementItem.ProgenyId" value="@Model.MeasurementItem.ProgenyId" type="hidden"/>
            <input asp-for="MeasurementItem.CreatedDate" value="@Model.MeasurementItem.CreatedDate" type="hidden"/>
            <input asp-for="MeasurementItem.MeasurementId" value="@Model.MeasurementItem.MeasurementId" type="hidden"/>
            <input asp-for="MeasurementItem.Author" value="@Model.MeasurementItem.Author" type="hidden"/>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger item-details-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </form>
    </div>
</div>