@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.MeasurementViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete measurement", PageNames.Measurements, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="DeleteMeasurement" role="form" method="post">
        <div>
            @await LocaleManager.GetTranslation("Are you sure you want to delete this measurements from", PageNames.Friends, Model.LanguageId) @Model.MeasurementItem.Date.ToShortDateString()
        </div>
        <br />
        <div>
            @await LocaleManager.GetTranslation("Height:", PageNames.Friends, Model.LanguageId) @Model.MeasurementItem.Height
        </div>
        <br />
        <div>
            @await LocaleManager.GetTranslation("Weight:", PageNames.Friends, Model.LanguageId) @Model.MeasurementItem.Weight
        </div>
        <br />
        <div>@await LocaleManager.GetTranslation("Hair color:", PageNames.Friends, Model.LanguageId) @Model.MeasurementItem.HairColor</div>
        <br />
        <div>@await LocaleManager.GetTranslation("Eye color:", PageNames.Friends, Model.LanguageId) @Model.MeasurementItem.EyeColor</div>
        <br />
        <input asp-for="MeasurementItem.MeasurementId" class="form-control" value="@Model.MeasurementItem.MeasurementId" type="hidden" />
        <div>
            <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes, delete this measurement", PageNames.Friends, Model.LanguageId)</Button>
            <a class="btn btn-danger leavePage" asp-controller="Measurements" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
        </div>
    </form>
</div>