@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model KinaUnaWeb.Models.ItemViewModels.MeasurementViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Measurements", PageNames.Measurements, Model.LanguageId);
    string heightString = await LocaleManager.GetTranslation("Height", PageNames.Measurements, Model.LanguageId);
    string weightString = await LocaleManager.GetTranslation("Weight", PageNames.Measurements, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    @if (Model.MeasurementsList == null || !Model.MeasurementsList.Any())
    {
        <h2>@ViewData["Title"]</h2>
        <div>
            @await LocaleManager.GetTranslation("Nothing to see here yet.", PageNames.Measurements, Model.LanguageId)
        </div>
    }
    else
    {
        if (Model.IsCurrentUserProgenyAdmin)
        {
            <div class="btn-group" style="float: right;">
                <a asp-controller="Measurements" asp-action="AddMeasurement" class="btn btn-success btn-round leave-page">
                    <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add measurement", PageNames.Measurements, Model.LanguageId)
                </a>
            </div>
        }
        <h2>@ViewData["Title"]</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="margin-top: 15px;">
                <thead>
                    <tr>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Date", PageNames.Measurements, Model.LanguageId)</th>
                        <th style="font-weight: bold">@heightString</th>
                        <th style="font-weight: bold">@weightString</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Head size", PageNames.Measurements, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Eye color", PageNames.Measurements, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Hair color", PageNames.Measurements, Model.LanguageId)</th>
                        @if (Model.IsCurrentUserProgenyAdmin)
                        {
                            <th style="font-weight: bold">@await LocaleManager.GetTranslation("Action", PageNames.Measurements, Model.LanguageId)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Measurement measurementItem in Model.MeasurementsList)
                    {
                        <tr>
                            <td style="min-width: 100px;">@measurementItem.Date.ToString("dd-MMM-yyyy")</td>
                            <td>@measurementItem.Height</td>
                            <td>@measurementItem.Weight</td>
                            <td>@measurementItem.Circumference</td>
                            <td>@measurementItem.EyeColor</td>
                            <td>@measurementItem.HairColor</td>
                            @if (Model.IsCurrentUserProgenyAdmin)
                            {
                                <td>
                                    <div>
                                        <a asp-controller="Measurements" asp-action="EditMeasurement" asp-route-itemId="@measurementItem.MeasurementId" class="btn btn-info btn-round btn-sm leave-page">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-controller="Measurements" asp-action="DeleteMeasurement" asp-route-itemId="@measurementItem.MeasurementId" class="btn btn-danger btn-round btn-sm leave-page">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <canvas id="chart-container" style="clear: both; height: 380px;"></canvas>
        <br />
        <canvas id="chart-container2" style="clear: both; height: 380px;"></canvas>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script type="text/javascript">
            var heightData = [@foreach (Measurement heightItem in Model.MeasurementsList)
                              {
                                  if (heightItem.Height > 0.0)
                                  {
                                      string chartYear = heightItem.Date.Year.ToString();
                                      string chartMonth = (heightItem.Date.Month - 1).ToString();
                                      string chartDay = heightItem.Date.Day.ToString();
                                      @Html.Raw("{ t: new Date(" + chartYear + ", " + chartMonth + ", " + chartDay + "), y: " + heightItem.Height.ToString(CultureInfo.InvariantCulture) + "},")
                                  }
                              }];
        var heightString = '@heightString';
        var weightData = [@foreach (Measurement weightItem in Model.MeasurementsList)
                          {
                              if (weightItem.Weight > 0.0)
                              {
                                  string chartYear = weightItem.Date.Year.ToString();
                                  string chartMonth = (weightItem.Date.Month - 1).ToString();
                                  string chartDay = weightItem.Date.Day.ToString();
                                  @Html.Raw("{ x: new Date(" + chartYear + ", " + chartMonth + ", " + chartDay + "), y: " + weightItem.Weight.ToString(CultureInfo.InvariantCulture) + "},")
                              }
                          }];
                          var weightString = '@weightString';
        </script>
        <script src="/js/measurements/measurements-index.js" type="module" asp-append-version="true"></script>
    }
</div>
