@model KinaUnaWeb.Models.ItemViewModels.NoteViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="/lib/moment.min.js"></script>
    <script src="/lib/momentLocale/da.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/lib/quilljs/image-resize.min.js"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H4>Tilføj Note</H4>
<form asp-action="AddNote" role="form" method="post" onsubmit="return copyContent();">
    @if (Model.ProgenyList.Count > 1)
    {
        <div class="form-group">
            <label class="control-label col-sm-3">Tilføj note for</label>
            <div class="col-lg-9">
                <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="ProgenyId" asp-items="@Model.ProgenyList"></select>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-sm-3">Tilføj note for</label>
            <div class="col-lg-9">
                <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
            </div>
            <input asp-for="ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
        </div>
    }
    <div class="form-group">
        <label asp-for="Title" class="col-lg-3 col-sm-3 control-label">Titel</label>
        <div class="col-lg-9">
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-lg-3 col-sm-3 control-label">Indhold</label>
        <div class="col-lg-9">
            <input asp-for="Content" type="hidden">
            <div id="editor">

            </div>
        </div>
        <script>
            var quill = new Quill('#editor', {
                modules: {
                    imageResize: {},
                    toolbar: [
                        [{ header: [1, 2, false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block']
                    ]
                },
                theme: 'snow'
            });

            function copyContent() {
                // Populate hidden form on submit
                var myEditor = document.querySelector('#editor');
                var html = myEditor.children[0].innerHTML;
                var notecontent = document.querySelector('input[name=Content]');
                notecontent.value = html; // JSON.stringify(quill.getContents());
                return true;
            }
        </script>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="col-lg-3 col-sm-3 control-label">Kategori</label>
        <div class="col-lg-9">
            <input asp-for="Category" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-lg-3 col-sm-3 control-label">Adgangsniveau</label>
        <div class="col-lg-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListDa.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListDa"></select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <div class="col-lg-3 col-sm-3 control-label"></div>
            <div class="col-lg-9">
                <button class="btn btn-success leavePage" type="submit">Gem</button>
                <a class="btn btn-danger leavePage" asp-controller="Notes" asp-action="Index">Afbryd</a>
            </div>
        </div>
    </div>
</form>