@model KinaUnaWeb.Models.ItemViewModels.PictureViewModel
<H4>Delete Picture</H4>
<form asp-action="DeletePicture" role="form" method="post">
    <div>
        Are you sure you want to delete this Picture?
    </div>
    <div>
        <img src="@Model.PictureLink" class="img-responsive" style="max-width: 600px;" />
        @if (Model.PictureTime.HasValue)
        {
            <div>Date and time: @Model.PictureTime.Value.ToString("dd-MMM-yyyy HH:mm")"</div>
        }
    </div>

    <input asp-for="PictureId" class="form-control" value="@Model.PictureId" type="hidden" />
    <input asp-for="ProgenyId" class="form-control" value="@Model.ProgenyId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Yes</Button><a class="btn btn-danger leavePage" asp-controller="Pictures" asp-action="Picture" asp-route-id="@Model.PictureId" asp-route-childId="@Model.ProgenyId">Cancel</a></div>
</form>
