@model KinaUna.Data.Models.CalendarItem

<H4>Slet begivenhed: @Model.Title</H4>
<form asp-action="DeleteEvent" role="form" method="post">
    <div >
        Er du sikker på at du vil slette @Model.Title ?
    </div>
    <br/>
    @if(Model.StartTime != null)
    {
    <div>Start: @Model.StartTime.Value</div>
    }
    @if (Model.EndTime != null)
    {
    <div>Slut: @Model.EndTime.Value</div>
    }
    <br/>
    <div>
        Noter: @Model.Notes
    </div>
    <br/>
    <div>Sted: @Model.Location</div>
    <br />
    <input asp-for="EventId" class="form-control" value="@Model.EventId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Calendar" asp-action="Index">Nej - fortryd</a></div>
</form>