@model KinaUna.Data.Models.Friend
<H4>Slet ven: @Model.Name</H4>
<form asp-action="DeleteFriend" role="form" method="post">
    <div>
        Er du sikker på at du vil slette @Model.Name?
    </div>
    <br/>
    <div>
        <img src="@Model.PictureLink"/>
    </div>
    <br/>
    <div>
        Beskrivelse: @Model.Description
    </div>
    <br />
    <input asp-for="FriendId" class="form-control" value="@Model.FriendId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Friends" asp-action="Index">Nej - fortryd</a></div>
</form>