@using KinaUnaWeb.Models
@model KinaUnaWeb.Models.Location
<H4>Slet sted @Model.Name</H4>
<form asp-action="DeleteLocation" role="form" method="post">
    <div>
        Er du sikker på at du vil slette @Model.Name ?
    </div>
    <div>Breddegrad: @Model.Latitude, Længdegrad: @Model.Longitude</div>
    <br />
    <br />
    @if(Model.Date != null)
    {
    <div>Dato: @Model.Date.Value</div>
    }
    <br />
    <div>Gade/vej: @Model.StreetName</div>
    <br />
    <div>Nummer: @Model.HouseNumber</div>
    <br />
    <div>Distrikt: @Model.District</div>
    <br />
    <div>By: @Model.City</div>
    <br />
    <div>Postnummer: @Model.PostalCode</div>
    <br />
    <div>Amt: @Model.County</div>
    <br />
    <div>Stat/region: @Model.State</div>
    <br />
    <div>Land: @Model.Country</div>
    <br />
    <div>
        Noter: @Model.Notes
    </div>
    <br />

    <input asp-for="LocationId" class="form-control" value="@Model.LocationId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Ja - slet</Button><a class="btn btn-danger leavePage" asp-controller="Locations" asp-action="Index">Nej - fortryd</a></div>
</form>