@model KinaUna.Data.Models.Contact
<H4>Delete Contact: @Model.DisplayName</H4>
<form asp-action="DeleteContact" role="form" method="post">
    <div>Are you sure you want to delete @Model.FirstName @Model.MiddleName @Model.LastName?</div>
    <br/>
    <div>
        <img src="@Model.PictureLink" />
    </div>
    <br />
    <input asp-for="ContactId" class="form-control" value="@Model.ContactId" type="hidden" />
    <div><Button type="submit" class="btn btn-success leavePage">Yes</Button><a class="btn btn-danger leavePage" asp-controller="Contacts" asp-action="Index">Cancel</a></div>
</form>