@model KinaUnaWeb.Models.ItemViewModels.FriendViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link href="/css/amsify.suggestags.css" rel="stylesheet" />
    <script src="/lib/jquery.amsify.suggestags.js"></script>
    <script src="/lib/moment.min.js"></script>
    <script src="/lib/momentLocale/da.js"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Rediger ven</H3>
<form asp-action="EditFriend" role="form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="col-lg-3 col-sm-3 control-label">Navn</label>
        <div class="col-lg-9">
            <input asp-for="Name" class="form-control" value="@Model.Name" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-lg-3 col-sm-3 control-label">Beskrivelse</label>
        <div class="col-lg-9">
            <textarea asp-for="Description" class="form-control" rows="4" value="@Model.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-sm3 control-label">Foto</label>
        <div class="col-lg-9">
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                <div class="fileinput-new thumbnail img-raised">
                    <img src="@Model.PictureLink" alt="...">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                <div>
                    <div class="btn btn-primary btn-round btn-file ">
                        <span data-trigger="fileinput" class="fileinput-new">Nyt foto</span>
                        <span class="fileinput-exists">Andet foto</span>
                        <input type="file" name="File" accept="image/*" />
                    </div>
                    <br />
                    <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Fjern
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FriendSince" class="col-lg-3 col-sm-3 control-label">Venner siden</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            @{ DateTime fs = new DateTime(); }
            @if (Model.FriendSince.HasValue)
            {
                fs = Model.FriendSince.Value;
            }
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy" type="text"
                       class="form-control" data-zdp_readonly_element="false" asp-for="FriendSince" value="@fs.ToString("dd-MMM-yyyy")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y',
                open_icon_only: true,
                days: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
                show_select_today: "Idag",
                lang_clear_date: 'Ryd dato'
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="Type" class="col-lg-3 col-sm-3 control-label">Vennetype</label>
        <div class="col-lg-9">
            <select class="selectpicker form-control-noline" data-style="select-with-transition" data-size="@Model.FriendTypeListDa.Count" asp-for="Type" asp-items="@Model.FriendTypeListDa"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Context" class="col-lg-3 col-sm-3 control-label">Sammenhæng</label>
        <div class="col-lg-9">
            <input asp-for="Context" class="form-control" value="@Model.Context" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="col-lg-3 col-sm-3 control-label">Noter</label>
        <div class="col-lg-9">
            <textarea asp-for="Notes" class="form-control" rows="4" value="@Model.Notes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-sm-2 control-label">Tags</label>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <input id="tagList" type="text" asp-for="Tags" value="@Model.Tags" placeholder="Add tag..." class="form-control" />
        </div>
        <script>
            $('input[name="Tags"').amsifySuggestags({
                suggestions: @Html.Raw(ViewBag.TagsList)
            });
        </script>
    </div>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-lg-3 col-sm-3 control-label">Adgangsniveau</label>
        <div class="col-lg-9">
            <select class="selectpicker form-control-noline" data-style="select-with-transition" data-size="@Model.AccessLevelListDa.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListDa"></select>
        </div>
    </div>
    <input asp-for="ProgenyId" value="@Model.ProgenyId" type="hidden" />
    <input asp-for="FriendAddedDate" value="@Model.FriendAddedDate" type="hidden" />
    <input asp-for="FriendId" value="@Model.FriendId" type="hidden" />
    <input asp-for="PictureLink" value="@Model.PictureLink" type="hidden" />
    <input asp-for="Author" value="@Model.Author" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-lg-3 col-sm-3 control-label"></div>
            <div class="col-lg-9">
                <button class="btn btn-success leavePage" type="submit">Gem</button>
                <a class="btn btn-danger leavePage" asp-controller="Friends" asp-action="Index">Fortryd</a>
            </div>
        </div>
    </div>
</form>