@model KinaUnaWeb.Models.ItemViewModels.MeasurementViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Edit Measurement</H3>
<form asp-action="EditMeasurement" role="form" method="post">
    <div class="form-group">
        <label asp-for="Height" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-6">
            <input asp-for="Height" class="form-control" value="@Model.Height" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Weight" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-6">
            <input asp-for="Weight" class="form-control" value="@Model.Weight" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Circumference" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-6">
            <input asp-for="Circumference" class="form-control" value="@Model.Circumference" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="col-lg-3 col-sm-3 control-label">Date</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy" type="text"
                       class="form-control" data-zdp_readonly_element="false" asp-for="Date" value="@Model.Date.ToString("dd-MMM-yyyy")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y',
                open_icon_only: true
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-lg-3 col-sm-3 control-label">Access Level</label>
        <div class="col-lg-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
        </div>
    </div>
    <input asp-for="ProgenyId" value="@Model.ProgenyId" type="hidden" />
    <input asp-for="CreatedDate" value="@Model.CreatedDate" type="hidden" />
    <input asp-for="MeasurementId" value="@Model.MeasurementId" type="hidden" />
    <input asp-for="Author" value="@Model.Author" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-lg-3 col-sm-3 control-label"></div>
            <div class="col-lg-9">
                <button class="btn btn-success leavePage" type="submit">Save</button>
                <a class="btn btn-danger leavePage" asp-controller="Measurements" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>