@model KinaUnaWeb.Models.ItemViewModels.SleepViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="/lib/momentLocale/da.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Rediger søvn</H3>
<form asp-action="EditSleep" role="form" method="post">
    <div class="form-group">
        <label asp-for="SleepStart" class="col-3 control-label">Start</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text"
                       class="form-control" data-zdp_readonly_element="false" asp-for="SleepStart"
                       value="@Model.SleepStart.Value.ToString("dd-MMM-yyyy HH:mm")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true,
                days: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
                show_select_today: "Idag",
                lang_clear_date: 'Ryd dato'
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="SleepEnd" class="col-3 control-label">Slut</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker2" data-format="dd-MMM-yyyy HH:mm" type="text"
                       class="form-control" data-zdp_readonly_element="false" asp-for="SleepEnd"
                       value="@Model.SleepEnd.Value.ToString("dd-MMM-yyyy HH:mm")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true,
                days: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
                show_select_today: "Idag",
                lang_clear_date: 'Ryd dato'
            });
        });
    </script>
    <div class="form-group">
        <label class="col-3 control-label" asp-for="SleepRating">Bedømmelse</label>
        <div class="col-6 col-xs-5 col-sm-4 col-md-3">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@ViewBag.RatingList.Count" asp-for="SleepRating" asp-items="@ViewBag.RatingList"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SleepNotes" class="col-3 control-label">Noter</label>
        <div class="col-9">
            <textarea asp-for="SleepNotes" class="form-control" rows="4" value="@Model.SleepNotes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-3 control-label">Adgangsniveau</label>
        <div class="col-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListDa.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListDa"></select>
        </div>
    </div>
    <input asp-for="ProgenyId" value="@Model.ProgenyId" type="hidden" />
    <input asp-for="CreatedDate" value="@Model.CreatedDate" type="hidden" />
    <input asp-for="SleepId" value="@Model.SleepId" type="hidden" />
    <input asp-for="Author" value="@Model.Author" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-3 control-label"></div>
            <div class="col-9">
                <button class="btn btn-success leavePage" type="submit">Gem</button>
                <a class="btn btn-danger leavePage" asp-controller="Sleep" asp-action="Index">Afbryd</a>
            </div>
        </div>
    </div>
    <div>
        <div class="col-3 control-label"></div>
        <div class="col-9">
            <div id="notification" style="color: orangered"></div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        checkTimes();
        $('#datetimepicker1').change(checkTimes);
        $('#datetimepicker2').change(checkTimes);
    });

    function checkTimes() {
        var sTime = moment($('#datetimepicker1').val(), 'DD-MMM-YYYY HH:mm');
        var eTime = moment($('#datetimepicker2').val(), 'DD-MMM-YYYY HH:mm');
        if (sTime < eTime && sTime.isValid() && eTime.isValid()) {
            $('#notification').text('');
            $('#submitBtn').prop('disabled', false);

        } else {
            $('#submitBtn').prop('disabled', true);
            $('#notification').text('Advarsel: Start tiden er efter slut tiden.');
        };
    };
</script>