@model KinaUnaWeb.Models.ItemViewModels.CalendarItemViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Edit Event</H3>
<form asp-action="EditEvent" role="form" method="post">
    <div class="form-group">
        <label asp-for="Title" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-9">
            <input asp-for="Title" class="form-control" value="@Model.Title" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StartTime" class="col-lg-3 col-sm-3 control-label">Start</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control"
                       data-zdp_readonly_element="false" asp-for="StartTime"
                       value="@{
                                  System.Diagnostics.Debug.Assert(Model.StartTime != null, "Model.StartTime != null");
                              }@Model.StartTime.Value.ToString("dd-MMM-yyyy HH:mm")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="EndTime" class="col-lg-3 col-sm-3 control-label">End</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker2" data-format="dd-MMM-yyyy HH:mm" type="text" class="form-control"
                       data-zdp_readonly_element="false" asp-for="EndTime"
                       value="@{
                                  System.Diagnostics.Debug.Assert(Model.EndTime != null, "Model.EndTime != null");
                              }@Model.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').Zebra_DatePicker({
                format: 'd-M-Y H:i',
                open_icon_only: true
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="Notes" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-9">
            <textarea asp-for="Notes" class="form-control" rows="4" value="@Model.Notes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-9">
            <input asp-for="Location" class="form-control" value="@Model.Location" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Context" class="col-lg-3 col-sm-3 control-label"></label>
        <div class="col-lg-9">
            <input asp-for="Context" class="form-control" value="@Model.Context" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AllDay" class="col-lg-3 col-sm-3 control-label">All Day</label>
        <div class="col-lg-1">
            <input type="checkbox" asp-for="AllDay" class="form-control" checked="@Model.AllDay" value="@Model.AllDay"/>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-lg-3 col-sm-3 control-label">Access Level</label>
        <div class="col-lg-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
        </div>
    </div>
    <input asp-for="ProgenyId" value="@Model.ProgenyId" type="hidden" />
    <input asp-for="EventId" value="@Model.EventId" type="hidden" />
    <input asp-for="Author" value="@Model.Author" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-lg-3 col-sm-3 control-label"></div>
            <div class="col-lg-9">
                <button id="submitBtn" class="btn btn-success leavePage" type="submit">Save</button>
                <a class="btn btn-danger leavePage" asp-controller="Calendar" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
    <div>
        <div class="col-lg-3 col-sm-3 control-label"></div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div id="notification" style="color: orangered"></div>
        </div>
    </div>
</form>

<script type="text/javascript">
        $(document).ready(function () {
            checkTimes();
            $('#datetimepicker1').change(checkTimes);
            $('#datetimepicker2').change(checkTimes);
        });

        function checkTimes() {
            var sTime = moment($('#datetimepicker1').val(), 'DD-MMM-YYYY HH:mm');
            var eTime = moment($('#datetimepicker2').val(), 'DD-MMM-YYYY HH:mm');
            if (sTime < eTime && sTime.isValid() && eTime.isValid()) {
                $('#notification').text('');
                $('#submitBtn').prop('disabled', false);

            } else {
                $('#submitBtn').prop('disabled', true);
                $('#notification').text(    'Warning: Start time is aft    er End time.');
            };
        };
</script>