@model KinaUnaWeb.Models.ItemViewModels.VocabularyItemViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="/lib/momentLocale/da.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<H3 class="title">Rediger ord</H3>
<form asp-action="EditVocabulary" role="form" method="post">
    <div class="form-group">
        <label asp-for="Word" class="col-3 control-label">Ord</label>
        <div class="col-9">
            <input asp-for="Word" class="form-control" value="@Model.Word" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SoundsLike" class="col-3 control-label">Lyder som</label>
        <div class="col-9">
            <input asp-for="SoundsLike" class="form-control" value="@Model.SoundsLike" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-3 control-label">Beskrivelse</label>
        <div class="col-9">
            <textarea asp-for="Description" class="form-control" rows="4" value="@Model.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Language" class="col-3 control-label">Sprog</label>
        <div class="col-9">
            <input asp-for="Language" class="form-control" value="@Model.Language" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="col-3 control-label">Dato</label>
        <div class="col-8 col-xs-7 col-sm-6 col-md-4">
            <div class="input-group date">
                <input id="datetimepicker1" data-format="dd-MMM-yyyy" type="text"
                       class="form-control" data-zdp_readonly_element="false" asp-for="Date"
                       value="@{
                                  System.Diagnostics.Debug.Assert(Model.Date != null, "Model.Date != null");
                              }@Model.Date.Value.ToString("dd-MMM-yyyy")" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').Zebra_DatePicker({
                format: 'd-M-Y',
                open_icon_only: true,
                days: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
                show_select_today: "Idag",
                lang_clear_date: 'Ryd dato'
            });
        });
    </script>
    <div class="form-group">
        <label asp-for="AccessLevel" class="col-3 control-label">Adgangsniveau</label>
        <div class="col-9">
            <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListDa.Count" asp-for="AccessLevel" asp-items="@Model.AccessLevelListDa"></select>
        </div>
    </div>
    <input asp-for="ProgenyId" value="@Model.ProgenyId" type="hidden" />
    <input asp-for="DateAdded" value="@Model.DateAdded" type="hidden" />
    <input asp-for="WordId" value="@Model.WordId" type="hidden" />
    <input asp-for="Author" value="@Model.Author" type="hidden" />
    <div>
        <div class="form-group">
            <div class="col-3 control-label"></div>
            <div class="col-9">
                <button class="btn btn-success leavePage" type="submit">Gem</button>
                <a class="btn btn-danger leavePage" asp-controller="Vocabulary" asp-action="Index">Fortryd</a>
            </div>
        </div>
    </div>
</form>