@using KinaUna.Data
@using KinaUna.Data.Models.AccessManagement
@using KinaUnaWeb.Models.ItemViewModels
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.SkillsListViewModel
@inject ILocaleManager LocaleManager
@{
    string title = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Skillz", PageNames.Skills, Model.LanguageId);
}

<h2>@title</h2>
<div class="space-20"></div>
@if (Model.SkillsList == null || !Model.SkillsList.Any())
{
    <div>@await LocaleManager.GetTranslation("Nothing to see here yet", PageNames.Skills, Model.LanguageId)</div>
}
else
{
    <div class="table-responsive">
        <table id="skills-list" class="table table-bordered table-striped" style="border-spacing: 0;">
            <thead>
                <tr>
                    <th style="font-weight: bold">@await LocaleManager.GetTranslation("Name", PageNames.Skills, Model.LanguageId)</th>
                    <th style="font-weight: bold">@await LocaleManager.GetTranslation("Description", PageNames.Skills, Model.LanguageId)</th>
                    <th style="font-weight: bold">@await LocaleManager.GetTranslation("Category", PageNames.Skills, Model.LanguageId)</th>
                    <th style="font-weight: bold">@await LocaleManager.GetTranslation("First observation", PageNames.Skills, Model.LanguageId)</th>
                    <th style="font-weight: bold">@await LocaleManager.GetTranslation("Details", PageNames.Home, Model.LanguageId)</th>
                    @if (Model.SkillsList.Exists(s => s.SkillItem.ItemPerMission?.PermissionLevel >= PermissionLevel.Edit))
                    {
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Action", PageNames.Skills, Model.LanguageId)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (SkillViewModel skillViewModel in Model.SkillsList)
                {
                    <tr>
                        <td style="min-width: 100px;">@skillViewModel.SkillItem.Name</td>
                        <td style="min-width: 100px;">@skillViewModel.SkillItem.Description</td>
                        <td style="min-width: 100px;">@skillViewModel.SkillItem.Category</td>
                        @if (skillViewModel.SkillItem.SkillFirstObservation != null)
                        {
                            <td style="min-width: 100px;">@skillViewModel.SkillItem.SkillFirstObservation.Value.ToString("dd-MMMM-yyyy")</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        <td>
                            <a data-skill-item-id="@skillViewModel.SkillItem.SkillId" class="btn btn-info btn-sm skill-details-button">
                                <i class="material-icons">article</i>
                            </a>
                        </td>
                        @if (skillViewModel.SkillItem.ItemPerMission?.PermissionLevel >= PermissionLevel.Edit)
                        {
                            <td style="min-width: 135px;">
                                <div>
                                    <a data-edit-item-type="skill" data-edit-item-item-id="@skillViewModel.SkillItem.SkillId" class="btn btn-info btn-round btn-sm item-details-edit-button edit-item-button">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    @if (skillViewModel.SkillItem.ItemPerMission?.PermissionLevel >= PermissionLevel.Admin)
                                    {
                                        <a asp-controller="Skills" asp-action="DeleteSkill" asp-route-itemId="@skillViewModel.SkillItem.SkillId" class="btn btn-danger btn-round btn-sm leave-page">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}