@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.VocabularyItemViewModel
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <script src="/lib/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add word", PageNames.Vocabulary, Model.LanguageId);
    string addWordForString = await LocaleManager.GetTranslation("Add word for:", PageNames.Vocabulary, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xl-10 col-xxl-9">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="AddVocabulary" role="form" method="post">
        @if (Model.ProgenyList.Count > 1)
        {
            <div class="form-group">
                <label class="control-label col-sm-3">@addWordForString </label>
                <div class="col-lg-9">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="VocabularyItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-sm-3">@addWordForString </label>
                <div class="col-lg-6">
                    <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                </div>
                <input asp-for="VocabularyItem.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
            </div>
        }
        <div class="form-group">
            <label asp-for="VocabularyItem.Word" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Word", PageNames.Vocabulary, Model.LanguageId)</label>
            <div class="col-lg-6">
                <input asp-for="VocabularyItem.Word" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VocabularyItem.SoundsLike" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Sounds like", PageNames.Vocabulary, Model.LanguageId)</label>
            <div class="col-lg-6">
                <input asp-for="VocabularyItem.SoundsLike" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VocabularyItem.Description" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Description", PageNames.Vocabulary, Model.LanguageId)</label>
            <div class="col-lg-6">
                <textarea asp-for="VocabularyItem.Description" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VocabularyItem.Language" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Language", PageNames.Vocabulary, Model.LanguageId)</label>
            <div class="col-lg-6">
                <input asp-for="VocabularyItem.Language" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VocabularyItem.Date" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Date", PageNames.Vocabulary, Model.LanguageId)</label>
            <div class="col-8 col-xs-7 col-sm-6 col-md-4">
                <div class="input-group date">
                    <input id="datetimepicker1" data-format="dd-MMM-yyyy" type="text"
                           class="form-control" data-zdp_readonly_element="false" asp-for="VocabularyItem.Date"
                           value="" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').Zebra_DatePicker({
                    format: 'd-M-Y',
                    open_icon_only: true
                });
            });
        </script>
        <div class="form-group">
            <label asp-for="VocabularyItem.AccessLevel" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
            <div class="col-lg-9">
                <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="VocabularyItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <div class="col-lg-3 col-sm-3 control-label"></div>
                <div class="col-lg-9">
                    <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leavePage" asp-controller="Vocabulary" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </div>
    </form>
</div>