@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.VocabularyItemViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete word", PageNames.Vocabulary, Model.LanguageId);
}
<h2>@ViewData["Title"] - @Model.VocabularyItem.Word</h2>
<form asp-action="DeleteVocabulary" role="form" method="post">
    <div>
        @await LocaleManager.GetTranslation("Are you sure you want to delete this word?", PageNames.Vocabulary, Model.LanguageId) @Model.VocabularyItem.Word
    </div>
    <br/>
    <div>
        @await LocaleManager.GetTranslation("Description:", PageNames.Vocabulary, Model.LanguageId) @Model.VocabularyItem.Description
    </div>
    <br/>
    <input asp-for="VocabularyItem.WordId" class="form-control" value="@Model.VocabularyItem.WordId" type="hidden" />
    <div>
        <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes - delete this word", PageNames.Vocabulary, Model.LanguageId)</Button>
        <a class="btn btn-danger leavePage" asp-controller="Vocabulary" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
    </div>
</form>
