@using KinaUnaWeb.Models.ItemViewModels
@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model VocabularyListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Vocabulary", PageNames.Vocabulary, Model.LanguageId);
}
@section Scripts{
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>
}

<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    @if (!Model.VocabularyList.Any())
    {
        <h2>@ViewData["Title"]</h2>
        <div>
            @await LocaleManager.GetTranslation("Nothing to see here yet.", PageNames.Vocabulary, Model.LanguageId)
        </div>
    }
    else
    {
        <div class="container">
            @if (Model.IsCurrentUserProgenyAdmin)
            {
                <div class="btn-group" style="float: right;">
                    <a asp-controller="Vocabulary" asp-action="AddVocabulary" class="btn btn-success btn-round leave-page">
                        <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add word", PageNames.Vocabulary, Model.LanguageId)
                    </a>
                </div>
            }
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="table-responsive">
            <table id="word-list-table" class="table table-bordered table-striped" style="border-spacing: 0;">
                <thead>
                    <tr>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Word", PageNames.Vocabulary, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Sounds like", PageNames.Vocabulary, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Description", PageNames.Vocabulary, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Language", PageNames.Vocabulary, Model.LanguageId)</th>
                        <th style="font-weight: bold">@await LocaleManager.GetTranslation("Date", PageNames.Vocabulary, Model.LanguageId)</th>
                        @if (Model.IsCurrentUserProgenyAdmin)
                        {
                            <th style="font-weight: bold">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (VocabularyItemViewModel wordItem in Model.VocabularyList)
                    {
                        <tr>
                            <td style="min-width: 135px">@wordItem.VocabularyItem.Word</td>
                            <td style="min-width: 135px">@wordItem.VocabularyItem.SoundsLike</td>
                            <td style="min-width: 135px">@wordItem.VocabularyItem.Description</td>
                            <td>@wordItem.VocabularyItem.Language</td>
                            @if (wordItem.VocabularyItem.Date != null)
                            {
                                <td style="min-width: 100px">@wordItem.VocabularyItem.Date.Value.ToString("dd-MMMM-yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (Model.IsCurrentUserProgenyAdmin)
                            {
                                <td style="min-width: 135px">
                                    <div>
                                        <a asp-controller="Vocabulary" asp-action="EditVocabulary" asp-route-itemId="@wordItem.VocabularyItem.WordId" class="btn btn-info btn-round btn-sm leave-page">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-controller="Vocabulary" asp-action="DeleteVocabulary" asp-route-itemId="@wordItem.VocabularyItem.WordId" class="btn btn-danger btn-round btn-sm leave-page">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="chartDiv">
            <canvas id="chart-container" style="clear: both; height: 380px;"></canvas>
        </div>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script type="text/javascript">
        var vocabularyChartLabel = '@await LocaleManager.GetTranslation("Words", PageNames.Vocabulary, Model.LanguageId)';
        var vocabularyChartYaxisLabel = '@await LocaleManager.GetTranslation("Number of words", PageNames.Vocabulary, Model.LanguageId)';
        var vocabularyData = [@foreach (WordDateCount wordItem in Model.ChartData)
                              {
                                  if (wordItem.WordCount > 0)
                                  {
                                      string chartYear = wordItem.WordDate.Year.ToString();
                                      string chartMonth = (wordItem.WordDate.Month - 1).ToString();
                                      string chartDay = wordItem.WordDate.Day.ToString();
                                      @Html.Raw("{ t: new Date(" + chartYear + ", " + chartMonth + ", " + chartDay + "), y: " + wordItem.WordCount.ToString(CultureInfo.InvariantCulture) + "},")
                                  }

                              }];
        </script>
        <script src="/js/vocabulary/vocabulary-index.js" type="module" asp-append-version="true"></script>
    }
</div>
