@model Location
<a class="leavePage" asp-controller="Locations" asp-action="Index">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: #507832; background: rgba(80, 120, 50, 0.8)">
            <div class="info-title"><span style="font-size: 18px; color: white; margin-right: 20px;" class="fa fa-sticky-note"></span><strong style="font-size: 12px;" class="text-warning">
                @{
                    System.Diagnostics.Debug.Assert(Model.Date != null, "Model.Date != null");
                }
                @Model.Date.Value.ToString("dd-MMM-yyyy HH:mm") </strong></div>
            <div class="title text-white" style="font-size: 12px; margin-bottom: 12px; margin-left: 2px;">@Model.Name</div>
            <div style="margin-left: 2px; font-size: 12px;" class="rounded text-dark card-body bg-white" align="left">Latitude: @Model.Latitude, Longitude: @Model.Longitude</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Street: @Model.StreetName</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">House Number: @Model.HouseNumber</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">District: @Model.District</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">City: @Model.City</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Postal Code: @Model.PostalCode</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">County: @Model.County</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">State: @Model.State</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Country: @Model.Country</div>
        </div>
    </div>
</a>