@using KinaUna.Data
@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Friend
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.FriendSince ??= DateTime.MinValue;
}
@{
    string personalFriend = await LocaleManager.GetTranslation("Personal friend", PageNames.Friends, languageId);
    string toyFriend = await LocaleManager.GetTranslation("Toy/animal friend", PageNames.Friends, languageId);
    string parentFriend = await LocaleManager.GetTranslation("Parent", PageNames.Friends, languageId);
    string familyFriend = await LocaleManager.GetTranslation("Family", PageNames.Friends, languageId);
    string caretakerFriend = await LocaleManager.GetTranslation("Caretaker", PageNames.Friends, languageId);
    List<string> typeList = new List<string>();
    typeList.Add(personalFriend);
    typeList.Add(toyFriend);
    typeList.Add(parentFriend);
    typeList.Add(familyFriend);
    typeList.Add(caretakerFriend);
}
<a class="leavePage" asp-controller="Friends" asp-action="FriendDetails" asp-route-friendId="@Model.FriendId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-friend">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">face</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.Name
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white-50">
                        <div style="max-width: 60vw; overflow: hidden;">
                            <img class="img-thumbnail lazyload" style="max-height: 200px; max-width: 200px; background: black; margin-bottom: 8px; margin-top: 8px;" data-src="@Model.PictureLink" />
                        </div>
                        <div>@await LocaleManager.GetTranslation("Type:", PageNames.Friends, languageId) @typeList[Model.Type]</div>
                        @if (!string.IsNullOrEmpty(Model.Context))
                        {
                            <div>@await LocaleManager.GetTranslation("Context:", PageNames.Contacts, languageId) @Model.Context</div>
                        }
                        <div>@await LocaleManager.GetTranslation("Friends since:", PageNames.Contacts, languageId) @Model.FriendSince.Value.ToString("dd-MMM-yyyy")</div>
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            List<string> tagsList = Model.Tags.Split(',').ToList();
                            <div>
                                @foreach (string tagString in tagsList)
                                {
                                    <span class="btn tag-item leavePage">@tagString</span>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>