@using KinaUnaWeb.Services
@using KinaUna.Data
@model Contact
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.DateAdded ??= DateTime.MinValue;
}
<a class="leavePage" asp-controller="Contacts" asp-action="ContactDetails" asp-route-contactId="@Model.ContactId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-contact">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">contact_phone</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.DisplayName
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white-50">
                        <div style="max-width: 60vw; overflow: hidden;">
                            <img class="img-thumbnail" style="max-height: 200px; max-width: 200px; background: black; margin-bottom: 8px; margin-top: 8px;" src="@Model.PictureLink" />
                        </div>
                        <div class="text-white">@Model.FirstName @Model.MiddleName @Model.LastName</div>
                        @if (!string.IsNullOrEmpty(Model.Context))
                        {
                            <div>@await LocaleManager.GetTranslation("Context:", PageNames.Contacts, languageId) @Model.Context</div>
                        }
                        <div>@await LocaleManager.GetTranslation("Date added:", PageNames.Contacts, languageId) @Model.DateAdded.Value.ToString("dd-MMM-yyyy")</div>
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            List<string> tagsList = Model.Tags.Split(',').ToList();
                            <div>
                                @foreach (string tagString in tagsList)
                                {
                                    <span class="badge badge-pill badge-rose leavePage">@tagString</span>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>