@model Location
<a class="leavePage" asp-controller="Locations" asp-action="Index">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: rgba(80, 120, 50, 0.8)">
            <div class="info-title"><span style="font-size: 18px; color: white; margin-right: 20px;" class="fa fa-sticky-note"></span><strong style="font-size: 12px;" class="text-warning">@Model.Date.Value.ToString("dd-MMM-yyyy HH:mm") </strong></div>
            <div class="title text-white" style="font-size: 12px; margin-bottom: 12px; margin-left: 2px;">@Model.Name</div>
            <div style="margin-left: 2px; font-size: 12px;" class="rounded text-dark card-body bg-white" align="left">Breddegrad: @Model.Latitude, Længdegrad: @Model.Longitude</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Gade/Vej: @Model.StreetName</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Nummer: @Model.HouseNumber</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Distrikt: @Model.District</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">By: @Model.City</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Postnummer: @Model.PostalCode</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Amt: @Model.County</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Stat: @Model.State</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">Land: @Model.Country</div>
        </div>
    </div>
</a>