@using KinaUnaWeb.Services
@using KinaUna.Data
@model CalendarItem
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
    Model.StartTime ??= DateTime.MinValue;
    Model.EndTime ??= DateTime.MinValue;
}
<a class="leavePage" asp-controller="Calendar" asp-action="ViewEvent" asp-route-eventId="@Model.EventId">
    <div class="bg-primary timeline-card">
        <div class="timeline-card-body bg-calendar">
            <div class="row">
                <div class="col-auto">
                    <span class="latest-posts-icon"><i class="material-icons">event_note</i></span>
                </div>
                <div class="col">
                    <div class="latest-posts-title">
                        <strong>
                            @Model.StartTime.Value.ToString("dd-MMM-yyyy HH:mm") - @Model.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")
                        </strong>
                    </div>
                    <div class="latest-posts-text text-white-50">
                        <div class="text-white"><strong>@Model.Title</strong></div>
                        <br />
                        @if (!string.IsNullOrEmpty(Model.Location))
                        {
                            <div>@await LocaleManager.GetTranslation("Location:", PageNames.Calendar, languageId) @Model.Location</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Context))
                        {
                            <div>@await LocaleManager.GetTranslation("Context:", PageNames.Calendar, languageId) @Model.Context</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Notes))
                        {
                            <div>@await LocaleManager.GetTranslation("Notes:", PageNames.Calendar, languageId) @Model.Notes</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>