@model Contact
<a class="leavePage2" asp-controller="Contacts" asp-action="ContactDetails" asp-route-contactId="@Model.ContactId">
    <div class="card bg-primary" style="margin-top: 0; margin-bottom: 8px;">

        <div class="card-body" style="background: rgba(0, 0, 0, 0.5)">
            <div class="info-title"><span style="font-size: 18px; color: white; margin-right: 12px;" class="fa fa-address-book"></span><strong class="text-warning" style="font-size: 12px;">@Model.DateAdded.Value.ToString("dd-MMM-yyyy HH:mm") </strong></div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@Model.DisplayName</div>
            <div style="margin-left: 2px; font-size: 12px;" class="text-white">@Model.FirstName @Model.MiddleName @Model.LastName</div>
            <div style="max-width: 60vw; overflow: hidden; margin-left: 2px;">
                <img class="img-thumbnail" style="max-height: 200px; max-width: 200px; background: black; margin-bottom: 8px;" src="@Model.PictureLink" />
            </div>
            <br />
            <div style="margin-left: 2px; font-size: 12px;" align="left">Context: @Model.Context</div>
            <div style="margin-left: 2px;">
                @{
                    if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        List<string> tagsList = Model.Tags.Split(',').ToList();
                        foreach (string tagString in tagsList)
                        {
                            <span asp-controller="Contacts" asp-action="Index" asp-route-tagFilter="@tagString" class="badge badge-pill badge-rose leavePage2">@tagString</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</a>