@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model KinaUnaWeb.Models.ItemViewModels.NoteViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit note", PageNames.Notes, Model.LanguageId);
    string timeSeparator = CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator;
    string longDateTimeFormat = "dd-MMMM-yyyy HH" + timeSeparator + "mm";
    string zebraDateTimeFormat = "d-F-Y H" + timeSeparator + "i";
}
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link href="/css/amsify.suggestags.css" rel="stylesheet" asp-append-version="true"/>
    <script src="/lib/jquery.amsify.suggestags.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}

<div id="currentMomentLocaleDiv" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="languageIdDiv" class="d-none" data-current-locale="@Model.LanguageId"></div>
<div id="zebraDateTimeFormatDiv" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div id="progenyIdDiv" class="d-none" data-progeny-id="@Model.CurrentProgenyId"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="EditNote" role="form" method="post">
            <div class="form-group">
                <label asp-for="NoteItem.Title" class="col-auto control-label">@await LocaleManager.GetTranslation("Title", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="NoteItem.Title" class="form-control" value="@Model.NoteItem.Title" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NoteItem.Content" class="col-auto control-label">@await LocaleManager.GetTranslation("Content", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    @{
                        string[] toolbarItems = new[] {"Bold", "Italic", "Underline", "StrikeThrough",
                            "FontName", "FontSize", "FontColor", "BackgroundColor",
                            "LowerCase", "UpperCase", "|",
                            "Formats", "Alignments", "OrderedList", "UnorderedList",
                            "Outdent", "Indent", "|",
                            "CreateLink", "Image", "CreateTable", "|", "ClearFormat",
                            "SourceCode", "FullScreen", "|", "Undo", "Redo" };
                    }
                    <ejs-richtexteditor id="contentRTE" ejs-for="NoteItem.Content" imageUploadSuccess="onImageUploadSuccess" height="300px" enableResize="true">
                        <e-richtexteditor-toolbarsettings items="@toolbarItems"></e-richtexteditor-toolbarsettings>
                        <e-richtexteditor-insertimagesettings saveUrl="/AddItem/SaveRtfFile" path=""></e-richtexteditor-insertimagesettings>
                        <e-content-template>

                        </e-content-template>
                    </ejs-richtexteditor>
                    <script>
                    function onImageUploadSuccess(args) {
                        if (args.e.currentTarget.getResponseHeader('name') != null) {
                            args.file.name = args.e.currentTarget.getResponseHeader('name');
                            let filename = document.querySelectorAll(".e-file-name")[0];
                            filename.innerHTML = args.file.name;
                            filename.title = args.file.name;
                        }
                    }
                </script>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NoteItem.Category" class="col-auto control-label">@await LocaleManager.GetTranslation("Category", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="categoryInput" asp-for="NoteItem.Category" class="form-control" value="@Model.NoteItem.Category" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NoteItem.CreatedDate" class="col-auto control-label">@await LocaleManager.GetTranslation("Date and time", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="datetimepicker1"  type="text"
                               class="form-control" data-zdp_readonly_element="false" asp-for="NoteItem.CreatedDate" value="@Model.NoteItem.CreatedDate.ToString(longDateTimeFormat)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NoteItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="NoteItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <input asp-for="NoteItem.ProgenyId" value="@Model.NoteItem.ProgenyId" type="hidden" />
            <input asp-for="NoteItem.NoteId" value="@Model.NoteItem.NoteId" type="hidden" />
            <input asp-for="NoteItem.Owner" value="@Model.NoteItem.Owner" type="hidden" />
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leavePage" asp-controller="Notes" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function onImageUploadSuccess(args) {
        if (args.e.currentTarget.getResponseHeader('name') != null) {
            args.file.name = args.e.currentTarget.getResponseHeader('name');
            var filename = document.querySelectorAll(".e-file-name")[0];
            filename.innerHTML = args.file.name.replace(document.querySelectorAll(".e-file-type")[0].innerHTML, '');
            filename.title = args.file.name;
        }
    }
</script>
<script src="/js/notes/add-edit-note.js" type="module" asp-append-version="true"></script>