@model List<KinaUnaWeb.Models.ItemViewModels.NoteViewModel>
    @{
        ViewData["Title"] = Model[0].Progeny.NickName + "'s noter";
    }
    @if (Model == null)
    {
        <h3 class="title">@ViewData["Title"]</h3>
        <div>Ingen data.</div>
    }
    else
    {
        if (Model[0].IsAdmin)
        {
            <div class="btn-group" style="float: right;">
                <a asp-controller="AddItem" asp-action="AddNote" class="btn btn-success btn-round leavePage">
                    <i class="fas fa-plus"></i> Tilføj note
                </a>
            </div>
        }
        <h3 class="title">@ViewData["Title"]</h3>
        <div class="row" style="clear: both; margin-top: 25px;">
            @foreach (var noteViewModel in Model)
            {
                <div class="card text-white bg-light" align="left" style="margin: 15px; margin-bottom: 25px; padding: 1px; float: left; min-width: 49%;">
                    <div class="card-text card-header-success rounded" style="padding-left: 15px; padding-right: 5px;">
                        @if (Model[0].IsAdmin)
                        {
                            <div style="float: right;">

                                <a asp-controller="AddItem" asp-action="EditNote" asp-route-itemId="@noteViewModel.NoteId" class="btn btn-info btn-sm leavePage">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a asp-controller="AddItem" asp-action="DeleteNote" asp-route-itemId="@noteViewModel.NoteId" class="btn btn-danger btn-sm leavePage">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        }
                        <h4 class="title text-white">@noteViewModel.Title</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="rounded text-dark card-body bg-white" style="overflow-x: hidden;" align="left">@Html.Raw(System.Web.HttpUtility.HtmlDecode(noteViewModel.Content))</div>
                            @if (!String.IsNullOrEmpty(noteViewModel.Category))
                            {
                                <div class="container card-subtitle card-category" style="margin: 0; padding: 0;">
                                    <small class="text-secondary"> Kategori: @noteViewModel.Category</small>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-subtitle card-footer " style="margin: 0; padding: 0;">
                        <div class="container card-category text-primary" style="margin-top: 0;">@noteViewModel.Owner</div>
                        <div class="container card-category text-right text-primary" style="margin-top: 0;">@noteViewModel.CreatedDate.ToString("dd-MMM-yyyy HH:mm")</div>
                    </div>

                </div>
            }
        </div>
    }
