@using System.Web
@using KinaUna.Data
@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model KinaUnaWeb.Models.ItemViewModels.NoteViewModel
@inject ILocaleManager LocaleManager
@{
    string title = Model.NoteItem.Progeny.NickName + " : " + await LocaleManager.GetTranslation("Notes", PageNames.Notes, Model.LanguageId);
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="timeline-card-body bg-notes">
        <div class="row m-0 h5">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">note</i></span>
            </div>
            <div class="col">
                <div class="row text-white">
                    <div class="col-auto font-weight-bold">@Model.NoteItem.CreatedDate.ToString("dd-MMM-yyyy HH:mm")</div>
                </div>
                <div class="timeline-title row">
                    <div class="col-12">
                        <div class="space-20"></div>
                        @Model.NoteItem.Title
                    </div>
                </div>
                <div class="timeline-text row text-white-75">
                    <div class="timeline-noteitem-text rounded text-dark bg-white">@Html.Raw(HttpUtility.HtmlDecode(Model.NoteItem.Content))</div>
                    @if (!string.IsNullOrEmpty(Model.NoteItem.Category))
                    {
                        List<string> categoriesList = Model.NoteItem.Category.Split(',').ToList();
                        <div class="text-right">
                            @foreach (string categoryString in categoriesList)
                            {
                                <span class="btn category-item tag-item-sm">@categoryString</span>
                            }
                        </div>
                    }
                </div>
                @if (Model.IsCurrentUserProgenyAdmin)
                {

                    <div class="row m-0 mt-2 mb-2">
                        <div class="col-auto">
                            <a asp-controller="Notes" asp-action="EditNote" asp-route-itemId="@Model.NoteItem.NoteId" class="p-2 kinauna-yellow-text bg-dark">@await LocaleManager.GetTranslation("Edit", PageNames.Notes, languageId)</a>
                        </div>
                        <div class="col-auto">
                            <a asp-controller="Notes" asp-action="DeleteNote" asp-route-itemId="@Model.NoteItem.NoteId" class="p-2 kinauna-yellow-text bg-dark">@await LocaleManager.GetTranslation("Delete", PageNames.Notes, languageId)</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>