@using KinaUna.Data
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@model KinaUnaWeb.Models.ItemViewModels.PictureItemViewModel
@{
    string locationString = await LocaleManager.GetTranslation("Location", PageNames.Pictures, Model.LanguageId);
    
    string pictureTimeText = "";
    if (Model.Picture.PictureTime != null)
    {
        pictureTimeText = Model.Picture.PictureTime.Value.ToString("dd-MMM-yyyy HH:mm");
    }

    string altText = Model.CurrentProgeny.NickName;
    if (!string.IsNullOrEmpty(Model.Picture.Location))
    {
        altText += " [" + locationString + ": " + Model.Picture.Location + "]";
    }
}

<button id="picture-item-@Model.Picture.PictureId" data-picture-id="@Model.Picture.PictureId" class="item-btn-gallery picture-item col-sm-12 col-md-6 col-lg-auto align-self-center p-1 m-1" style="background-color: black;">
    <div class="photo-gallery-frame">
        <img data-src="@Model.Picture.PictureLink" class="photo-gallery-picture lazyload" alt="@altText"/>
        <div class="photo-picture-number-frame">
            <span class="photo-picture-number-text">@Model.PictureNumber</span>
        </div>
        <div class="photo-picture-time-frame">
            <span class="photo-picture-time-text">@pictureTimeText</span>
        </div>
        <div class="photo-comments-frame">
            <span class="photo-comments-text"><i class="far fa-comment-alt"></i> @Model.Picture.Comments.Count</span>
        </div>
    </div>
</button>