@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.PicturesListViewModel
@inject ILocaleManager LocaleManager
@{
    string sortString = await LocaleManager.GetTranslation("Sort:", PageNames.Pictures, Model.LanguageId);
    string newestFirstString = await LocaleManager.GetTranslation("Newest first", PageNames.Pictures, Model.LanguageId);
    string oldestFirstString = await LocaleManager.GetTranslation("Oldest first", PageNames.Pictures, Model.LanguageId);
    string sortOldest = "btn btn-primary";
    string sortNewest = "btn btn-info leavePage";
    string picPerPageStyle4 = "leavePage btn btn-info";
    string picPerPageStyle8 = "leavePage btn btn-info";
    string picPerPageStyle16 = "leavePage btn btn-info";
    string picPerPageStyle32 = "leavePage btn btn-info";
    string picPerPageStyle64 = "leavePage btn btn-info";
    string picPerPageSelected = "leavePage btn btn-primary";
    if (Model.PageSize == 4)
    {
        picPerPageStyle4 = picPerPageSelected;
    }
    if (Model.PageSize == 8)
    {
        picPerPageStyle8 = picPerPageSelected;
    }
    if (Model.PageSize == 16)
    {
        picPerPageStyle16 = picPerPageSelected;
    }
    if (Model.PageSize == 32)
    {
        picPerPageStyle32 = picPerPageSelected;
    }
    if (Model.PageSize == 64)
    {
        picPerPageStyle64 = picPerPageSelected;
    }
}
<div id="picturesPageSettingsContainer">
    <div class="btn btn-info btn-link-yellow" onclick="pictureSettingsIconClicked()">
        <span><i class="material-icons">display_settings</i></span>
    </div>
    <div id="pictureSettingsDiv" class="kinauna-menu collapse-kinauna-menu kinauna_purple_bg text-white">
        <div class="m-3 m-sm-3 m-md-4 m-lg-5">
            <div class="row">
                @if (Model.SortBy == 1)
                {
                    sortOldest = "btn btn-info leavePage";
                    sortNewest = "btn btn-primary";
                    <div class="col-sm-12 col-md-auto" style="align-self: center;">
                        @sortString
                    </div>
                    <div class="ml-4 ml-md-1 col-sm-12 col-md-auto">
                        <div class="row">
                            <div class="col-sm-12 col-md-auto" style="align-self: center;">
                                <a class="@sortNewest"><i class="fas fa-check-circle"></i> @newestFirstString</a>
                            </div>
                            <div class="col-sm-12 col-md-auto" style="align-self: center;">
                                <a class="@sortOldest" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.PageNumberIfSortChanges" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="0" asp-route-tagFilter="@Model.TagFilter">@oldestFirstString</a>
                            </div>
                        </div>
                    </div>
                    
                }
                else
                {
                    <div class="col-sm-12 col-md-auto" style="align-self: center;">
                        @sortString
                    </div>
                    <div class="ml-4 ml-md-1 col-sm-12 col-md-auto">
                        <div class="row">
                            <div class="col-sm-12 col-md-auto">
                                <a class="@sortOldest"><i class="fas fa-check-circle"></i> @oldestFirstString</a>
                            </div>
                            <div class="col-sm-12 col-md-auto">
                                <a class="@sortNewest" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.PageNumberIfSortChanges" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="1" asp-route-tagFilter="@Model.TagFilter">@newestFirstString</a>
                            </div>
                        </div>
                    </div>
                    
                }
            </div>
            <div class="space-50"></div>
            <div class="row">
                <div class="col-sm-12 col-md-auto" style="align-self: center;">@await LocaleManager.GetTranslation("Photos per page:", PageNames.Pictures, Model.LanguageId)</div>
                <div class="ml-4 ml-md-1 col-sm-12 col-md-auto">
                    <div class="row row-cols-auto">
                        <div class="col-sm-12 col-md-auto">
                            <a class="@picPerPageStyle4" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="4" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">4</a>
                        </div>
                        <div class="col-sm-12 col-md-auto">
                            <a class="@picPerPageStyle8" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="8" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">8</a>
                        </div>
                        <div class="col-sm-12 col-md-auto">
                            <a class="@picPerPageStyle16" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="16" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">16</a>
                        </div>
                        <div class="col-sm-12 col-md-auto">
                            <a class="@picPerPageStyle32" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="32" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">32</a>
                        </div>
                        <div class="col-sm-12 col-md-auto">
                            <a class="@picPerPageStyle64" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="64" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">64</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-50"></div>
            <div class="row">
                <div class="col-auto ml-auto mr-auto">
                    <div class="btn btn-outline btn-outline-danger rounded-pill" onclick="pictureSettingsIconClicked()">
                        <span><i class="material-icons">close</i></span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

<script>
    function pictureSettingsIconClicked() {
    
        let pictureSettingsDiv = document.getElementById('pictureSettingsDiv');
        pictureSettingsDiv.classList.toggle("collapse-kinauna-menu");
    }
</script>