@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.PicturesListViewModel
@inject ILocaleManager LocaleManager
@{
    string firstText = await LocaleManager.GetTranslation("First", PageNames.Pictures, Model.LanguageId);
    string newestText = await LocaleManager.GetTranslation("Newest", PageNames.Pictures, Model.LanguageId);
    string photosString = await LocaleManager.GetTranslation("photos", PageNames.Pictures, Model.LanguageId);
    string go5PagesForwardString = await LocaleManager.GetTranslation("Go 5 pages forward", PageNames.Pictures, Model.LanguageId);
    string go5PagesBackString = await LocaleManager.GetTranslation("Go 5 pages back", PageNames.Pictures, Model.LanguageId);
    string viewPrevText = await LocaleManager.GetTranslation("Older", PageNames.Pictures, Model.LanguageId);
    string viewNextText = await LocaleManager.GetTranslation("Newer", PageNames.Pictures, Model.LanguageId);
    
    if (Model.PageNumber == 1)
    {
        viewPrevText = newestText;
    }
    if (Model.PageNumber == Model.TotalPages)
    {
        viewNextText = firstText;
    }
    if (Model.SortBy == 1)
    {
        viewPrevText = await LocaleManager.GetTranslation("Newer", PageNames.Pictures, Model.LanguageId);
        viewNextText = await LocaleManager.GetTranslation("Older", PageNames.Pictures, Model.LanguageId);
        if (Model.PageNumber == 1)
        {
            viewPrevText = firstText;
        }
        if (Model.PageNumber == Model.TotalPages)
        {
            viewNextText = newestText;
        }
    }
}
@if (Model.TotalPages > 1)
{
    <div class="space-20"></div>
    <div class="row">
        <div class="col-auto">
            <a id="previous-photo-link" class="leave-page" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.PreviousPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id"
           asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i> @viewPrevText @photosString</a>
            @if (Model.TotalPages > 5)
            {
                <a style="margin-left: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.Back5Pages" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id"
           asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-arrow-left" aria-hidden="true"></i> @go5PagesBackString</a>
            }
        </div>
        <div class="col-auto ml-auto">
            @if (Model.TotalPages > 5)
            {
                <a class="leave-page" style="margin-right: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.Forward5Pages" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id"
           asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">@go5PagesForwardString <i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            }
            <a id="next-photo-link" class="leave-page" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.NextPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.CurrentProgeny.Id"
           asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">@viewNextText @photosString <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
}