@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.AccessManagement
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.PictureItemViewModel
@inject ILocaleManager LocaleManager
@{
    string title = Model.CurrentProgeny.NickName + " : " + await LocaleManager.GetTranslation("Photo", PageNames.Pictures, Model.LanguageId);
    string photoString = await LocaleManager.GetTranslation("photo", PageNames.Pictures, Model.LanguageId);
    string wasString = await LocaleManager.GetTranslation("was", PageNames.Pictures, Model.LanguageId);
    string daysOldString = await LocaleManager.GetTranslation("days old.", PageNames.Pictures, Model.LanguageId);
    string olderString = await LocaleManager.GetTranslation("Older", PageNames.Pictures, Model.LanguageId);
    string newerString = await LocaleManager.GetTranslation("Newer", PageNames.Pictures, Model.LanguageId);
    string yearsString = await LocaleManager.GetTranslation("years", PageNames.Home, Model.LanguageId);
    string monthsString = await LocaleManager.GetTranslation("months", PageNames.Home, Model.LanguageId);
    string daysString = await LocaleManager.GetTranslation("days", PageNames.Home, Model.LanguageId);
    string viewPrevText = olderString;
    string viewNextText = newerString;
    if (Model.SortBy == 1)
    {
        viewPrevText = newerString;
        viewNextText = olderString;
    }

    bool allowHereMaps = Context.Request.HereMapsCookieSet();
    string hereMapsLatitude = "";
    string hereMapsLongitude = "";
    if (!string.IsNullOrEmpty(Model.Picture.Latitude) && !string.IsNullOrEmpty(Model.Picture.Longtitude))
    { 
        hereMapsLatitude = Model.Picture.Latitude.Replace(',', '.')[..6];
        hereMapsLongitude = Model.Picture.Longtitude.Replace(',', '.')[..6];
    }
}
<div class="d-none" id="item-progeny-id-div" data-progeny-id="@Model.Picture.ProgenyId"></div>
<div id="current-picture-id-div" data-current-picture-id="@Model.Picture.PictureId"></div>
<div id="item-details-content-wrapper" class="item-details-content-wrapper m-0 full-screen bg-body">
    <div id="item-details-content" class="item-details-content item-details-content-full-screen">
        <div>
            @if (Model.CurrentUser.CanUserAddItems)
            {
                <button class="btn btn-link p-3 text-white-50 float-right mr-5 copy-item-button" data-copy-item-item-id="@Model.Picture.PictureId" data-copy-item-type="picture">
                    <i class="material-icons kinauna-icon-medium">content_copy</i>
                </button>
            }
            <img src="@Model.Picture.Progeny.GetProfilePictureUrl()" class="item-details-title-picture"/>
            <span class="h3 mr-3 align-bottom">@title @Model.PictureNumber @await LocaleManager.GetTranslation("of", PageNames.Pictures, Model.LanguageId) @Model.PictureCount</span>
        </div>
        <button type="button" class="btn btn-link item-details-close-button item-details-close-button-full-screen"><span>×</span></button>
        <div id="photo-details-div">
            @if (!string.IsNullOrEmpty(Model.TagFilter))
            {
                <div>@await LocaleManager.GetTranslation("Tag filter:", PageNames.Pictures, Model.LanguageId) @Model.TagFilter</div>
            }
            <div id="picture-navigation-div" class="fixed-bottom" style="max-width: 100%; margin:15px; padding: 25px;">
                <div class="" style="float: left">
                    <button id="previous-picture-link" class="btn btn-primary rounded-pill text-white" data-previous-picture-id="@Model.PrevPicture"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span class="d-none d-md-inline">@viewPrevText</span> <span class="d-none d-lg-inline">@photoString</span></button>
                </div>
                <div class="" style="float: right">
                    <button id="next-picture-link" class="btn btn-primary rounded-pill text-white" data-next-picture-id="@Model.NextPicture"><span class="d-none d-md-inline">@viewNextText</span> <span class="d-none d-lg-inline">@photoString</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="space-20"></div>
            <div align="center" style="max-width: 100%">
                <img src="@Model.Picture.GetPictureUrl(1200)" class="picture-details-image" />
            </div>
            @if (!string.IsNullOrEmpty(@Model.Picture.Location))
            {
                <div class="space-20"></div>
                <div class="text-center">@await LocaleManager.GetTranslation("Location:", PageNames.Pictures, Model.LanguageId) @Model.Picture.Location</div>
                @if (!string.IsNullOrEmpty(hereMapsLatitude))
                {
                    @if (allowHereMaps)
                    {
                        <button id="show-here-maps-button" class="btn btn-primary float-right"><span class="material-icons">map</span></button>
                        <div class="space-20"></div>
                    }

                    <div class="text-center">@await LocaleManager.GetTranslation("Latitude:", PageNames.Pictures, Model.LanguageId) @Model.Picture.Latitude @await LocaleManager.GetTranslation("Longitude:", PageNames.Pictures, Model.LanguageId) @Model.Picture.Longtitude @await LocaleManager.GetTranslation("Altitude:", PageNames.Pictures, Model.LanguageId) @Model.Picture.Altitude</div>
                    @if (allowHereMaps)
                    {
                        <div id="here-map-container-div" class="d-none" style="width: 100%; height: 300px"></div>
                        <div id="here-maps-latitude-div" class="d-none" data-here-maps-latitude="@hereMapsLatitude"></div>
                        <div id="here-maps-longitude-div" class="d-none" data-here-maps-longitude="@hereMapsLongitude"></div>
                        <div id="here-maps-api-key-div" class="d-none" data-here-maps-api-key="@Model.HereMapsApiKey"></div>
                    }
                }
            }
            <div>
                @{
                    if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        <div class="space-20"></div>
                        List<string> tagsList = Model.Tags.Split(',').ToList();
                        foreach (string tagString in tagsList)
                        {
                            <a asp-action="Index" asp-route-id="1" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@tagString" class="btn tag-item leave-page">@tagString</a>
                        }
                    }
                }
            </div>
            <div class="space-20"></div>
            @if (Model.PicTimeValid)
            {
                <div style="font-size: 16px; line-height: 90%;">
                    <p>Photo taken: @Model.PicTime</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicYearsDataList[0] @yearsString @Model.PicYearsDataList[1] @monthsString @Model.PicYearsDataList[2] @daysString</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicMonths @await LocaleManager.GetTranslation("months old.", PageNames.Pictures, Model.LanguageId)</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicWeeks[0] @await LocaleManager.GetTranslation("weeks and", PageNames.Pictures, Model.LanguageId) @Model.PicWeeks[1] @daysOldString</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicDays @daysOldString</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicHours @await LocaleManager.GetTranslation("hours old.", PageNames.Pictures, Model.LanguageId)</p>
                    <p>@Model.CurrentProgeny.NickName @wasString @Model.PicMinutes @await LocaleManager.GetTranslation("minutes old.", PageNames.Pictures, Model.LanguageId)</p>
                </div>
                <div class="space-20"></div>
            }

            @if (Model.CommentsList.Count > 0)
            {
                <div class="w-100">
                    <div>
                        <h5>@await LocaleManager.GetTranslation("Comments", PageNames.Pictures, Model.LanguageId) (@Model.CommentsCount):</h5>
                    </div>
                    <div class="row">
                        @foreach (Comment cmnt in Model.CommentsList)
                        {
                            <div class="col-auto">
                                <div class="space-20"></div>
                                <div class="bg-light text-dark">
                                    <div class="row">

                                        <div class="col-auto">
                                            <div style="height: 46px; width: 46px;">
                                                <img height="40" width="40" class="rounded img-fluid" src="@cmnt.AuthorImage"/>
                                            </div>
                                        </div>
                                        <div class="col pr-5 pl-0">
                                            <div class="row" style="margin-top: 0; margin-bottom: 1rem; padding-top: 0;">
                                                <div class="col">
                                                    <span>@cmnt.DisplayName</span><span class="small text-muted" style="text-wrap: nowrap;"> · @cmnt.Created.ToString("dd-MMM-yyyy HH:mm")</span>
                                                </div>
                                            </div>
                                            <div class="space-20"></div>
                                            <div class="row">
                                                <div class="col lead">
                                                    @cmnt.CommentText
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-20"></div>
                                    @if (cmnt.Author == Model.CurrentUser.UserId)
                                    {
                                        <div class="media-footer">
                                            <form class="form-inline float-right" asp-controller="Pictures" asp-action="DeletePictureComment" role="form" method="post">

                                                <div class="form-group">
                                                    <div>
                                                        <button class="btn btn-danger btn-sm leave-page" type="submit">@await LocaleManager.GetTranslation("Delete comment", PageNames.Pictures, Model.LanguageId)</button>
                                                    </div>
                                                </div>
                                                <input Name="CommentThreadNumber" class="form-control" value="@Model.CommentThreadNumber" type="hidden"/>
                                                <input Name="CommentId" class="form-control" value="@cmnt.CommentId" type="hidden"/>
                                                <input Name="PictureId" class="form-control" value="@Model.Picture.PictureId" type="hidden"/>
                                                <input Name="ProgenyId" class="form-control" value="@Model.Picture.ProgenyId" type="hidden"/>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <form id="new-picture-comment-form" role="form" method="post">
                    <div class="form-group">
                        <div class="space-20"></div>
                        <label for="new-picture-comment-text-area" Name="CommentText" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("New comment:", PageNames.Pictures, Model.LanguageId)</label>
                        <div class="col-12">
                            <textarea id="new-picture-comment-text-area" Name="CommentText" class="form-control" rows="4"></textarea>
                            <button id="submit-new-picture-comment-button" class="btn btn-success float-right leave-page" disabled="disabled" style="margin-right: 15px;" type="submit">@await LocaleManager.GetTranslation("Add comment", PageNames.Pictures, Model.LanguageId)</button>
                        </div>
                    </div>
                    <input asp-for="CommentThreadNumber" class="form-control" value="@Model.Picture.CommentThreadNumber" type="hidden"/>
                    <input asp-for="SortBy" class="form-control" value="@Model.SortBy" type="hidden"/>
                    <input name="ItemId" class="form-control" value="@Model.Picture.PictureId" type="hidden"/>
                    <input asp-for="CurrentProgenyId" class="form-control" value="@Model.Picture.ProgenyId" type="hidden"/>
                    <input asp-for="PartialView" class="form-control" value="@Model.PartialView" type="hidden"/>
                </form>
            }
            <div class="space-20"></div>
            <div class="text-center">
                @{
                    string downloadName = Model.CurrentProgeny.NickName + "_" + Model.Picture.PictureId;
                }
                <a asp-action="OriginalPicture" asp-route-id="@Model.Picture.PictureId" class="btn btn-link text-white" download="@downloadName">@await LocaleManager.GetTranslation("Download original picture", PageNames.Pictures, Model.LanguageId)</a>
            </div>
            @if (Model.Picture.ItemPerMission.PermissionLevel >= PermissionLevel.Edit)
            {
                <div class="space-50"></div>
                <div class="col-12">
                    <a data-edit-item-type="picture" data-edit-item-item-id="@Model.Picture.PictureId" class="btn btn-info item-details-edit-button edit-item-button"><i class="fas fa-pencil-alt"></i></a>
                    @if (Model.Picture.ItemPerMission.PermissionLevel >= PermissionLevel.Admin)
                    {
                        <a data-delete-item-type="picture" data-delete-item-item-id="@Model.Picture.PictureId" class="btn btn-danger item-details-delete-button float-right"><i class="fas fa-trash-alt"></i></a>
                    }
                </div>

            }
            <div class="space-100"></div>
        </div>
        
    </div>
</div>