@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.UploadPictureViewModel
@section Scripts{
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
}

@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add photo", PageNames.Pictures, Model.LanguageId);
    string addPhotoForString = await LocaleManager.GetTranslation("Add photo for:", PageNames.Pictures, Model.LanguageId);
}
<h2>@ViewData["Title"]</h2>
<div class="modal-body form-horizontal">
    <div class="row">
        <div class="col-lg-9">
            <form class="form-group" asp-controller="Pictures" asp-action="UploadPictures" enctype="multipart/form-data" method="post">
                @if (Model.ProgenyList.Count > 1)
                {
                    <div class="form-group">
                        <label class="control-label col">@addPhotoForString </label>
                        <div class="col-lg-9">
                            <select class="selectpicker" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="Picture.ProgenyId" asp-items="@Model.ProgenyList"></select>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="control-label col-sm-3">@addPhotoForString </label>
                        <div class="col-lg-9">
                            <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                        </div>
                        <input asp-for="Picture.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
                    </div>
                }
                <div class="form-group">
                    <label class="col-lg-3 col-sm3 control-label">@await LocaleManager.GetTranslation("Photo", PageNames.Pictures, Model.LanguageId)</label>
                    <div class="col-lg-9">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-raised" style="height: 240px;">
                                <img src="~/images/images_placeholder.png" alt="..." style="max-height: 100%;">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                            <div>
                                <div class="btn btn-primary btn-round btn-file ">
                                    <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("Select photo(s)", PageNames.Pictures, Model.LanguageId)</span>
                                    <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change photo", PageNames.Pictures, Model.LanguageId)</span>
                                    <input type="file" name="Files" accept="image/*" multiple />
                                </div>
                                <br />
                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                    <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Reset", PageNames.Pictures, Model.LanguageId)
                                </a>
                            </div>
                            <div>
                                <br />
                                @await LocaleManager.GetTranslation("Note: Photos may appear rotated here. If it contains metadata about rotation, it will automatically be rotated after uploading it.", PageNames.Pictures, Model.LanguageId)
                                <br />
                                @await LocaleManager.GetTranslation("If more than one photo is selected only one is previewed above.", PageNames.Pictures, Model.LanguageId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Picture.AccessLevel" class="col-lg-3 col-sm-3 control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                    <div class="col-lg-9">
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="Picture.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-sm-3"></div>
                    <input asp-for="Picture.Owners" class="form-control" value="@Model.Picture.Owners" type="hidden" />
                    <div class="col-lg-9">
                        <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                        <a class="btn btn-danger leavePage" asp-controller="Pictures" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>