@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.PictureItemViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete photo", PageNames.Pictures, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeletePicture" role="form" method="post">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to delete this photo?", PageNames.Pictures, Model.LanguageId)
            </div>
            <div class="col-auto">
                <img src="@Model.Picture.PictureLink" class="img-responsive" style="max-width: 600px;" />
                @if (Model.Picture.PictureTime.HasValue)
                {
                    <div>@await LocaleManager.GetTranslation("Date and time:", PageNames.Pictures, Model.LanguageId) @Model.Picture.PictureTime.Value.ToString("dd-MMM-yyyy HH:mm")"</div>
                }
            </div>
            <div class="space-20"></div>
            <input asp-for="Picture.PictureId" class="form-control" value="@Model.Picture.PictureId" type="hidden" />
            <input asp-for="Picture.ProgenyId" class="form-control" value="@Model.Picture.ProgenyId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leave-page">@await LocaleManager.GetTranslation("Yes - delete this photo", PageNames.Pictures, Model.LanguageId)</Button>
                <a class="btn btn-danger leave-page" asp-controller="Pictures" asp-action="Picture" asp-route-id="@Model.Picture.PictureId" asp-route-childId="@Model.Picture.ProgenyId">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>