@model KinaUnaWeb.Models.ItemViewModels.PicturePageViewModel
@{
    ViewData["Title"] = "Foto Gallerie";

}
@if (Model.IsAdmin)
{
<div style="float: right;">
    <div class="btn-group">
        <a asp-controller="AddItem" asp-action="AddPicture" class="btn btn-success btn-round leavePage">
            <i class="fas fa-plus"></i> Foto hinzufügen
        </a>
    </div>
</div>
}
<div class="btn-group" style="float: right;">
    <a asp-controller="Locations" asp-action="PhotoLocations" class="btn btn-info leavePage">
        <i class="fas fa-map-marked-alt"></i> Foto Orte
    </a>
</div>
<h3 class="title">@Model.Progeny.NickName's Foto Gallerie - Seite @Model.PageNumber von @Model.TotalPages</h3>
<br style="clear: both;" />
<div id="photoListDiv">
    @{
        string viewPrevText = "Älter";
        string viewNextText = "Neuer";
        if (Model.PageNumber == 1)
        {
            viewPrevText = "Neueste";
        }
        if (Model.PageNumber == Model.TotalPages)
        {
            viewNextText = "Erste";
        }
        if (Model.SortBy == 1)
        {
            viewPrevText = "Neuer";
            viewNextText = "Älter";
            if (Model.PageNumber == 1)
            {
                viewPrevText = "Erste";
            }
            if (Model.PageNumber == Model.TotalPages)
            {
                viewNextText = "Neueste";
            }
        }
        string sortOldest = "btn btn-primary btn-sm";
        string sortNewest = "btn btn-info btn-sm leavePage";
        int prevPage = Model.PageNumber - 1;
        int nextPage = Model.PageNumber + 1;
        if (prevPage < 1)
        {
            prevPage = Model.TotalPages;
        }
        if (nextPage > Model.TotalPages)
        {
            nextPage = 1;
        }
        int prev5page = Model.PageNumber - 5;
        int next5page = Model.PageNumber + 5;
        if (prev5page < 1)
        {
            prev5page = Model.TotalPages;
        }
        if (next5page > Model.TotalPages)
        {
            next5page = 1;
        }
        int newPage = Model.TotalPages - Model.PageNumber;
        if (newPage < 1)
        {
            newPage = 1;
        }
        if (Model.PageNumber == 1)
        {
            newPage = 1;
        }
        string picPerPageStyle4 = "leavePage btn btn-info btn-sm";
        string picPerPageStyle8 = "leavePage btn btn-info btn-sm";
        string picPerPageStyle16 = "leavePage btn btn-info btn-sm";
        string picPerPageStyle32 = "leavePage btn btn-info btn-sm";
        string picPerPageStyle64 = "leavePage btn btn-info btn-sm";
        string picPerPageSelected = "leavePage btn btn-primary btn-sm";
        if (Model.PageSize == 4)
        {
            picPerPageStyle4 = picPerPageSelected;
        }
        if (Model.PageSize == 8)
        {
            picPerPageStyle8 = picPerPageSelected;
        }
        if (Model.PageSize == 16)
        {
            picPerPageStyle16 = picPerPageSelected;
        }
        if (Model.PageSize == 32)
        {
            picPerPageStyle32 = picPerPageSelected;
        }
        if (Model.PageSize == 64)
        {
            picPerPageStyle64 = picPerPageSelected;
        }
    }
    <div class="col-6 text-right" style="float: right;">
        Foto pro Seite: <a class="@picPerPageStyle4" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="4" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">4</a> <a class="@picPerPageStyle8" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="8" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">8</a> <a class="@picPerPageStyle16" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="16" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">16</a> <a class="@picPerPageStyle32" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="32" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">32</a> <a class="@picPerPageStyle64" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-pageSize="64" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">64</a>
    </div>
    @if (Model.SortBy == 1)
    {
        sortOldest = "btn btn-info btn-sm leavePage";
        sortNewest = "btn btn-primary btn-sm";
    <div class="col-6">
        Sortieren: <span class="@sortNewest"><i class="fas fa-check-circle"></i> Neueste zuerst</span>
        <a class="@sortOldest" asp-controller="Pictures" asp-action="Index" asp-route-id="@newPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="0" asp-route-tagFilter="@Model.TagFilter">Älteste zuerst</a>
    </div>
    }
    else
    {
    <div>
        Sorter: <span class="@sortOldest" disabled><i class="fas fa-check-circle"></i> Älteste zuerst</span>
        <a class="@sortNewest" asp-controller="Pictures" asp-action="Index" asp-route-id="@newPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="1" asp-route-tagFilter="@Model.TagFilter">Neueste zuerst</a>
    </div>
    }

    @if (!String.IsNullOrEmpty(Model.TagFilter))
    {
    <br />
    <div style="float: right;">Tag filter: <span class="badge badge-pill badge-rose">@Model.TagFilter</span> <a class="btn btn-info btn-sm leavePage" asp-action="Index" asp-route-id="1" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy"><i class="fas fa-minus-circle"></i> Filter zurücksetzen</a></div>
    }
    <br />
    @if (Model.TotalPages > 1)
    {
    <div style="max-width: 100%; padding-top: 10px; padding-bottom: 20px; clear: both;">
        <div style="float:left">
            <a id="previousPhotoLink" class="leavePage" asp-controller="Pictures" asp-action="Index" asp-route-id="@prevPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i> @viewPrevText Foto</a>
            @if (Model.TotalPages > 5)
                {
            <a style="margin-left: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@prev5page" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-arrow-left" aria-hidden="true"></i> 5 Seiten zurück</a>
                }
        </div>
        <div style="float: right">
            @if (Model.TotalPages > 5)
                {
            <a class="leavePage" style="margin-right: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@next5page" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">5 Seiten nach vorne <i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                }
            <a id="nextPhotoLink" class="leavePage" asp-controller="Pictures" asp-action="Index" asp-route-id="@nextPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">@viewNextText Foto <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    }

    <br style="clear: both;" />
    <div align="center" style="width: 100%; clear: both;">
        @foreach (var item in Model.PicturesList)
        {
            string bgColor = "#181274";
            if (Model.IsAdmin && item.AccessLevel == 0)
            {
                bgColor = "#870000";
            }
            if (Model.IsAdmin && item.AccessLevel == 1)
            {
                bgColor = "#247f00";
            }
            if (Model.IsAdmin && item.AccessLevel == 2)
            {
                bgColor = "#72007f";
            }
            if (Model.IsAdmin && item.AccessLevel == 3)
            {
                bgColor = "#007987";
            }
            string pTime = "";
            if (item.PictureTime != null)
            {
                pTime = item.PictureTime.Value.ToString("dd-MMM-yyyy HH:mm");
            }
        <a class="leavePage" asp-area="" asp-controller="Pictures" asp-action="Picture" asp-route-id="@item.PictureId" asp-route-childId="@Model.Progeny.Id" asp-route-tagFilter="@Model.TagFilter">
            <div align="center" class="img-rounded" style="margin: 2px; padding: 1px; float: left; width: 270px; height: 270px; background-color: #000000; text-align: center; line-height: 271px; display: inline-block; position: relative;">
                <img src="@item.PictureLink600" class="img-rounded" style="max-width: 97%; max-height: 97%; vertical-align: middle; display: inline-block; margin: auto; padding: auto;" />

                <div class="nav-pills" style="position: absolute; height: 35px; width: 60px; top: 5px; left: 5px; font-size: 5px; background-color: @bgColor; display: inline-block;">
                    <p style="width: 0px; height: 0px; font-size: 16px; position: absolute; color: #EEEEFF; text-align:center; transform: translate(0px, -118px);">@item.PictureNumber</p>
                </div>
                <div class="nav-pills" style="position: absolute; height: 20px; width: 120px; bottom: 2px; left: 5px; font-size: 5px; background-color: dimgray; display: inline-block;">
                    <p style="width: 110px; height: 20px; font-size: 11px; position: absolute; color: #EEEEFF; text-align:center; transform: translate(-10px, -124px);">@pTime</p>
                </div>
                <div class="img-rounded" style="position: absolute; height: 25px; width: 50px; bottom: 2px; right: 2px; font-size: 5px; background-color: forestgreen; display: inline-block;">
                    <p style="width: 40px; height: 20px; font-size: 12px; position: absolute; color: lightgoldenrodyellow; text-align:center; transform: translate(6px, -124px);"><i class="far fa-comment-alt"></i> @item.Comments.Count</p>
                </div>
            </div>
        </a>
        }
    </div>

    @if (Model.TotalPages > 1)
    {
    <div style="max-width: 100%; padding-top: 10px; padding-bottom: 20px; clear: both;">
        <div style="float:left">
            <a class="leavePage" asp-controller="Pictures" asp-action="Index" asp-route-id="@prevPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i> @viewPrevText Foto</a>
            @if (Model.TotalPages > 5)
                {
            <a style="margin-left: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@prev5page" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter"><i class="fa fa-arrow-left" aria-hidden="true"></i><i class="fa fa-arrow-left" aria-hidden="true"></i> 5 Seiten zurück</a>
                }
        </div>
        <div style="float: right">
            @if (Model.TotalPages > 5)
                {
            <a class="leavePage" style="margin-right: 25px;" asp-controller="Pictures" asp-action="Index" asp-route-id="@next5page" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">5 Seiten nach vorne <i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                }
            <a class="leavePage" asp-controller="Pictures" asp-action="Index" asp-route-id="@nextPage" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@Model.TagFilter">@viewNextText Foto <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    }
    <br />
    <div style="max-width: 100%; padding-top: 10px; padding-bottom: 20px; clear: both;">
        @{
            if (!string.IsNullOrEmpty(Model.TagsList))
            {
                string[] tagsList = Model.TagsList.Split(',');
                foreach (string tagString in tagsList)
                {
            <a asp-action="Index" asp-route-id="1" asp-route-pageSize="@Model.PageSize" asp-route-childId="@Model.Progeny.Id" asp-route-sortBy="@Model.SortBy" asp-route-tagFilter="@tagString" class="badge badge-pill badge-rose leavePage">@tagString</a>
                }
            }
        }
    </div>
</div>

@if (Model.IsAdmin)
{
<br /><br />
<div>
    <br /><br />
    <div class="nav-pills" style="height: 20px; width: 30px; font-size: 5px; background-color: #870000; display: inline-block;">
        <p style="width: 20px; height: 15px; font-size: 16px; position: absolute; color: #EEEEFF; text-align: center; transform: translate(-6px, 1px);">1</p>
    </div>
    Adminstratoren
    <div class="nav-pills" style="height: 20px; width: 30px; top: 5px; left: 5px; font-size: 5px; background-color: #247f00; display: inline-block; margin-left: 20px;">
        <p style="width: 20px; height: 15px; font-size: 16px; position: absolute; color: #EEEEFF; text-align: center; transform: translate(-6px, 1px);">2</p>
    </div>
    Familie
    <div class="nav-pills" style="height: 20px; width: 30px; top: 5px; left: 5px; font-size: 5px; background-color: #72007f; display: inline-block; margin-left: 20px;">
        <p style="width: 20px; height: 15px; font-size: 16px; position: absolute; color: #EEEEFF; text-align: center; transform: translate(-6px, 1px);">3</p>
    </div>
    Betreuere/Spezial
    <div class="nav-pills" style="height: 20px; width: 30px; top: 5px; left: 5px; font-size: 5px; background-color: #007987; display: inline-block; margin-left: 20px;">
        <p style="width: 20px; height: 15px; font-size: 16px; position: absolute; color: #EEEEFF; text-align: center; transform: translate(-6px, 1px);">4</p>
    </div>
    Freunde
    <div class="nav-pills" style="height: 20px; width: 30px; top: 5px; left: 5px; font-size: 5px; background-color: #181274; display: inline-block; margin-left: 20px;">
        <p style="width: 20px; height: 15px; font-size: 16px; position: absolute; color: #EEEEFF; text-align: center; transform: translate(-6px, 1px);">5</p>
    </div>
    Registrierte Benutzer oder Allen<br /><br />
</div>
}
<div style="clear: left; max-width: 100%; padding-top: 10px; padding-bottom: 20px;"></div>
<br />
@*<script>
        var myElement = document.querySelector('#photoListDiv');
        myElement.addEventListener("touchstart", startTouch, false);
        myElement.addEventListener("touchmove", moveTouch, false);

        // Swipe Up / Down / Left / Right
        var initialX = null;
        var initialY = null;

        function startTouch(e) {
            initialX = e.touches[0].clientX;
            initialY = e.touches[0].clientY;
        };

        function moveTouch(e) {
            if (initialX === null) {
                return;
            }

            if (initialY === null) {
                return;
            }

            var currentX = e.touches[0].clientX;
            var currentY = e.touches[0].clientY;

            var diffX = initialX - currentX;
            var diffY = initialY - currentY;

            if (Math.abs(diffX) > Math.abs(diffY)) {
                // sliding horizontally
                if (diffX > 0) {
                    // swiped left
                    console.log("swiped left");
                    document.getElementById('nextPhotoLink').click();
                } else {
                    // swiped right
                    console.log("swiped right");
                    document.getElementById('previousPhotoLink').click();
                }
            } else {
                // sliding vertically
                if (diffY > 0) {
                    // swiped up
                    console.log("swiped up");
                } else {
                    // swiped down
                    console.log("swiped down");
                }
            }

            initialX = null;
            initialY = null;

            e.preventDefault();
        };
    </script>*@
