@using KinaUnaWeb.Services
@using KinaUna.Data
@using System.Globalization
@model KinaUnaWeb.Models.ItemViewModels.UploadVideoViewModel
@section Scripts{
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
        <link href="/css/amsify.suggestags.css" rel="stylesheet" asp-append-version="true"/>
        <script src="/lib/jquery.amsify.suggestags.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Add YouTube video", PageNames.Videos, Model.LanguageId);
    string addVideoForString = await LocaleManager.GetTranslation("Add YouTube video for:", PageNames.Videos, Model.LanguageId);
    string timeSeparator = CultureInfo.CurrentUICulture.DateTimeFormat.TimeSeparator;
    string longDateTimeFormat = "dd-MMMM-yyyy HH" + timeSeparator + "mm";
    string zebraDateTimeFormat = "d-F-Y H" + timeSeparator + "i";
}
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-controller="Videos" asp-action="UploadVideo" enctype="multipart/form-data" method="post">
            @if (Model.ProgenyList.Count > 1)
            {
                <div class="form-group">
                    <label class="col-auto control-label">@addVideoForString </label>
                    <div class="col-auto">
                        <select id="item-progeny-id-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="Video.ProgenyId" asp-items="@Model.ProgenyList"></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label col-auto">@addVideoForString </label>
                    <div class="col-auto">
                        <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                    </div>
                    <input asp-for="Video.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
                </div>

            }
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Paste the link or embed code here:", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea class="form-control" asp-for="FileLink" rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-12 control-label">@await LocaleManager.GetTranslation("Duration", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-12">
                    @{
                        int hours = 0;
                        int minutes = 0;
                        int seconds = 0;
                        if (Model.Video.DurationHours + Model.Video.DurationMinutes + Model.Video.DurationSeconds != string.Empty)
                        {
                            int.TryParse(Model.Video.DurationHours, out hours);
                            int.TryParse(Model.Video.DurationMinutes, out minutes);
                            int.TryParse(Model.Video.DurationSeconds, out seconds);
                        }
                    }
                    <div class="form-row">
                        <div class="col-auto">
                            <label class="control-label">@await LocaleManager.GetTranslation("H:", PageNames.Videos, Model.LanguageId)</label>
                            <input type="number" id="DurationHours" asp-for="Video.DurationHours" min="0" max="100" value="@hours" class="form-control d-inline" />
                        </div>
                        <div class="col-auto">
                            <label class="control-label">@await LocaleManager.GetTranslation("m:", PageNames.Videos, Model.LanguageId)</label>
                            <input type="number" id="DurationMinutes" asp-for="Video.DurationMinutes" min="0" max="59" value="@minutes" class="form-control d-inline" />
                        </div>
                        <div class="col-auto">
                            <label class="control-label">@await LocaleManager.GetTranslation("s:", PageNames.Videos, Model.LanguageId)</label>
                            <input type="number" id="DurationSeconds" asp-for="Video.DurationSeconds" min="0" max="59" value="@seconds" class="form-control d-inline" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Video.VideoTime" class="col-auto control-label">@await LocaleManager.GetTranslation("Date and time", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="video-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="Video.VideoTime"
                               value="@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById(@Model.CurrentUser.Timezone)).ToString(longDateTimeFormat)"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Location", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="location-input" type="text" asp-for="Video.Location" value="@Model.Video.Tags" placeholder="@await LocaleManager.GetTranslation("Add location name entry...", PageNames.Videos, Model.LanguageId)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-2 control-label">@await LocaleManager.GetTranslation("Latitude", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="latitude" type="text" asp-for="Video.Latitude" value="@Model.Video.Latitude" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-2 control-label">@await LocaleManager.GetTranslation("Longitude", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="longitude" type="text" asp-for="Video.Longtitude" value="@Model.Video.Longtitude" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-2 control-label">@await LocaleManager.GetTranslation("Altitude", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="altitude" type="text" asp-for="Video.Altitude" value="@Model.Video.Altitude" class="form-control"/>
                </div>
            </div>
            @if (Model.LocationsList.Any())
            {
                <div class="form-group">
                    <label class="col-lg-12 col-sm-2 control-label">@await LocaleManager.GetTranslation("Copy Location Latitude and Longitude from Existing Location", PageNames.Videos, Model.LanguageId)</label>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <select id="copy-location" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" asp-items="@Model.LocationsList"></select>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-3">
                                <button id="copy-location-button" type="button" class="btn btn-primary">@await LocaleManager.GetTranslation("Copy", PageNames.Videos, Model.LanguageId)</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Tags", PageNames.Videos, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="tag-list" type="text" asp-for="Video.Tags" value="@Model.Video.Tags" placeholder="@await LocaleManager.GetTranslation("Add tag...", PageNames.Videos, Model.LanguageId)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Video.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="Video.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto"></div>
                <input asp-for="Video.Owners" class="form-control" value="@Model.Video.Owners" type="hidden" />
                <div class="col-auto">
                    <button class="btn btn-success leave-page" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger leave-page" asp-controller="Videos" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var copyLocationList = [];        
    @{
        string myLoc = "";
        string addLoc = "";
        foreach (Location loc in Model.ProgenyLocations)
        {
            myLoc = myLoc + "let loc" + loc.LocationId + " = {id: " + loc.LocationId + ", name: \'" + loc.Name + "\', lat: " + loc.Latitude.ToString(new CultureInfo("en-US")).Replace(',', '.') + ", lng: " + loc.Longitude.ToString(new CultureInfo("en-US")).Replace(',', '.') + "};";
            addLoc = addLoc + "copyLocationList.push(loc" + loc.LocationId + ");";
        }
    }
    @Html.Raw(myLoc)
    @Html.Raw(addLoc)
        </script>
<script src="/js/videos/add-edit-video.js" type="module" asp-append-version="true"></script>