@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.VideoItemViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete video", PageNames.Videos, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteVideo" role="form" method="post">
            <div class="col-auto">
                @await LocaleManager.GetTranslation("Are you sure you want to delete this video?", PageNames.Videos, Model.LanguageId)
            </div>
            <div class="col-auto">
                <img src="@Model.Video.ThumbLink" class="img-responsive" style="max-width: 600px;" />
                @if (Model.Video.VideoTime.HasValue)
                {
                    <div>@await LocaleManager.GetTranslation("Date and time:", PageNames.Videos, Model.LanguageId) @Model.Video.VideoTime.Value.ToString("dd-MMM-yyyy HH:mm")"</div>
                }
            </div>
            <div class="space-20"></div>
            <input asp-for="Video.VideoId" class="form-control" value="@Model.Video.VideoId" type="hidden" />
            <input asp-for="Video.ProgenyId" class="form-control" value="@Model.Video.ProgenyId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leave-page">@await LocaleManager.GetTranslation("Yes - delete this video", PageNames.Videos, Model.LanguageId)</Button>
                <a class="btn btn-danger leave-page" asp-controller="Videos" asp-action="Video" asp-route-id="@Model.Video.VideoId" asp-route-childId="@Model.Video.ProgenyId">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>