@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.FamilyAccessViewModels.PermissionViewModel
@inject ILocaleManager LocaleManager
@{
    string pageTitle = await LocaleManager.GetTranslation("Remove user permission for", PageNames.AccessManagement, Model.LanguageId);
    string nameString = string.Empty;
    if (Model.CurrentProgenyId > 0 && Model.CurrentProgeny != null)
    {
        nameString = Model.CurrentProgeny.NickName;
    }

    foreach (SelectListItem selectListItem in Model.PermissionLevelsList)
    {
        selectListItem.Text = await LocaleManager.GetTranslation(selectListItem.Text, PageNames.AccessManagement, Model.LanguageId);
    }
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@pageTitle: @nameString</span>
                <button id="close-delete-permission-modal-button" type="button" class="btn btn-link item-details-close-button close-delete-permission-modal-button"><span>×</span></button>
            </div>
        </div>
        <form id="delete-permission-form" asp-action="DeleteProgenyPermission" asp-controller="FamilyAccess" role="form" method="post">
            <div class="space-20"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-auto control-label">@await LocaleManager.GetTranslation("Email", PageNames.Progeny, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="user-permission-email-input" asp-for="Email" type="email" class="form-control" value="@Model.Email" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PermissionLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Select the user's permission", PageNames.AccessManagement, Model.LanguageId):</label>
                <div class="col-auto">
                    <select id="user-permission-level-select" disabled="disabled" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.PermissionLevelsList.Count" asp-for="PermissionLevel" asp-items="@Model.PermissionLevelsList"></select>
                </div>
            </div>
            <input type="hidden" asp-for="CurrentProgenyId" value="@Model.CurrentProgenyId" />
            <input type="hidden" asp-for="CurrentFamilyId" value="@Model.CurrentFamilyId" />
            <input type="hidden" asp-for="ProgenyPermission.ProgenyPermissionId" value="@Model.ProgenyPermission.ProgenyPermissionId" />
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button id="save-permission-button" disabled="disabled" class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Remove", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger item-details-cancel-button close-delete-permission-modal-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
            </div>
        </form>
    </div>
</div>
