@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.FamilyAccessViewModels.UserGroupViewModel
@inject ILocaleManager LocaleManager
@{
    string pageTitle = await LocaleManager.GetTranslation("Delete group for", PageNames.AccessManagement, Model.LanguageId);
    string nameString = string.Empty;
    if (Model.CurrentProgenyId > 0 && Model.CurrentProgeny != null)
    {
        nameString = Model.CurrentProgeny.NickName;
    }
    else if (Model.CurrentFamily != null)
    {
        nameString = Model.CurrentFamily.Name;
    }

    foreach (SelectListItem selectListItem in Model.PermissionLevelsList)
    {
        selectListItem.Text = await LocaleManager.GetTranslation(selectListItem.Text, PageNames.AccessManagement, Model.LanguageId);
    }
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@pageTitle: @nameString</span>
                <button id="close-edit-group-modal-button" type="button" class="btn btn-link item-details-close-button close-delete-group-modal-button"><span>×</span></button>
            </div>
        </div>
        <form id="delete-group-form" asp-action="DeleteGroup" asp-controller="FamilyAccess" role="form" method="post">
            <div class="space-20"></div>
            <div class="form-group">
                <label asp-for="UserGroup.Name" class="col-auto control-label">@await LocaleManager.GetTranslation("Group name", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="group-name-input" class="form-control" asp-for="UserGroup.Name" value="@Model.UserGroup.Name" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserGroup.Description" class="col-auto control-label">@await LocaleManager.GetTranslation("Description", PageNames.Family, Model.LanguageId)</label>
                <textarea class="form-control" rows="4" asp-for="UserGroup.Description" readonly="readonly">@Model.UserGroup.Description</textarea>
            </div>
            <div class="form-group">
                <label asp-for="PermissionLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Select group's permission", PageNames.AccessManagement, Model.LanguageId):</label>
                <div class="col-auto">
                    <select id="family-member-permission-select" disabled="disabled" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.PermissionLevelsList.Count" asp-for="PermissionLevel" asp-items="@Model.PermissionLevelsList"></select>
                </div>
            </div>
            <input type="hidden" asp-for="UserGroup.FamilyId" value="@Model.UserGroup.FamilyId" />
            <input type="hidden" asp-for="UserGroup.ProgenyId" value="@Model.UserGroup.ProgenyId" />
            <input type="hidden" asp-for="UserGroup.UserGroupId" value="@Model.UserGroup.UserGroupId" />
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button id="save-group-button" disabled="disabled" class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Delete", PageNames.AddItem, Model.LanguageId)</button>
                    <button class="btn btn-danger item-details-cancel-button close-delete-group-modal-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</button>
                </div>
            </div>
        </form>
    </div>
</div>