@model KinaUnaWeb.Models.FamiliesViewModels.UserGroupsViewModel
@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUna.Data.Models.AccessManagement
@using KinaUna.Data.Models.Family
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Manage User Access", PageNames.Family, Model.LanguageId);
}
<div class="row m-0">
    <div class="col-12">
        <div class="page-tab-container">
            <div class="page-tab" id="page-title-div">
                <a class="btn-page-tab leave-page" asp-controller="Families" asp-action="Index">
                    <i class="material-icons sidebar-icon">people</i>@await LocaleManager.GetTranslation("Family Members", PageNames.Family, Model.LanguageId)
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="FamilyMembers" asp-action="Index">
                    <i class="material-icons sidebar-icon">group</i> @await LocaleManager.GetTranslation("Family Members", PageNames.Family, Model.LanguageId)
                </a>
            </div>
            <div class="page-tab active">
                <a class="btn-page-tab active leave-page" asp-controller="FamilyAccess" asp-action="Index">
                    <i class="material-icons sidebar-icon">lock_person</i> @await LocaleManager.GetTranslation("User Access", PageNames.Family, Model.LanguageId)
                </a>
            </div>
            <div class="page-tab">
                <a class="btn-page-tab leave-page" asp-controller="Progeny" asp-action="OtherPeopleAndPets">
                    <i class="material-icons sidebar-icon">contacts</i> @await LocaleManager.GetTranslation("Other people/pets", PageNames.Family, Model.LanguageId)
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="col-12 h-4">
        Family Access
    </div>
    @foreach (Family family in Model.Families)
    {
        <div class="col-12 mt-3 mb-1 h4">
            <i class="material-icons kinauna-icon-medium" style="font-size: 32px">family_restroom</i> @family.Name
        </div>
        <div class="col-12 h5">Group permissions</div>
        @foreach (UserGroup userGroup in Model.UserGroups)
        {
            if (userGroup.FamilyId == family.FamilyId)
            {
                <div class="col-12">
                    <span>Group name: @userGroup.Name</span><span>Permission: @userGroup.PermissionLevel.ToString()</span>
                    <button data-add-member-to-group-id="@userGroup.UserGroupId">Add member</button>
                </div>
                <div class="col-12">
                    Members:
                    <div class="row">
                        @foreach (UserGroupMember userGroupMember in userGroup.Members)
                        {
                            <div class="col-12">
                                <span>Email: @userGroupMember.Email</span>
                                @if (userGroupMember.UserInfo != null)
                                {
                                    <span> @userGroupMember.UserInfo.FullName()</span>
                                }
                            </div>
                            <div class="col-12">
                                <button data-edit-user-group-member-id="@userGroupMember.UserGroupMemberId">Edit</button><button data-delete-user-group-member-id="@userGroupMember.UserGroupMemberId">Delete</button>
                            </div>
                        }
                    </div>
                </div>
            }
        }

        <div class="col-12 h5">User permissions</div>
        @foreach (FamilyPermission familyPermission in Model.FamilyPermissions)
        {
            if (familyPermission.FamilyId == family.FamilyId)
            {
                <div class="col-12">
                    <span>Email: @familyPermission.Email</span>
                    @if (!string.IsNullOrWhiteSpace(familyPermission.UserId) && familyPermission.UserInfo != null)
                    {
                        <span> @familyPermission.UserInfo.FullName()</span>
                    }
                </div>
                <div class="col-12">
                    <button data-edit-user-family-permission-id="@familyPermission.FamilyPermissionId">Edit</button><button data-delete-user-family-permission-id="@familyPermission.FamilyPermissionId">Delete</button>
                </div>
            }
        }
    }
</div>
<div class="row m-0">
    <div class="col-12 h4">
        Individual Access
    </div>
    @foreach (Progeny progeny in Model.Progenies)
    {
        <div class="col-12 mt-3 mb-1 h4">
            <i class="material-icons kinauna-icon-medium" style="font-size: 32px">family_restroom</i> @progeny.NickName
        </div>
        <div class="col-12 h5">Group permissions</div>
        @foreach (UserGroup userGroup in Model.UserGroups)
        {
            if (userGroup.ProgenyId == progeny.Id)
            {
                <div class="col-12">
                    <span>Group name: @userGroup.Name</span><span>Permission: @userGroup.PermissionLevel.ToString()</span>
                    <button data-add-member-to-group-id="@userGroup.UserGroupId">Add member</button>
                </div>
                <div class="col-12">
                    Members:
                    <div class="row">
                        @foreach (UserGroupMember userGroupMember in userGroup.Members)
                        {
                            <div class="col-12">
                                <span>Email: @userGroupMember.Email</span>
                                @if(userGroupMember.UserInfo != null )
                                {
                                    <span> @userGroupMember.UserInfo.FullName()</span>
                                }
                            </div>
                            <div class="col-12">
                                <button data-edit-user-group-member-id="@userGroupMember.UserGroupMemberId">Edit</button><button data-delete-user-group-member-id="@userGroupMember.UserGroupMemberId">Delete</button>
                            </div>
                        }
                    </div>
                </div>
            }
        }

        <div class="col-12 h5">User permissions</div>
        @foreach (ProgenyPermission progenyPermission in Model.ProgenyPermissions)
        {
            if (progenyPermission.ProgenyId == progeny.Id)
            {
                <div class="col-12">
                    <span>Email: @progenyPermission.Email</span>
                    @if (!string.IsNullOrWhiteSpace(progenyPermission.UserId) && progenyPermission.UserInfo != null)
                    {
                        <span> @progenyPermission.UserInfo.FullName()</span>
                    }
                </div>
                <div class="col-12">
                    <button data-edit-user-progeny-permission-id="@progenyPermission.ProgenyPermissionId">Edit</button><button data-delete-user-progeny-permission-id="@progenyPermission.ProgenyPermissionId">Delete</button>
                </div>
            }
        }
    }
</div>
