@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using KinaUna.Data
@using KinaUna.Data.Extensions
@using KinaUnaWeb.Models.HomeViewModels
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager;
@inject IProgenyManager ChildManager
@{
    if (Context.Request.Host.Host.ToLower() == "www.kinauna.com" || Context.Request.Host.Host.ToLower() == "kinauna.com")
    {
        Context.Response.Redirect("https://web.kinauna.com");
    }
    

    KinaUnaLanguage kinaUnaLanguage = Context.Request.GetKinaUnaLanguage();
    int languageId = kinaUnaLanguage.Id;
    string languageCode = kinaUnaLanguage.Code;
    List<Progeny> childList = new();
    Progeny child = new();
    UserInfo userInfo = new();
    bool showUndelete = false;
    bool allowHereMaps = Context.Request.HereMapsCookieSet();

    if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        string userId = User.GetUserId();
        userInfo = await ChildManager.GetInfo(User.GetEmail());
        bool isAccountDeleted = userInfo.Deleted && userInfo.DeletedTime < DateTime.UtcNow - TimeSpan.FromDays(30);
        if (!isAccountDeleted && await ChildManager.IsUserLoginValid(userId))
        {
            if (userInfo.UserId == "401") // The current user's account is not valid, log out.
            {
                Context.Response.Redirect("/Account/LogOut");
            }
            else
            {
                childList = userInfo.ProgenyList;
                child = userInfo.ProgenyList.SingleOrDefault(p => p.Id == userInfo.ViewChild);
            }
        }
        else
        {
            bool isApplicationUserValid = await ChildManager.IsApplicationUserValid(userId);

            if (isApplicationUserValid && userInfo.Deleted && userInfo.DeletedTime > DateTime.UtcNow - TimeSpan.FromDays(30))
            {

                showUndelete = true;
            }
            else
            {
                Context.Response.Redirect("/Account/LogOut");
            }
        }
    }

    child ??= new Progeny(){Id = Constants.DefaultChildId};

    UserMenuViewModel userMenuViewModel = new UserMenuViewModel { LanguageId = languageId, UserInfo = userInfo, ProgenyId = child.Id};
}
<!DOCTYPE html>
<html lang="@languageCode">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark">
    <title>@ViewData["Title"] : KinaUna</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap5.css"/>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap5-dark.css" media="(prefers-color-scheme: dark)">
    <link href="~/lib/fa5_2_0/css/all.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/waitMe.min.css" rel="stylesheet" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link href="/css/amsify.suggestags.css" rel="stylesheet" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="~/lib/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/lazysizes.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="~/js/waitMe.min.js" asp-append-version="true"></script>
    <script src="/lib/jquery.amsify.suggestags.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
    @if (allowHereMaps)
    {
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    }
    @await RenderSectionAsync("Scripts", required: false)
    <meta name="theme-color" content="#3a2051" />
    <link rel="manifest" href="~/manifest.json">
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('/pwabuilder-sw-002.js')
        }
    </script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<div id="top-language-div" class="kinauna-purple-bg">
    <div class="container">
        <div class="row">
            <div class="col ml-3 mt-0 mb-1 w-100">
                @await Html.PartialAsync("_LanguagePartial", await LocaleManager.GetLanguageModel(languageId))
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" id="nav-main">
    <div id="top-main-menu-container" class="container">

        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand leave-page" aria-label="Home" style="margin-right: 80px;">
            <img src="/images/Square44x44Logo.scale-100.png" class="kinauna-logo"/>
        </a>
        @if (userInfo.CanUserAddItems)
        {
            <div class="navbar-nav nav-item ml-3 ml-lg-1">
                <button class="btn btn-link kinauna-yellow-text" style="margin-right: 12px;" id="main-page-add-item-button" data-toggle="modal" data-target="#main-modal" aria-label="Add item">
                    <i class="material-icons kinauna-icon-medium kinauna-yellow-text" aria-hidden="true">add</i>
                </button>
            </div>
        }
        @{
            string childprofilePic = "<i class=\"material-icons d-none\" style=\"color: #8bda8b;\">child_care</i>";
            if (!string.IsNullOrWhiteSpace(child.PictureLink))
            {
                string picLink = child.GetProfilePictureUrl();
                childprofilePic = "<img src=\"" + picLink + "\" style=\"max-height: 48px; margin-right: 0px; background: #8bda8b; border-radius: 12px; padding: 1px; width: 48px; object-fit: contain;\" /img> ";
            }

            <span class="d-lg-none selected-child-profile-picture">@Html.Raw(childprofilePic)</span>
        }
        <span id="toggler-notifications-counter" class="badge badge-danger ml-auto mr-2 d-block d-lg-none" style="position: relative; display: none; font-size: 12px;">0</span>
        <button id="nav-main-menu-button" class="navbar-toggler d-block d-lg-none" style="height: 52px; border-color: transparent; outline: none" type="button" data-toggle="collapse" data-target="#navbar-main-content" aria-controls="navbarMainContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon kinauna-yellow-text"></span>
        </button>
        <div class="collapse navbar-collapse mt-5 mt-lg-1 ml-6 ml-sm-6 ml-md-6 ml-lg-0" id="navbar-main-content" style="min-height: 52px;">
            <ul class="navbar-nav ml-1 ml-lg-2 w-100 top-menu-max-height">
                @if (childList.Count > 1)
                {
                    <li class="nav-item dropdown mb-2 mb-lg-0 mr-auto mr-lg-2">
                        <a id="select-child-menu-button" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span style="max-height: 40px;">@Html.Raw(childprofilePic)</span><span> @child.NickName </span>
                        </a>
                        <div id="select-child-dropdown-menu" class="dropdown-menu">
                            @foreach (Progeny prog in childList)
                            {
                                <div class="dropdown-item">
                                    <a class="btn btn-link btn-block text-white text-left ml-0 select-progeny-button" data-select-progeny-id="@prog.Id">
                                        @{
                                            string profilePic2 = "<i class=\"material-icons\" style=\"color: #8bda8b;\">child_care</i>";
                                            if (!string.IsNullOrWhiteSpace(prog.PictureLink))
                                            {
                                                string picLink2 = prog.GetProfilePictureUrl();
                                                profilePic2 = "<img src=\"" + picLink2 + "\" style=\"max-height: 36px; width: 42px; margin-top: -4px; margin-right: 4px; background: black; border-radius: 10px; padding: 1px; width: 40px; object-fit: contain;\" /img> ";
                                            }
                                        }
                                        @Html.Raw(profilePic2) @prog.NickName <span class="d-none progeny-check-span ml-2 text-success"><i class="material-icons">check</i></span>
                                    </a>
                                    @if (prog.Id != child.Id)
                                    {
                                        <a class="ml-auto btn btn-link text-white set-default-progeny-button" data-default-progeny-id="@prog.Id" style="width: 64px;">
                                            <i class="material-icons" data-default-progeny-id="@prog.Id">star</i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="ml-auto btn btn-link text-success set-default-progeny-button" data-default-progeny-id="@prog.Id" style="width: 64px;">
                                            <i class="material-icons" data-default-progeny-id="@prog.Id">stars</i>
                                        </a>
                                    }
                                    <a class="btn btn-link text-white default-progeny-button" data-progeny-info-id="@prog.Id" style="width: 64px;">
                                        <i class="material-icons" data-progeny-info-id="@prog.Id">info</i>
                                    </a>

                                </div>
                            }
                        </div>
                    </li>
                }
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    @await Html.PartialAsync("_NotificationsMenuPartial", languageId)
                    @await Html.PartialAsync("_AccountMenuPartial", userMenuViewModel)
                }
                else
                {
                    <li class="nav-item ml-lg-auto">
                        <span id="login-form" class="form-inline-fullwidth">
                            <a id="login-button" asp-controller="Authentication" asp-action="LogIn" class="btn btn-link nav-link text-left btn-block leave-page"><i class="material-icons ml-2 mr-1">exit_to_app</i> @await LocaleManager.GetTranslation("Log in or register", PageNames.Layout, languageId)</a>
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div id="page-settings-div" class="d-none page-settings-container">
        </div>
    </div>
</nav>
@await Html.PartialAsync("_SideMenuPartial", userMenuViewModel)
<div id="body-content" class="main-container body-content">
    <div id="kinauna-main-div" class="main kinauna-main" style="margin-top: 10px; padding-top: 10px;">
        @if (showUndelete)
        {
            @await Html.PartialAsync("_UndeleteAccountPartial", languageId)
        }
        @RenderBody()
    </div>
    <div class="space-20"></div>
    @await Html.PartialAsync("_FooterPartial", languageId)
</div>
@if (!Context.Request.ConsentCookieSet())
{
    <div class="container" style="position: sticky; bottom: 0; overflow-y: auto; max-height: 90vh;">
        <div class="row">
            <div class="ml-auto col-12 col-md-7 col-lg-5 col-xl-4 col-xxl-3 col-w1900-3 col-w2500-2">
                @await Html.PartialAsync("_CookieConsentPartial", languageId)
            </div>
        </div>
    </div>
}
@await Html.PartialAsync("_LayoutModalPartial")
<div id="item-details-div" class="item-details-popup d-none"></div>

<div id="language-id-div" class="d-none" data-language-id="@languageId"></div>
<div id="progeny-id-div" class="d-none" data-progeny-id="@child.Id"></div>
<script src="~/js/app.js" type="module" asp-append-version="true"></script>
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/signalr/msgpack5.min.js"></script>
    <script src="~/signalr/signalr-protocol-msgpack.min.js"></script>
    <script src="~/js/notifications/notifications-menu.js" type="module" asp-append-version="true"></script>
}
<ejs-scripts></ejs-scripts>
</body>
</html>