<!DOCTYPE html>
<html>
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using KinaUnaWeb.Services
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] : Kina Una Web</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link href="~/lib/fa5_2_0/css/all.min.css" rel="stylesheet"/>
    <link href="~/css/waitMe.min.css" rel="stylesheet"/>
    <link href="~/css/material-kit.min.css?v=2.0.2" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css?v=1.13"/>
    <script src="~/lib/jquery-3.3.1.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/material-kit/bootstrap-material-design.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="~/lib/material-kit/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/lib/material-kit/material-kit.min.js?v=2.0.2"></script>
    <script src="~/js/waitMe.min.js"></script>
    @RenderSection("Scripts", required: false)
    <meta name="theme-color" content="#3a2051"/>
    <link rel="manifest" href="~/manifest.json">
    <script>
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {
            navigator.serviceWorker.register('pwabuilder-sw.js',
                {
                    scope: './'
                }).then(function(reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>
</head>
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{ var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : Context.Request.GetEncodedUrl(); }
@inject IProgenyManager ChildManager
@{
    var childList = new List<Progeny>();
    var child = new Progeny();
    bool canUserAddItems = false;
    var usrName = "";
    UserInfo userinfo = new UserInfo();
}

@if (User.Identity.IsAuthenticated)
{
    string userEmail = User.FindFirst("email")?.Value;
    userinfo = await ChildManager.GetInfo(userEmail);
    if (userinfo.UserId == "401")
    {

        Context.Response.Redirect("/Account/CheckOut?returnUrl=" + returnUrl);
    }
    else
    {
        if (userinfo.ViewChild == 0)
        {
            Context.Response.Redirect("/");
        }
        childList = userinfo.ProgenyList;
        canUserAddItems = userinfo.CanUserAddItems;
        child = userinfo.ProgenyList.SingleOrDefault(p => p.Id == userinfo.ViewChild);
        usrName = userinfo.UserName;
    }
}
<body>
<script>
    document.domain = document.domain;
    var framed = window.frames.length + ':' + parent.frames.length;
    console.log("Framed: " + framed);
    if (framed === '0:1') {
        console.log("Window is not top windows Sending message to close frame to parent.");
        window.parent.postMessage("closeKinaUnaFrame", '*');
    }
</script>
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand leavePage"><span style="color: #deb9ff">K</span><span style="color: gold;">ina Una</span><span class="fa fa-home" style="margin-left: 5px; color: gold;"></span></a>
        }
        else
        {
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand leavePage">Kina Una <span class="fa fa-home" style="color: gold;"></span></a>
        }
        <div class="navbar-nav nav-item">
            <a class="nav-link leavePage" style="margin-left: 12px; margin-right: 12px;" href="https://@Context.Request.Host@Context.Request.GetEncodedPathAndQuery()">
                <i class="fas fa-sync-alt" aria-hidden="true"></i>
            </a>
        </div>
        @if (canUserAddItems)
        {
            <div class="navbar-nav nav-item">
                <a class="nav-link leavePage" style="margin-left: 12px; margin-right: 12px;" asp-area="" asp-controller="AddItem" asp-action="Index">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        }
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavSegments" aria-controls="navbarNavSegments" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavSegments">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                @if (childList.Count > 1)
                {
                    <div class="navbar-nav nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #8bda8b;">
                            <span class="fa fa-child" style="color: #8bda8b;"></span> @child.NickName <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            @foreach (Progeny prog in childList)
                            {
                                if (prog.Id != child.Id)
                                {
                                    <div class="dropdown-item">
                                        <form class="form-inline-fullwidth" asp-area="" asp-controller="Home" asp-action="SetViewChild" asp-route-childId="@prog.Id" asp-route-userId="@userinfo.UserId" asp-route-userEmail="@userinfo.UserEmail" asp-route-returnUrl="@returnUrl" method="post">
                                            <button type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                                <span class="fa fa-child"></span> @prog.NickName
                                            </button>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                <div class="navbar-nav nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-star"></span><span class="d-sm-inline d-md-inline d-lg-inline"> Vitae </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Pictures" asp-action="Index" method="get">
                                <button style="align-items: flex-start" type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                    <span class="far fa-images"></span><span> Photos</span>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-id="1" method="get">
                                <button style="align-items: flex-start" type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                    <span class="fas fa-video"></span><span> Videos</span>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Calendar" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-calendar"></span> Calendar</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Locations" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fas fa-map-marker-alt"></span> Locations</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Vocabulary" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><span class="far fa-comment-alt"></span> Vocabulary</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Skills" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><span class="fa fa-graduation-cap"></span> Skillz</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Friends" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><span class="fas fa-users"></span> Friends</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-list-alt"></span><span class="d-sm-inline d-md-inline d-lg-inline"> Notae </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="TimeLine" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fas fa-history"></span> Timeline</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Measurements" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-weight"></span> Measurements</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Sleep" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-bed"></span> Sleep</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Notes" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-sticky-note"></span> Notes</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Contacts" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-address-book"></span> Contacts</button>
                            </form>
                        </div>
                        <div class="dropdown-item">
                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Vaccinations" asp-action="Index" method="get">
                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-medkit"></span> Vaccinations</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="nav-item">
                    <a class="nav-link leavePage" asp-area="" asp-controller="Home" asp-action="About">
                        <span class="fa fa-info-circle"></span><span class="d-sm-inline d-md-inline d-lg-inline"> About</span>
                    </a>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-nav">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-user"></span> @usrName
                        </a>
                        <div class="dropdown-menu">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="dropdown-item">
                                    <form class="form-inline-fullwidth" asp-area="" asp-controller="Family" asp-action="Index" method="get">
                                        <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-child"></span> My Family</button>
                                    </form>
                                </div>
                            }
                            @if (User.IsInRole("SiteAdmin") || userinfo.UserEmail.ToUpper() == "PER.MOGENSEN@GMAIL.COM")
                            {
                                <div class="dropdown-item">
                                    <form class="form-inline-fullwidth" asp-area="" asp-controller="Admin" asp-action="Index" method="get">
                                        <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-universal-access"></span> Admin</button>
                                    </form>
                                </div>
                            }
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="MyAccount" method="get">
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><span class="fa fa-cog"></span> My Account</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="Logout" method="post" target="loginFrame">
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage" data-toggle="modal" data-target="#loginModal"><span class="fa fa-power-off"></span> Log Out</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="navbar-nav">
                    <div class="nav-item">
                        <form id="loginForm" class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="Login" method="post" target="loginFrame">
                            <button id="loginButton" type="submit" class="btn btn-link nav-link text-left btn-block" data-toggle="modal" data-target="#loginModal"><span class="fas fa-sign-in-alt"></span> Login or Register</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>
<div class="container body-content">
    <div class="main main-raised" style="margin-top: 10px; margin-left: 5px; margin-right: 5px; padding: 5px; padding-left: 10px; padding-top: 10px;">
        @RenderBody()
    </div>
    <br/>
    @{
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        List<SelectListItem> cultureItems = new List<SelectListItem>();
        SelectListItem selectEnglish = new SelectListItem();
        selectEnglish.Text = "English";
        selectEnglish.Value = "en-US";
        SelectListItem selectDanish = new SelectListItem();
        selectDanish.Text = "Dansk";
        selectDanish.Value = "da-DK";
        SelectListItem selectGerman = new SelectListItem();
        selectGerman.Text = "Deutsch";
        selectGerman.Value = "de-DE";
        cultureItems.Add(selectEnglish);
        cultureItems.Add(selectDanish);
        cultureItems.Add(selectGerman);
    }
</div>
<script>
    var checkFrame;
    var isAuthPage = false;
    var checkFrameCount = 0;
    window.addEventListener('message',
        function (event) {
            console.log("Received message: " + event.data + " From: " + event.origin);
            isAuthPage = false;
            if (~event.origin.indexOf('https://web.kinauna.com')) {
                isAuthPage = true;
                if (event.data === "closeKinaUnaFrame") {
                    if (window === window.top) {
                        window.location.href = window.location.href;
                    }
                }
            }
            if (~event.origin.indexOf('https://localhost:44324')) {
                isAuthPage = true;
                if (event.data === "closeKinaUnaFrame") {
                    if (window === window.top) {
                        window.location.href = window.location.href;
                    }
                }
            }

            if (~event.origin.indexOf('https://auth.kinauna.com')) {
                isAuthPage = true;
            } else if (~event.origin.indexOf('https://localhost:44397')) {
                isAuthPage = true;
            } else {
               return;
            }
        });

    function frameLoaded() {
        if ($('#loginModal').is(':visible')) {
            checkFrame = setInterval(function () {
                    if ($('#loginModal').is(':visible')) {
                        var iframe = document.getElementById('loginFrame');
                        iframe.contentWindow.postMessage('web', '*');
                        checkFrameCount++;
                        console.log("checkFrameCount: " + checkFrameCount);
                        if (!isAuthPage && checkFrameCount > 2) {
                            console.log("Submitting LoginForm from checkFrame.");
                            document.getElementById('loginForm').submit();
                        } else {
                            return false;
                        }
                    } else {
                        loginModalClosed();
                    }
                },
                3000);
        }
    }
    function loginModalClosed() {
        clearInterval(checkFrame);
    }
</script>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-signup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="loginModalClosed()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe name="loginFrame" id="loginFrame" src="about:blank" style="border: none; width: 100%; height: 550px;" onload="frameLoaded()"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-brand" style="background: gainsboro;">
    <div class="container">
        <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal" role="form">
            <div class="form-row">
                <div>
                    <div class="btn btn-link disabled" style="color: black; padding: 0; padding-top: 22px; margin: 0; margin-right: 8px;"> Language/Sprache/Sprog: </div>
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <select title="Language/Sprache/Sprog" class="selectpicker" data-style="select-with-transition" data-size="3" name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="container">
        <br/>
        <br/>
        <ul>
            <li> <a class="leavePage" asp-controller="Home" asp-action="Privacy">Cookies & Privacy Policy</a></li>
            <li><a class="leavePage" asp-controller="Home" asp-action="Terms">Terms & Conditions</a></li>
        </ul>
    </div><br/>
</footer><br/>
<footer>
    <div class="container" style="margin-bottom: 25px;">&copy; 2018 - KinaUna.com</div><br/>
</footer>
<br/><br/>
<script>
    $(document).ready(function() {
        $(".leavePage").click(function() {
            $(this).closest(".dropdown-menu").prev().dropdown("toggle");
            runWaitMeLeave();

            function runWaitMeLeave() {
                $('.body-content').waitMe({
                    effect: 'roundBounce',
                    text: '',
                    bg: 'rgba(225,240,215,0.3)',
                    color: [
                        '#6a5081', '#7a6095', '#8a70aa', '#9a80bb', '#aa90cc', '#bbaadd', '#ccbbee', '#ddccff',
                        '#ccbbee', '#bbaadd', '#aa90cc', '#9a80bb', '#6a5081', '#7a6095', '#8a70aa', '#9a80bb',
                        '#aa90cc', '#bbaadd', '#ccbbee', '#ddccff', '#ccbbee', '#bbaadd', '#aa90cc', '#9a80bb'
                    ],
                    maxSize: '',
                    waitTime: -1,
                    source: '',
                    textPos: 'vertical',
                    fontSize: '',
                    onClose: function() {}
                });
            }
        });
    });
</script>
<script src="~/js/gdpr.js"></script>
</body>
</html>