<!DOCTYPE html>
<html lang="da">
@using KinaUna.Data
@using Microsoft.AspNetCore.Http.Extensions
@using KinaUnaWeb.Services
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] : Kina Una Web</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="~/lib/fa5_2_0/css/all.min.css" rel="stylesheet" />
    <link href="~/css/waitMe.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <link href="~/lib/material-kit-205/css/material-kit.min.css?v=2.0.5" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery-3.3.1.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/material-kit-205/js/core/bootstrap-material-design.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="~/lib/material-kit-205/js/material-kit.min.js"></script>
    <script src="~/js/waitMe.min.js"></script>
    @RenderSection("Scripts", required: false)
    <meta name="theme-color" content="#3a2051" />
    <link rel="manifest" href="~/manifest.json">
    <script>
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register');
        } else {
            navigator.serviceWorker.register('/pwabuilder-sw.js',
                {
                    scope: '/'
                }).then(function (reg) {
                    console.log('Service worker has been registered for scope:' + reg.scope);
                });
        }
    </script>
</head>
@{ var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : Context.Request.GetEncodedUrl(); }
@inject IProgenyManager ChildManager
@{
    var childList = new List<Progeny>();
    var child = new Progeny();
    bool canUserAddItems = false;
    var usrName = "";
    UserInfo userinfo = new UserInfo();
}

@if (User.Identity.IsAuthenticated)
{
    string userEmail = User.FindFirst("email")?.Value;
    userinfo = await ChildManager.GetInfo(userEmail);
    if (userinfo.UserId == "401")
    {
        Context.Response.Redirect("/Account/CheckOut?returnUrl=" + returnUrl);
    }
    else
    {
        if (userinfo.ViewChild == 0)
        {
            Context.Response.Redirect("/");
        }
        childList = userinfo.ProgenyList;
        canUserAddItems = userinfo.CanUserAddItems;
        child = userinfo.ProgenyList.SingleOrDefault(p => p.Id == userinfo.ViewChild);
        usrName = userinfo.UserName;
        if (String.IsNullOrEmpty(userinfo.UserName))
        {
            usrName = userinfo.UserEmail;
        }
    }
}
<body>
    <script>
        document.domain = document.domain;
        var framed = window.frames.length + ':' + parent.frames.length;
        if (framed === '0:1') {
            window.parent.postMessage("closeKinaUnaFrame", '*');
        }
    </script>
    <nav class="navbar navbar-expand-lg bg-primary fixed-top" id="navMain">
        <div class="container" style="max-height: 50px;">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-childId="@userinfo.ViewChild" class="navbar-brand leavePage" aria-label="Home">
                    <img src="/images/Square44x44Logo.scale-100.png" style="max-height: 44px; margin-top: -6px; background: white; border-radius: 20px; padding: 3px;" />
                </a>
            }
            else
            {
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand leavePage">
                    <img src="/images/Square44x44Logo.scale-100_bw.png" style="max-height: 44px; margin-top: -6px; background: white; border-radius: 20px; padding: 3px;" />
                </a>
            }
            <div class="navbar-nav nav-item">
                <a class="nav-link leavePage" style="margin-left: 12px; margin-right: 12px;" href="https://@Context.Request.Host@Context.Request.GetEncodedPathAndQuery()">
                    <i class="material-icons" aria-hidden="true">refresh</i>
                </a>
            </div>
            @if (canUserAddItems)
            {
                <div class="navbar-nav nav-item">
                    <a class="nav-link leavePage" style="margin-left: 12px; margin-right: 12px;" asp-area="" asp-controller="AddItem" asp-action="Index">
                        <i class="material-icons" aria-hidden="true">add</i>
                    </a>
                </div>
            }
            @{
                if (child != null)
                {
                    string childprofilePic = "<i class=\"material-icons\" style=\"color: #8bda8b;\">child_care</i>";
                    if (!String.IsNullOrWhiteSpace(child.PictureLink))
                    {
                        string picLink = ChildManager.GetImageUrl(child.PictureLink, "progeny");
                        childprofilePic = "<img src=\"" + picLink + "\" style=\"max-height: 40px; margin-top: -3px; margin-right: 0px; background: #8bda8b; border-radius: 12px; padding: 1px;\" /img> ";
                    }
                    @Html.Raw(childprofilePic)
                }
            }

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavSegments" aria-controls="navbarNavSegments" aria-expanded="false" aria-label="Toggle navigation">
                <div id="navbarTogglerButton">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span id="togglerNotificationsCounter" class="badge badge-danger" style="position: absolute; display: none; font-size: 9px; right: 22px; top: 10px;">0</span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavSegments">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                    @if (childList.Count > 1 && child != null)
                    {
                        <div class="navbar-nav nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #8bda8b;">
                                @child.NickName <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu">
                                @foreach (Progeny prog in childList)
                                {
                                    if (prog.Id != child.Id)
                                    {
                                        <div class="dropdown-item">
                                            <form class="form-inline-fullwidth" asp-area="" asp-controller="Home" asp-action="SetViewChild" asp-route-childId="@prog.Id" asp-route-userId="@userinfo.UserId" asp-route-userEmail="@userinfo.UserEmail" asp-route-returnUrl="@returnUrl" method="post">
                                                <button type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                                    @{
                                                        string profilePic2 = "<i class=\"material-icons\" style=\"color: #8bda8b;\">child_care</i>";
                                                        if (!String.IsNullOrWhiteSpace(prog.PictureLink))
                                                        {
                                                            string picLink2 = ChildManager.GetImageUrl(prog.PictureLink, "progeny");
                                                            profilePic2 = "<img src=\"" + picLink2 + "\" style=\"max-height: 36px; margin-top: -4px; margin-right: 4px; background: black; border-radius: 10px; padding: 1px;\" /img> ";
                                                        }
                                                    }
                                                    @Html.Raw(profilePic2) @prog.NickName
                                                </button>
                                            </form>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                    <div class="navbar-nav nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">favorite</i><span class="d-sm-inline d-md-inline d-lg-inline"> Vitae </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Pictures" asp-action="Index" method="get">
                                    <input type="number" name="id" value="1" hidden="hidden" />
                                    <input type="number" name="pageSize" value="8" hidden="hidden" />
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <input type="number" name="sortBy" value="1" hidden="hidden" />
                                    <button style="align-items: flex-start" type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                        <i class="material-icons">photo_library</i><span> Foto</span>
                                    </button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-id="1" method="get">
                                    <input type="number" name="id" value="1" hidden="hidden" />
                                    <input type="number" name="pageSize" value="8" hidden="hidden" />
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <input type="number" name="sortBy" value="1" hidden="hidden" />
                                    <button style="align-items: flex-start" type="submit" class="btn btn-link text-white text-left btn-block leavePage">
                                        <i class="material-icons">videocam</i><span> Video</span>
                                    </button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Calendar" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">event_note</i> Kalender</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Locations" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">person_pin</i> Steder</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Vocabulary" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><i class="material-icons">forum</i> Ord</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Skills" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><i class="material-icons">school</i> Færdigheder</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Friends" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link btn-block text-white text-left btn-block leavePage"><i class="material-icons">face</i> Venner</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">grade</i><span class="d-sm-inline d-md-inline d-lg-inline"> Notae </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="TimeLine" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">update</i> Tidslinje</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Measurements" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">straighten</i> Målinger</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Sleep" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">hotel</i> Søvn</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Notes" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">note</i> Noter</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Contacts" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">contact_phone</i> Kontakter</button>
                                </form>
                            </div>
                            <div class="dropdown-item">
                                <form class="form-inline-fullwidth" asp-area="" asp-controller="Vaccinations" asp-action="Index" method="get">
                                    <input type="number" name="childId" value="@userinfo.ViewChild" hidden="hidden" />
                                    <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">local_pharmacy</i> Vaccinationer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="notificationsIcon" class="nav-item dropdown">
                            <a id="notificationsButton" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i id="notificationBellIcon" class="material-icons">notifications</i> Meddelelser <span id="notificationsCounter" class="badge badge-pill badge-secondary"></span> <span class="caret"></span>
                            </a>
                            <div id="notificationsMenu" class="dropdown-menu">
                                <div id="notificationsList" class="notifications-List"></div>
                                <div class="dropdown-item w-100">
                                    <form class="form-inline-fullwidth" asp-area="" asp-controller="Notifications" asp-action="Index" method="get">
                                        <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">assignment</i> Se alle meddelelser</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-nav">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                @{
                                    string userprofilePic = "<i class=\"material-icons\" >person</i>";
                                    if (!String.IsNullOrWhiteSpace(userinfo.ProfilePicture))
                                    {
                                        string picLink = ChildManager.GetImageUrl(userinfo.ProfilePicture, "profiles");
                                        userprofilePic = "<img src=\"" + picLink + "\" style=\"max-height: 28px; margin-top: -2px; margin-right: 4px; border-radius: 10px;\" /img> ";
                                    }
                                }
                                @Html.Raw(userprofilePic) @usrName
                            </a>
                            <div class="dropdown-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-item">
                                        <form class="form-inline-fullwidth" asp-area="" asp-controller="Family" asp-action="Index" method="get">
                                            <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">people</i> Min familie</button>
                                        </form>
                                    </div>
                                }
                                @if (User.IsInRole("SiteAdmin") || userinfo.UserEmail.ToUpper() == Constants.AdminEmail.ToUpper())
                                {
                                    <div class="dropdown-item">
                                        <form class="form-inline-fullwidth" asp-area="" asp-controller="PushDevices" asp-action="Index" method="get">
                                            <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">notification_important</i> Push Notifications</button>
                                        </form>
                                    </div>
                                }
                                @if (User.IsInRole("SiteAdmin") || userinfo.UserEmail.ToUpper() == Constants.AdminEmail.ToUpper())
                                {
                                    <div class="dropdown-item">
                                        <form class="form-inline-fullwidth" asp-area="" asp-controller="Admin" asp-action="Index" method="get">
                                            <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">security</i> Admin</button>
                                        </form>
                                    </div>
                                }
                                <div class="dropdown-item">
                                    <form class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="MyAccount" method="get">
                                        <button type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">tune</i> Min konto</button>
                                    </form>
                                </div>
                                <div class="dropdown-item">
                                    <form id="logOutForm" class="form-inline-fullwidth" asp-area="" asp-controller="Account" asp-action="Logout" method="post" target="loginFrame">
                                        <button id="logOutButton" type="submit" class="btn btn-link text-white text-left btn-block leavePage"><i class="material-icons">power_settings_new</i> Log af</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <environment include="Development">
                                <form id="loginForm" class="form-inline-fullwidth" asp-controller="Account" asp-action="Login" method="post" target="loginFrame">
                                    <button id="loginButton" type="submit" class="btn btn-link nav-link text-left btn-block" data-toggle="modal" data-target="#loginModal"><i class="material-icons">exit_to_app</i> Log ind eller opret bruger</button>
                                </form>
                            </environment>
                            <environment exclude="Development">
                                <form id="loginForm" class="form-inline-fullwidth" action="@Constants.WebAppUrl/account/login" method="post" target="loginFrame">
                                    <button id="loginButton" type="submit" class="btn btn-link nav-link text-left btn-block" data-toggle="modal" data-target="#loginModal"><i class="material-icons">exit_to_app</i> Log ind eller opret bruger</button>
                                </form>
                            </environment>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="main main-raised" style="margin-top: 10px; margin-left: 5px; margin-right: 5px; padding: 5px; padding-left: 10px; padding-top: 10px;">
            @RenderBody()
        </div>
        <br />
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/signalr/signalr.min.js"></script>
        <script src="~/signalr/msgpack5.min.js"></script>
        <script src="~/signalr/signalr-protocol-msgpack.min.js"></script>
        <script src="~/signalr/KinaUnaWebNotifications.js" asp-append-version="true"></script>
    }
    <partial name="_LoginModalPartial" />
    <partial name="_FooterPartial" />
</body>
</html>