@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.UserMenuViewModel
@inject ILocaleManager LocaleManager

<div id="sidebar-menu-div" class="sidebar-menu">
    <div id="sidebar-toggler-div" class="sidebar-toggler">
        <button id="side-bar-toggle-btn" class="btn-sidebar btn-link-yellow">
            <i class="material-icons sidebar-icon">apps</i>
        </button>
    </div>
    <div id="sidebar-menu-list-wrapper" class="sidebar-menu-list-wrapper">
        <div id="sidebar-menu-list-div" class="sidebar-menu-list">
            <button id="side-bar-toggle-text-btn" class="btn-sidebar-toggle-text" style="text-align: right; position: absolute">
                <i id="sidebar-text-expander" class="material-icons sidebar-icon">chevron_right</i>
            </button>
            <ul id="sidebar-nav-ul" class="nav flex-column">
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="home">
                    <a class="btn-sidebar leave-page" asp-controller="Home" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">home</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Home", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="calendar">
                    <a class="btn-sidebar leave-page" asp-controller="Calendar" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">event_note</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Calendar", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="todos">
                    <a class="btn-sidebar leave-page" asp-controller="Todos" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">fact_check</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Todos", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                @* <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="today">
                    <a class="btn-sidebar leave-page" asp-controller="Today" asp-action="OnThisDay" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">today</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("On This Day", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="timeline">
                    <a class="btn-sidebar leave-page" asp-controller="TimeLine" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">update</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Timeline", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li> *@
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="pictures">
                    <a class="btn-sidebar leave-page" asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">photo_library</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Photos", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="videos">
                    <a class="btn-sidebar leave-page" asp-controller="Videos" asp-action="Index" asp-route-id="1" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">videocam</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Videos", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="notes">
                    <a class="btn-sidebar leave-page" asp-controller="Notes" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">note</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Notes", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="sleep">
                    <a class="btn-sidebar leave-page" asp-controller="Sleep" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">hotel</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Sleep", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="friends" >
                    <a class="btn-sidebar leave-page" asp-controller="Friends" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">face</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Friends", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="contacts">
                    <a class="btn-sidebar leave-page" asp-controller="Contacts" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">contact_phone</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Contacts", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="locations">
                    <a class="btn-sidebar leave-page" asp-controller="Locations" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">person_pin</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Locations", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="measurements">
                    <a class="btn-sidebar leave-page" asp-controller="Measurements" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">straighten</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Measurements", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="skills">
                    <a class="btn-sidebar leave-page" asp-controller="Skills" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">school</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Skillz", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="vocabulary" asp-route-childId="@Model.ProgenyId">
                    <a class="btn-sidebar leave-page" asp-controller="Vocabulary" asp-action="Index">
                        <i class="material-icons sidebar-icon">forum</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Vocabulary", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="vaccinations">
                    <a class="btn-sidebar leave-page" asp-controller="Vaccinations" asp-action="Index" asp-route-childId="@Model.ProgenyId">
                        <i class="material-icons sidebar-icon">local_pharmacy</i>
                        <span class="sidebar-item-text sidebar-item-text-hide">
                            @await LocaleManager.GetTranslation("Vaccinations", PageNames.Layout, Model.LanguageId)
                        </span>
                    </a>
                </li>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <li class="nav-item dropdown-item sidebar-item" data-sidebar-id="family">
                        <a class="btn-sidebar leave-page" asp-controller="Family" asp-action="Index">
                            <i class="material-icons sidebar-icon">people</i>
                            <span class="sidebar-item-text sidebar-item-text-hide">
                                @await LocaleManager.GetTranslation("My Family", PageNames.Layout, Model.LanguageId)
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>