@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.ContactViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Copy contact", PageNames.Contacts, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    string copyContactToString = await LocaleManager.GetTranslation("Copy contact to:", PageNames.Contacts, Model.LanguageId);
}
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="longDateTimeFormatDiv" class="d-none" data-long-date-time-format="@longDateTimeFormat"></div>
<div id="add-contact-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="add-item-container">
            <h2 class="col-12">@ViewData["Title"]</h2>
            <button type="button" class="btn btn-link item-details-close-button"><span>×</span></button>
            <div class="space-20"></div>
            <form id="save-item-form" asp-action="CopyContact" asp-controller="Contacts" role="form" method="post" enctype="multipart/form-data">
                @if (Model.ProgenyList.Count > 1)
                {
                    <div class="form-group">
                        <label class="control-label col-auto">@copyContactToString</label>
                        <div class="col-auto">
                            <select id="item-progeny-id-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="ContactItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="control-label col-auto">@copyContactToString</label>
                        <div class="col-auto">
                            <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text"/>
                        </div>
                        <input asp-for="ContactItem.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden"/>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="ContactItem.FirstName" class="col-auto control-label">@await LocaleManager.GetTranslation("First name", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.FirstName" class="form-control" value="@Model.ContactItem.FirstName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.MiddleName" class="col-auto control-label">@await LocaleManager.GetTranslation("Middle name", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.MiddleName" class="form-control" value="@Model.ContactItem.MiddleName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.LastName" class="col-auto control-label">@await LocaleManager.GetTranslation("Last name", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.LastName" class="form-control" value="@Model.ContactItem.LastName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-auto control-label">Picture</label>
                    <div class="col-auto">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-raised">
                                <img src="@Model.ContactItem.PictureLink" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                            <div>
                                <div class="btn btn-primary btn-round btn-file ">
                                    <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Contacts, Model.LanguageId)</span>
                                    <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change picture", PageNames.Contacts, Model.LanguageId)</span>
                                    <input type="file" name="File" accept="image/*"/>
                                </div>
                                <br/>
                                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                    <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Remove picture", PageNames.Contacts, Model.LanguageId)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.DisplayName" class="col-auto control-label">@await LocaleManager.GetTranslation("Display name", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.DisplayName" class="form-control" value="@Model.ContactItem.DisplayName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.AddressLine1" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 1", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.AddressLine1" class="form-control" value="@Model.AddressItem.AddressLine1"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.AddressLine2" class="col-auto control-label">@await LocaleManager.GetTranslation("Address line 2", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.AddressLine2" class="form-control" value="@Model.AddressItem.AddressLine2"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.City" class="col-auto control-label">@await LocaleManager.GetTranslation("City", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.City" class="form-control" value="@Model.AddressItem.City"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.State" class="col-auto control-label">@await LocaleManager.GetTranslation("State/region", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.State" class="form-control" value="@Model.AddressItem.State"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.PostalCode" class="col-auto control-label">@await LocaleManager.GetTranslation("Postal code", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.PostalCode" class="form-control" value="@Model.AddressItem.PostalCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressItem.Country" class="col-auto control-label">@await LocaleManager.GetTranslation("Country", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="AddressItem.Country" class="form-control" value="@Model.AddressItem.Country"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Email1" class="col-auto control-label">@await LocaleManager.GetTranslation("Email 1", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.Email1" class="form-control" value="@Model.ContactItem.Email1"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Email2" class="col-auto control-label">@await LocaleManager.GetTranslation("Email 2", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.Email2" class="form-control" value="@Model.ContactItem.Email2"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.PhoneNumber" class="col-auto control-label">@await LocaleManager.GetTranslation("Phone number", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.PhoneNumber" class="form-control" value="@Model.ContactItem.PhoneNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.MobileNumber" class="col-auto control-label">@await LocaleManager.GetTranslation("Mobile number", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.MobileNumber" class="form-control" value="@Model.ContactItem.MobileNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Website" class="col-auto control-label">@await LocaleManager.GetTranslation("Website", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input asp-for="ContactItem.Website" class="form-control" value="@Model.ContactItem.Website"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Context" class="col-auto control-label">@await LocaleManager.GetTranslation("Context", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input id="context-input" asp-for="ContactItem.Context" class="form-control" value="@Model.ContactItem.Context" placeholder="@await LocaleManager.GetTranslation("Add context...", PageNames.Contacts, Model.LanguageId)"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <textarea asp-for="ContactItem.Notes" class="form-control" rows="4" value="@Model.ContactItem.Notes"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-auto control-label">@await LocaleManager.GetTranslation("Tags", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <input id="tag-list" type="text" asp-for="Tags" value="@Model.Tags" placeholder="@await LocaleManager.GetTranslation("Add tag...", PageNames.Contacts, Model.LanguageId)" class="form-control"/>
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.DateAdded" class="col-auto control-label">@await LocaleManager.GetTranslation("Date", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col-auto">
                        <div class="input-group date">
                            @if (Model.ContactItem.DateAdded == null)
                            {
                                Model.ContactItem.DateAdded = DateTime.UtcNow;
                            }
                            <input id="contact-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="ContactItem.DateAdded"
                                   value="@Model.ContactItem.DateAdded.Value.ToString(longDateTimeFormat)"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                    <div class="col-auto">
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="ContactItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactItem.Active" class="col-auto control-label">@await LocaleManager.GetTranslation("Active", PageNames.Contacts, Model.LanguageId)</label>
                    <div class="col" style="max-width: 5em;">
                        <input type="checkbox" asp-for="ContactItem.Active" class="form-control" style="width: 3em; height: 3em;" checked="@Model.ContactItem.Active" value="@Model.ContactItem.Active" onchange="this.value=this.checked"/>
                    </div>
                </div>
                <input asp-for="ContactItem.AddressIdNumber" value="@Model.ContactItem.AddressIdNumber" type="hidden"/>
                <input asp-for="ContactItem.ContactId" value="@Model.ContactItem.ContactId" type="hidden"/>
                <input asp-for="ContactItem.PictureLink" value="@Model.ContactItem.PictureLink" type="hidden"/>
                <div>
                    <div class="form-group">
                        <div class="col-auto control-label"></div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                            <a class="btn btn-danger item-details-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>