@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.ContactViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Delete contact", PageNames.Contacts, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteContact" role="form" method="post">
            <div class="col-auto">@await LocaleManager.GetTranslation("Are you sure you want to delete this contact?", PageNames.Contacts, Model.LanguageId) @Model.ContactItem.FirstName @Model.ContactItem.MiddleName @Model.ContactItem.LastName?</div>
            <div class="space-20"></div>
            <div class="col-auto">
                <img src="@Model.ContactItem.PictureLink" alt="Contact Picture"/>
            </div>
            <div class="space-20"></div>
            <input asp-for="ContactItem.ContactId" class="form-control" value="@Model.ContactItem.ContactId" type="hidden" />
            <div class="col-auto">
                <Button type="submit" class="btn btn-success leavePage">@await LocaleManager.GetTranslation("Yes, delete contact", PageNames.Contacts, Model.LanguageId)</Button>
                <a class="btn btn-danger leavePage" asp-controller="Contacts" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
            </div>
        </form>
    </div>
</div>