@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUnaWeb.Models.ItemViewModels
@model KinaUnaWeb.Models.ItemViewModels.ContactListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " - " + await LocaleManager.GetTranslation("Contacts", PageNames.Contacts, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="row">
        <div class="col-12">
            @if (Model.ContactsList == null || !Model.ContactsList.Any())
            {
                <h3 class="title">@ViewData["Title"]</h3>
                <div>Nothing to see here yet.</div>
            }
            else
            {
                @if (Model.IsCurrentUserProgenyAdmin)
                {
                    <div class="btn-group" style="float: right;">
                        <a asp-controller="Contacts" asp-action="AddContact" class="btn btn-info btn-round leave-page">
                            <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add contact", PageNames.Contacts, Model.LanguageId)
                        </a>
                    </div>
                }
                <h2>@ViewData["Title"]</h2>
                <div class="space-20"></div>
                <div>
                    <span>Show:</span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="contact-class-true">
                            <span class="checkbox-icon"></span>
                            @await LocaleManager.GetTranslation("Active contacts", PageNames.Contacts, Model.LanguageId)
                        </button>
                    </span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="contact-class-false">
                            <span class="checkbox-icon"></span>
                            @await LocaleManager.GetTranslation("Inactive contacts", PageNames.Contacts, Model.LanguageId)
                        </button>
                    </span>

                </div>
                @if (!string.IsNullOrEmpty(Model.TagFilter))
                {
                    <div class="space-20"></div>
                    <div class="text-dark" style="float: right;">
                        @await LocaleManager.GetTranslation("Tag filter:", PageNames.Contacts, Model.LanguageId) <span class="badge badge-pill badge-rose">@Model.TagFilter</span>
                        <a class="btn btn-info btn-sm" asp-action="Index" asp-route-childId="@Model.CurrentProgeny.Id">
                            <i class="fas fa-minus-circle"></i> @await LocaleManager.GetTranslation("Reset filter", PageNames.Contacts, Model.LanguageId)
                        </a>
                    </div>
                    <div class="space-20"></div>
                }
                <div>
                    @foreach (ContactViewModel contactViewModel in Model.ContactsList)
                    {
                        string chkClass = "contact-class-" + contactViewModel.ContactItem.Active.ToString().ToLower();
                        <div class="@chkClass" style="margin-bottom: 15px;">
                            <div class="card text-white bg-contact" style="float: left; clear: right; text-align: center; height: 600px; width: 255px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
                                <a class="leave-page" asp-controller="Contacts" asp-action="ContactDetails" asp-route-contactId="@contactViewModel.ContactItem.ContactId">
                                    <div class="card-header bg-contact-header kinauna-yellow-text">@contactViewModel.ContactItem.DisplayName</div>
                                </a>
                                <div class="card-body">
                                    <div class="card-text">
                                        <a class="leave-page" asp-controller="Contacts" asp-action="ContactDetails" asp-route-contactId="@contactViewModel.ContactItem.ContactId">
                                            <div style="height: 253px;">
                                                <img class="img-thumbnail mx-auto d-block lazyload" style="max-height: 250px; max-width: 100%; background: black; margin-bottom: 10px;" data-src="@contactViewModel.ContactItem.PictureLink" alt="@contactViewModel.ContactItem.DisplayName"/>
                                            </div>
                                            <div class="space-20"></div>
                                            <div class="kinauna-yellow-text" align="left">
                                                @contactViewModel.ContactItem.FirstName @contactViewModel.ContactItem.MiddleName @contactViewModel.ContactItem.LastName
                                            </div>
                                            <div class="text-white" align="left">@await LocaleManager.GetTranslation("Email:", PageNames.Contacts, Model.LanguageId) @contactViewModel.ContactItem.Email1 @contactViewModel.ContactItem.Email2</div>
                                            <div class="text-white" align="left">@await LocaleManager.GetTranslation("Phone:", PageNames.Contacts, Model.LanguageId) @contactViewModel.ContactItem.PhoneNumber</div>
                                            <div class="text-white" align="left">@await LocaleManager.GetTranslation("Mobile:", PageNames.Contacts, Model.LanguageId) @contactViewModel.ContactItem.MobileNumber</div>
                                            <div class="text-white" align="left">@await LocaleManager.GetTranslation("Context:", PageNames.Contacts, Model.LanguageId) @contactViewModel.ContactItem.Context</div>
                                        </a>
                                        <div align="left">
                                            @await LocaleManager.GetTranslation("Website:", PageNames.Contacts, Model.LanguageId)
                                            @if (!string.IsNullOrEmpty(contactViewModel.ContactItem.Website))
                                            {
                                                <a class="btn-link-yellow" href="@contactViewModel.ContactItem.Website">@contactViewModel.ContactItem.Website</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="space-20"></div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @{
                if (!string.IsNullOrEmpty(Model.Tags))
                {
                    string[] tagsList = Model.Tags.Split(',');
                    foreach (string tagString in tagsList)
                    {
                        <a asp-action="Index" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-tagFilter="@tagString" class="btn tag-item leave-page">@tagString</a>
                    }
                }
            }
        </div>
    </div>
</div>
<script src="/js/contacts/contacts-index.js" type="module" asp-append-version="true"></script>