@model List<KinaUnaWeb.Models.ItemViewModels.ContactViewModel>
@{
    ViewData["Title"] = Model[0].Progeny.NickName + "'s Kontakte";
}
@{
    List<string> typeList = new List<string>();
    typeList.Add("Aktive Kontakte");
    typeList.Add("Inaktive Kontakte");
}
@section Scripts
{
        <script type="text/javascript">
        $(function() {
            $('.button-checkbox').each(function () {
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                        on: {
                            icon: 'fas fa-check-square'
                        },
                        off: {
                            icon: 'fas fa-square'
                        }
                    };
                $button.on('click', function() {
                        $checkbox.prop('checked', !$checkbox.is(':checked')).triggerHandler('click');
                        $checkbox.triggerHandler('change');
                        updateDisplay();
                    });
                $checkbox.on('change', function() {
                        updateDisplay();
                });
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');
                    $button.data('state', (isChecked) ? "on" : "off");
                    $button.find('.state-icon').removeClass().addClass('state-icon ' + settings[$button.data('state')].icon);
                    if (isChecked) {
                        $button.removeClass('btn-default').addClass('btn-' + color + ' active');
                    } else {
                        $button.removeClass('btn-' + color + ' active').addClass('btn-default');
                    }
                }
                function init() {
                    updateDisplay();
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        });
        </script>
        <script type="text/javascript">
        function ShowHideFiltersFunction() {
            var x = document.getElementById("filtersDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        </script>
    }
    @if (Model == null)
    {
        <h3 class="title">@ViewData["Title"]</h3>
        <div>Keine Kontakte.</div>
    }
    else
    {
        <div class="card" style="clear: both; margin-top: 25px;">
            <div class="card-header card-header-success">
                @if (Model[0].IsAdmin)
                {
                    <div class="btn-group" style="float: right;">
                        <a asp-controller="AddItem" asp-action="AddContact" class="btn btn-info btn-round leavePage">
                            <i class="fas fa-plus"></i> Kontakt hinzufügen
                        </a>
                    </div>
                }
                <h3 class="title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body" style="padding-bottom: 35px;">
                <div>
                    <span style="color: black;">Zeigen:</span>
                    <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Aktive Kontakte</button>
                        <input type="checkbox" name="contactClassTrue" style="margin-right: 18px;" checked="checked" class="hidden" hidden/>
                    </span>
                    <span class="button-checkbox">
                        <button type="button" class="btn" data-color="primary">Inaktive Kontakte</button>
                        <input type="checkbox" name="contactClassFalse" style="margin-right: 18px;" checked="checked" class="hidden" hidden/>
                    </span>
                </div>
                @if (!String.IsNullOrEmpty(ViewBag.TagFilter))
                {
                    <br/>
                    <div class="text-dark" style="float: right;">Tag filter: <span class="badge badge-pill badge-rose">@ViewBag.TagFilter</span> <a class="btn btn-info btn-sm" asp-action="Index" asp-route-childId="@Model[0].Progeny.Id"><i class="fas fa-minus-circle"></i> Filter entfernen</a></div>
                    <br/>
                }
                <div class="card-deck">
                    @foreach (var contactViewModel in Model)
                    {
                        string chkClass = "contactClass" + contactViewModel.Active.ToString();
                        <a class="@chkClass leavePage" style="margin-bottom: 15px;" asp-controller="Contacts" asp-action="ContactDetails" asp-route-contactId="@contactViewModel.ContactId" name="@chkClass">
                            <div class="card text-white bg-info" style="padding: 3px; float: left; clear: right; text-align: center; height: 100%; width: 300px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
                                <div class="card-header card-header-warning card-title">@contactViewModel.DisplayName</div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <img class="img-thumbnail" style="max-height: 250px; max-width: 250px; background: black; margin-bottom: 10px;" src="@contactViewModel.PictureLink"/>
                                        <br/>
                                        <div class="card-title" align="left">
                                            @contactViewModel.FirstName @contactViewModel.MiddleName @contactViewModel.LastName
                                        </div>
                                        <div align="left">Email: @contactViewModel.Email1 @contactViewModel.Email2</div>
                                        <div align="left">Telefon: @contactViewModel.PhoneNumber</div>
                                        <div align="left">Handy: @contactViewModel.MobileNumber</div>
                                        <div align="left">Website: @contactViewModel.Website</div>
                                        <div align="left">Zusammenhang: @contactViewModel.Context</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <br/>
                <div style="max-width: 100%; padding-top: 10px; padding-bottom: 20px; clear: both;">
                    @{
                        if (!string.IsNullOrEmpty(ViewBag.Tags))
                        {
                            string[] tagsList = ViewBag.Tags.Split(',');
                            foreach (string tagString in tagsList)
                            {
                                <a asp-action="Index" asp-route-childId="@Model[0].Progeny.Id" asp-route-tagFilter="@tagString" class="badge badge-pill badge-rose leavePage">@tagString</a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    <script type="text/javascript">
    $("input:checkbox:not(:checked)").each(function() {
        var anchor = document.getElementsByClassName($(this).attr("name"));
        $(anchor).hide();
    });
    $("input:checkbox").change(function() {
        var anchor = document.getElementsByClassName($(this).attr("name"));
        $(anchor).toggle();
    });
    </script>
