@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.KanbanItemViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit todo", PageNames.Todos, Model.LanguageId);
    if (Model.KanbanItem.TodoItem.ParentTodoItemId != 0)
    {
        ViewData["Title"] = await LocaleManager.GetTranslation("Edit subtask", PageNames.Todos, Model.LanguageId);
    }
    string assignedToString = await LocaleManager.GetTranslation("Assign todo to:", PageNames.Todos, Model.LanguageId);
    const string longDateTimeFormat = "dd-MMMM-yyyy";
    const string zebraDateTimeFormat = "d-F-Y";
    const string longDateTimeFormatMoment = "DD-MMMM-YYYY";

    foreach (SelectListItem statusItem in Model.StatusList)
    {
        statusItem.Text = await LocaleManager.GetTranslation(statusItem.Text, PageNames.Todos, Model.LanguageId);
    }

    foreach (SelectListItem accessLevelItem in Model.AccessLevelListEn)
    {
        accessLevelItem.Text = await LocaleManager.GetTranslation(accessLevelItem.Text, PageNames.AccessManagement, Model.LanguageId);
    }
}
<div id="current-moment-locale-div" class="d-none" data-current-locale="@Model.LanguageIdString"></div>
<div id="add-todo-zebra-date-time-format-div" class="d-none" data-zebra-date-time-format="@zebraDateTimeFormat"></div>
<div id="long-date-time-format-moment-div" class="d-none" data-long-date-time-format-moment="@longDateTimeFormatMoment"></div>
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper-wide add-edit-kanban-item-modal">
    <div class="timeline-card-body modal-content item-details-content">
        <div class="row sticky-top m-0 item-details-header">
            <div class="col-12 bg-add-item-header">
                <span class="h4 mr-3 align-bottom">@ViewData["Title"]</span>
                <button type="button" class="btn btn-link modal-close-button"><span>×</span></button>
            </div>
        </div>
        <div class="space-20"></div>
        <form id="save-kanban-card-form" asp-action="EditKanbanItem" asp-controller="KanbanItems" role="form" method="post">
            @if (Model.ProgenyList.Count > 1)
            {
                <div class="form-group">
                    <label class="col-auto control-label">@assignedToString </label>
                    <div class="col-auto">
                        <select id="item-progeny-id-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.ProgenyList.Count" asp-for="KanbanItem.TodoItem.ProgenyId" asp-items="@Model.ProgenyList"></select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-auto control-label">@assignedToString</label>
                    <div class="col-auto">
                        <input type="text" readonly class="form-control" value="@Model.ProgenyList[0].Text" />
                    </div>
                    <input asp-for="KanbanItem.TodoItem.ProgenyId" value="@Model.ProgenyList[0].Value" type="hidden" />
                </div>
            }
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.Title" class="col-auto control-label">@await LocaleManager.GetTranslation("Title", PageNames.Notes, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="todo-title-input" asp-for="KanbanItem.TodoItem.Title" value="@Model.KanbanItem.TodoItem.Title" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.Description" class="col-auto control-label">@await LocaleManager.GetTranslation("Description", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    @{
                        string[] toolbarItems = new[] {"Bold", "Italic", "Underline", "StrikeThrough",
                                        "FontName", "FontSize", "FontColor", "BackgroundColor",
                                        "LowerCase", "UpperCase", "|",
                                        "Formats", "Alignments", "OrderedList", "UnorderedList",
                                        "Outdent", "Indent", "|",
                                        "CreateLink", "Image", "CreateTable", "|", "ClearFormat",
                                        "SourceCode", "FullScreen", "|", "Undo", "Redo" };
                    }
                    <ejs-richtexteditor id="description-rich-text-editor" ejs-for="KanbanItem.TodoItem.Description" height="300px" enableResize="true">
                        <e-richtexteditor-toolbarsettings items="@toolbarItems"></e-richtexteditor-toolbarsettings>
                        <e-richtexteditor-insertimagesettings saveUrl="/AddItem/SaveRtfFile" path=""></e-richtexteditor-insertimagesettings>
                        <e-content-template>

                        </e-content-template>
                    </ejs-richtexteditor>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.DueDate" class="col-auto control-label">@await LocaleManager.GetTranslation("Due Date", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="todo-due-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="KanbanItem.TodoItem.DueDate"
                               value="@Model.KanbanItem.TodoItem.DueDate?.ToString(longDateTimeFormat)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.StartDate" class="col-auto control-label">@await LocaleManager.GetTranslation("Start Date", PageNames.Todos, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="input-group date">
                        <input id="todo-start-date-time-picker" type="text" class="form-control" data-zdp_readonly_element="false" asp-for="KanbanItem.TodoItem.StartDate"
                               value="@Model.KanbanItem.TodoItem.StartDate?.ToString(longDateTimeFormat)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Status", PageNames.Todos, Model.LanguageId) </label>
                <div class="col-auto">
                    <select id="todo-status-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.StatusList.Count" asp-for="KanbanItem.TodoItem.Status" asp-items="@Model.StatusList"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.Context" class="col-auto control-label">@await LocaleManager.GetTranslation("Context", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="context-input" asp-for="KanbanItem.TodoItem.Context" class="form-control" value="@Model.KanbanItem.TodoItem.Context" placeholder="@await LocaleManager.GetTranslation("Add context...", PageNames.Contacts, Model.LanguageId)" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Location", PageNames.Locations, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="location-input" type="text" asp-for="KanbanItem.TodoItem.Location" value="@Model.KanbanItem.TodoItem.Location" placeholder="@await LocaleManager.GetTranslation("Add location name entry...", PageNames.Pictures, Model.LanguageId)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Tags", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="tag-list" type="text" asp-for="KanbanItem.TodoItem.Tags" value="@Model.KanbanItem.TodoItem.Tags" placeholder="@await LocaleManager.GetTranslation("Add tag...", PageNames.Contacts, Model.LanguageId)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Contacts, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea rows="4" asp-for="KanbanItem.TodoItem.Notes" class="form-control">@Model.KanbanItem.TodoItem.Notes</textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KanbanItem.TodoItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="KanbanItem.TodoItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <input asp-for="KanbanItem.KanbanItemId" value="@Model.KanbanItem.KanbanItemId" type="hidden" />
            <input asp-for="KanbanItem.KanbanBoardId" value="@Model.KanbanItem.KanbanBoardId" type="hidden" />
            <input asp-for="KanbanItem.ColumnId" value="@Model.KanbanItem.ColumnId" type="hidden" />
            <input asp-for="KanbanItem.RowIndex" value="@Model.KanbanItem.RowIndex" type="hidden" />
            <input asp-for="KanbanItem.TodoItem.TodoItemId" value="@Model.KanbanItem.TodoItem.TodoItemId" type="hidden" />
            <input asp-for="KanbanItem.TodoItem.ParentTodoItemId" value="@Model.KanbanItem.TodoItem.ParentTodoItemId" type="hidden" />
            <input asp-for="KanbanItem.TodoItem.CreatedBy" value="@Model.KanbanItem.TodoItem.CreatedBy" type="hidden" />
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto control-label"></div>
                <div class="col-auto">
                    <button id="save-kanban-item-button" disabled="disabled" class="btn btn-success" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                    <a class="btn btn-danger edit-kanban-item-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                </div>
                <div id="validation-errors-div" class="col-auto">
                    <div id="todo-title-required-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Title is required and cannot be blank.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-due-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Due date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-start-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Start date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                    <div id="todo-completed-date-invalid-div" class="d-none text-warning">
                        @await LocaleManager.GetTranslation("Completed date is not a valid date.", PageNames.Todos, Model.LanguageId)
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<ejs-scripts></ejs-scripts>