@model KinaUnaWeb.Models.ItemViewModels.KanbanItemViewModel;
@using KinaUna.Data
@using KinaUnaWeb.Services
@inject ILocaleManager LocaleManager
@{
    string moveToBoardString = await LocaleManager.GetTranslation("Move to Kanban board", PageNames.Todos, Model.LanguageId);
}
<div class="ml-auto mr-auto mt-auto mb-auto item-details-content-wrapper">
    <div class="timeline-card-body bg-dark modal-content item-details-content" style="width: fit-content;">
        <div class="row text-white m-0 item-details-header">
            <div class="col-12">
                <div class="space-20">
                </div>
            </div>
            <div class="col-auto">
                <span class="timeline-icon"><i class="material-icons" style="font-size: 48px;">fact_check</i></span>
            </div>
            <div class="col">
                <div class="h4 mr-3 align-bottom">
                    @moveToBoardString
                </div>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="row m-0">
            <div class="col-12">
                @if (Model.IsCurrentUserProgenyAdmin)
                {
                    <form id="move-kanban-item-to-kanban-board-form" asp-action="MoveKanbanItemToKanbanBoard" asp-controller="KanbanItems" role="form" method="post">
                        <div class="form-group">
                            <div class="col-auto">
                                <select id="move-kanban-item-to-kanban-board-select" class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.KanbanBoardsList.Count" asp-for="KanbanItem.KanbanBoardId" asp-items="@Model.KanbanBoardsList"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="KanbanItem.KanbanItemId" value="@Model.KanbanItem.KanbanItemId"/>
                            <div class="col">
                                <button id="move-kanban-item-to-kanban-board-button" type="submit" class="btn btn-success" data-kanban-item-id="@Model.KanbanItem.KanbanItemId">@moveToBoardString</button>
                                <button type="button" class="btn btn-danger move-kanban-item-cancel-button">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
