@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.HomeViewModels.HomeFeedViewModel
@inject ILocaleManager LocaleManager
@{
    string isNowString = await LocaleManager.GetTranslation("is now", PageNames.Home, Model.LanguageId);
    string willBeString = await LocaleManager.GetTranslation("will be", PageNames.Home, Model.LanguageId);
    string wasString = await LocaleManager.GetTranslation("was", PageNames.Home, Model.LanguageId);
    string minutesOldString = await LocaleManager.GetTranslation("minutes old.", PageNames.Home, Model.LanguageId);
    string hoursOldString = await LocaleManager.GetTranslation("hours old.", PageNames.Home, Model.LanguageId);
    string daysOldString = await LocaleManager.GetTranslation("days old.", PageNames.Home, Model.LanguageId);
    string monthsOldString = await LocaleManager.GetTranslation("months old.", PageNames.Home, Model.LanguageId);
    string yearsOldString = await LocaleManager.GetTranslation("years old.", PageNames.Home, Model.LanguageId);
    string daysString = await LocaleManager.GetTranslation("days", PageNames.Home, Model.LanguageId);
    string weeksString = await LocaleManager.GetTranslation("weeks", PageNames.Home, Model.LanguageId);
    string hoursString = await LocaleManager.GetTranslation("hours", PageNames.Home, Model.LanguageId);
    string minutesString = await LocaleManager.GetTranslation("minutes", PageNames.Home, Model.LanguageId);
    string weeksAndString = await LocaleManager.GetTranslation("weeks and", PageNames.Home, Model.LanguageId);
}
<div style="font-size: 1.25rem;">
    <div>@Model.CurrentProgeny.NickName @isNowString:</div>
    <div>@Model.Years @await LocaleManager.GetTranslation("years old.", PageNames.Home, Model.LanguageId)</div>
    <div>@Model.Months @await LocaleManager.GetTranslation("months old.", PageNames.Home, Model.LanguageId)</div>
    <div>@Model.Weeks[0] @weeksAndString @Model.Weeks[1] @daysOldString</div>
    <div>@Model.Days @daysOldString</div>
    <div>@Model.Hours @await LocaleManager.GetTranslation("hours old.", PageNames.Home, Model.LanguageId)</div>
    <div>@Model.Minutes @await LocaleManager.GetTranslation("minutes old.", PageNames.Home, Model.LanguageId)</div>
    <div class="space-20"></div>
    <div>@Model.CurrentProgeny.NickName @await LocaleManager.GetTranslation("will have the next birthday in", PageNames.Home, Model.LanguageId) @Model.NextBirthday @daysString.</div>
</div>
<div class="space-20"></div>
<div style="font-size: 1.25rem;">
    <div>@Model.CurrentProgeny.NickName @willBeString:</div>
    <div>@Model.WeeksMileStone[0] @weeksString: @Model.WeeksMileStone[1]</div>
    <div>@Model.DaysMileStone[0] @daysString: @Model.DaysMileStone[1]</div>
    <div>@Model.HoursMileStone[0] @hoursString: @Model.HoursMileStone[1]</div>
    <div>@Model.MinutesMileStone[0] @minutesString: @Model.MinutesMileStone[1]</div>
</div>
<div class="space-70"></div>
<div>
    <button id="random-picture-link" class="item-btn" data-random-picture-id="@Model.ImageId" aria-label="View Image">
        <img src="@Model.ImageLink600" style="width: 100%; max-width: 100%" />
    </button>
</div>
@if (!string.IsNullOrEmpty(Model.Tags))
{
    <div>
        @{
            List<string> tagsList = Model.Tags.Split(',').ToList();
            foreach (string tagString in tagsList)
            {
                <a asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-tagFilter="@tagString" class="btn tag-item leave-page">@tagString</a>
            }
        }
    </div>
}
@if (!string.IsNullOrEmpty(Model.Location))
{
    <div style="font-size: 1.25rem;">@await LocaleManager.GetTranslation("Photo location:", PageNames.Home, Model.LanguageId) @Model.Location</div>
    <div class="space-20"></div>
}
@if (Model.PicTimeValid)
{
    <div style="font-size: 1.25rem;">

        <div>@await LocaleManager.GetTranslation("Photo taken:", PageNames.Home, Model.LanguageId) @Model.PicTime</div>
        <div>@Model.CurrentProgeny.NickName @wasString</div>
        <div>@Model.PicYears @yearsOldString</div>
        <div>@Model.PicMonths @monthsOldString</div>
        <div>@Model.PicWeeks[0] @weeksAndString @Model.PicWeeks[1] @daysOldString</div>
        <div>@Model.PicDays @daysOldString</div>
        <div>@Model.PicHours @hoursOldString</div>
        <div>@Model.PicMinutes @minutesOldString</div>
    </div>
}