@using KinaUnaWeb.Services
@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Home Page";
}
@inject IIdentityParser<ApplicationUser> UserManager

<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Claim</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in Model)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
TokenInfo:
<br />
@ViewBag.TokenInfo
<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    ApplicationUser appUser = UserManager.Parse(User);
    <div>Name: @appUser.FirstName @appUser.MiddleName @appUser.LastName</div><br />
    <div>UserName: @appUser.UserName</div><br />
    <div>Email: @appUser.Email</div><br />
    <div>Id: @appUser.Id</div>
    <div>TimeZone: @ViewBag.TimeZone</div>
    <div>ViewChild: @ViewBag.ViewChild</div>
}