@using KinaUnaWeb.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using KinaUna.Data
@model List<CalendarItem>
@inject ILocaleManager LocaleManager
@{
    int languageId = LocaleManager.GetLanguageId(Context.Request);
}

@foreach (CalendarItem ev in Model)
{
    ev.StartTime ??= DateTime.MinValue;
    ev.EndTime ??= DateTime.MinValue;
    <a class="leavePage" asp-controller="Calendar" asp-action="ViewEvent" asp-route-eventId="@ev.EventId">
        <div class="bg-primary timeline-card">
            <div class="timeline-card-body bg-calendar">
                <div class="row">
                    <div class="col-auto">
                        <span class="timeline-icon"><i class="material-icons">event_note</i></span>
                    </div>
                    <div class="col">
                        <div class="timeline-title">
                            <strong >
                                @ev.StartTime.Value.ToString("dd-MMM-yyyy HH:mm") - @ev.EndTime.Value.ToString("dd-MMM-yyyy HH:mm")
                            </strong>
                        </div>
                        <div class="timeline-text text-white-50">
                            <div class="text-white"><strong>@ev.Title</strong></div>
                            @if (!string.IsNullOrEmpty(ev.Location))
                            {
                                <div>@await LocaleManager.GetTranslation("Location:", PageNames.Calendar, languageId) @ev.Location</div>
                            }
                            @if (!string.IsNullOrEmpty(ev.Context))
                            {
                                <div>@await LocaleManager.GetTranslation("Context:", PageNames.Calendar, languageId) @ev.Context</div>
                            }
                            @if (!string.IsNullOrEmpty(ev.Notes))
                            {
                                <div>@await LocaleManager.GetTranslation("Notes:", PageNames.Calendar, languageId) @ev.Notes</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}
