@model KinaUnaWeb.Models.HomeViewModels.HomeFeedViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-10 col-md-8" style="margin-bottom: 10px; float: left; padding-left: 25px;">
            <H4>
                <img src="~/images/KinaUnaLogo_246x80.png" />
            </H4>
            <br />
            <div class="row">
                <div style="margin-left: 10px;">
                    <div style="font-size: 16px;">
                        <div>@Model.Progeny.NickName er nu @Model.Years år gammel.</div>
                        <div>@Model.Progeny.NickName er nu @Model.Months måneder gammel.</div>
                        <div>@Model.Progeny.NickName er nu @Model.Weeks[0] uger og @Model.Weeks[1] dage gammel.</div>
                        <div>@Model.Progeny.NickName er nu @Model.Days dage gammel.</div>
                        <div>@Model.Progeny.NickName er nu @Model.Hours timer gammel.</div>
                        <div>@Model.Progeny.NickName er nu @Model.Minutes minutter gammel.</div>
                        <br />
                        <div>@Model.Progeny.NickName's næste fødselsdag er om @Model.NextBirthday dage.</div>
                    </div>
                    <br />
                    <div style="font-size: 16px;">
                        <div>@Model.Progeny.NickName bliver @Model.WeeksMileStone[0] uger: @Model.WeeksMileStone[1]</div>
                        <div>@Model.Progeny.NickName bliver @Model.DaysMileStone[0] dage: @Model.DaysMileStone[1]</div>
                        <div>@Model.Progeny.NickName bliver @Model.HoursMileStone[0] timer: @Model.HoursMileStone[1]</div>
                        <div>@Model.Progeny.NickName bliver @Model.MinutesMileStone[0] minuter: @Model.MinutesMileStone[1]</div>
                    </div>
                    <br /><br />
                    <div>
                        <a asp-controller="Pictures" asp-action="Picture" asp-route-id="@Model.ImageId" asp-route-childId="@Model.Progeny.Id" class="leavePage">
                            <img src="@Model.ImageLink600" style="width: 100%; max-width: 100%" />
                        </a>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        <div>
                            @{
                                List<string> tagsList = Model.Tags.Split(',').ToList();
                                foreach (string tagString in tagsList)
                                {
                                    <a asp-controller="Pictures" asp-action="Index" asp-route-id="1" asp-route-tagFilter="@tagString" class="badge badge-pill badge-rose leavePage">@tagString</a>
                                }
                            }
                        </div>

                    }
                    @if (!string.IsNullOrEmpty(Model.Location))
                    {
                        <br /><div>Foto sted: @Model.Location</div><br />
                    }
                    @if (Model.PicTimeValid)
                    {
                        <div style="font-size: 16px;">
                            <div>Foto taget: @Model.PicTime</div>
                            <div>@Model.Progeny.NickName var @Model.PicYears år gammel.</div>
                            <div>@Model.Progeny.NickName var @Model.PicMonths måneder gammel.</div>
                            <div>@Model.Progeny.NickName var @Model.PicWeeks[0] uger og @Model.PicWeeks[1] dage gammel.</div>
                            <div>@Model.Progeny.NickName var @Model.PicDays dage gammel.</div>
                            <div>@Model.Progeny.NickName var @Model.PicHours timer gammel.</div>
                            <div>@Model.Progeny.NickName var @Model.PicMinutes minutter gammel.</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4" style="float: right; margin-top: 10px; padding-left: 25px;">
            @if (Model.EventsList.Any())
            {
                <div>
                    Kommende begivenheder:
                </div>
                await Html.RenderPartialAsync("EventsPartial", Model.EventsList);
                <br />
            }
            @if (Model.LatestPosts.TimeLineItems.Any())
            {
                <div>
                    Seneste indlæg:
                </div>
                await Html.RenderPartialAsync("LatestPostsPartial", Model.LatestPosts);

            }
        </div>
    </div>
</div>