@model KinaUnaWeb.Models.ItemViewModels.VaccinationViewModel
@{
    ViewData["Title"] = Model.Progeny.NickName + "'s Impfungen";
}
@if (Model == null)
{
<h3 class="title">@ViewData["Title"]</h3>
<div>Keine daten.</div>
}
else
{
    if (Model.IsAdmin)
    {
<div class="btn-group" style="float: right;">
    <a asp-controller="AddItem" asp-action="AddVaccination" class="btn btn-success btn-round leavePage">
        <i class="fas fa-plus"></i> Impfung hinzufügen
    </a>
</div>
    }
<h3 class="title">@ViewData["Title"]</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="font-weight: bold">Datum</th>
                <th style="font-weight: bold">Name</th>
                <th style="font-weight: bold">Beschreibung</th>
                <th style="font-weight: bold">Notizen</th>
                @if (Model.IsAdmin)
                {
                <th style="font-weight: bold">Handlung</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var vaccinationViewModel in Model.VaccinationList)
            {
            <tr>
                <td style="min-width: 100px;">@vaccinationViewModel.VaccinationDate.ToString("dd-MMM-yyyy")</td>
                <td style="min-width: 225px;">@vaccinationViewModel.VaccinationName</td>
                <td style="min-width: 180px;">@vaccinationViewModel.VaccinationDescription</td>
                <td>@vaccinationViewModel.Notes</td>
                @if (Model.IsAdmin)
                    {
                <td style="min-width: 135px;">
                    <div>
                        <a asp-controller="AddItem" asp-action="EditVaccination" asp-route-itemId="@vaccinationViewModel.VaccinationId" class="btn btn-info btn-round btn-sm leavePage">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a asp-controller="AddItem" asp-action="DeleteVaccination" asp-route-itemId="@vaccinationViewModel.VaccinationId" class="btn btn-danger btn-round btn-sm leavePage">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
                    }
            </tr>
            }
        </tbody>
    </table>
</div>
}