@using Microsoft.AspNetCore.Mvc.TagHelpers
@model KinaUnaWeb.Models.AdminViewModels.ManageTranslationsViewModel
@if (Model.Translations.Any())
{
    if (Model.PagesList.Any())
    {
        foreach (string pageItem in Model.PagesList)
        {
            <div class="card">
                <div class="card-header-primary p-3">Page: <span class="font-weight-bold">@pageItem</span></div>
                @if (Model.WordsList.Any())
                {
                    foreach (string wordItem in Model.WordsList)
                    {
                        List<TextTranslation> wordTranslations = Model.Translations.Where(t => t.Word == wordItem && t.Page == pageItem).ToList();
                        if (wordTranslations.Any())
                        {
                            <div class="card-body">
                                <div class="card-title bg-accessinfo p-3">
                                    Translation Key: <span class="font-weight-bold">@wordItem</span><a class="btn btn-link ml-5" asp-controller="Admin" asp-action="DeleteTranslation" asp-route-word="@wordItem" asp-route-page="@pageItem">Delete word</a>
                                </div>
                                <div class="card-text pl-3">
                                    @foreach (KinaUnaLanguage language in Model.LanguagesList)
                                    {
                                        List<TextTranslation>translations = Model.Translations.Where(t => t.Page == pageItem && t.Word == wordItem && t.LanguageId == language.Id).ToList();
                                        if (translations.Any())
                                        {
                                            foreach (TextTranslation translation in translations)
                                            {
                                                string translationId = "trId" + translation.Id + "trLang" + translation.LanguageId;
                                                string translationIdDiv = translationId + "div";
                                                <div class="ml-3" id="@translationIdDiv">
                                                    <span>@language.Name</span><span> : </span>
                                                    <span id="@translationId">@translation.Translation</span>
                                                    <a class="btn btn-link btn-link-edit" onclick="jQueryModalGet('@translation.Id', 'Edit translation')">Edit</a>
                                                    @if (translations.Count > 1)
                                                    {
                                                        <a class="btn btn-sm btn-outline ml-5" onclick="jQueryModalDelete('@translation.Id', 'Delete translation')">Delete this translation</a>
                                                    }
                                                </div>

                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="space-20"></div>
        }
    }
}
else
{
    <div class="p-5">
        <h5>No translations found</h5>
    </div>
}
