@model KinaUnaLanguage
@{
    ViewData["Title"] = "KinaUna Languages - Delete Language";
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="DeleteLanguage" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-12" for="languageNameInput">Language name</label>
                <div class="col-12">
                    <input type="text" id="languageNameInput" class="form-control" placeholder="Language name" asp-for="Name" value="@Model.Name" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-12" for="codeInput">Language name</label>
                <div class="col-12">
                    <input type="text" id="codeInput" class="form-control" placeholder="Language code" asp-for="Code" value="@Model.Code" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-12" for="iconInput">Icon</label>
                <div class="col-12">
                    <input type="text" id="iconInput" class="form-control" placeholder="Icon" asp-for="Icon" value="@Model.Icon" readonly="readonly" />
                </div>
            </div>
            <div class="space-20"></div>
            <div class="form-group">
                <div class="col-auto">
                    <input hidden="hidden" asp-for="Id" value="@Model.Id" />
                    <button id="submitButton" class="btn btn-info leavePage" type="submit">Delete</button>
                    <a class="btn btn-warning leavePage" asp-controller="Admin" asp-action="ManageLanguages">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>