@using KinaUnaWeb.Controllers
@model List<Friend>
@{
    ViewData["Title"] = "Download Friends Pictures Result";
}
@{ int remaining = ViewBag.Remaining - Model.Count(); }
<h2>Download Friends Pictures Result</h2>
<div>Friends updated: @Model.Count</div>
<div>Friends remaining: @remaining</div><br/>
@if (Model.Any())
{

    foreach (Friend frn in Model)
    {
        <div>Id: @frn.FriendId</div>
        <div>Name: @frn.Name@*<img src="@frn.PictureLink" />*@</div>
        <br/>
    }
}
else
{
    <div>No friends updated</div>
}
<div><a asp-action="Index">Back to Admin</a></div>