@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.FriendViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Edit friend", PageNames.Friends, Model.LanguageId);
    string longDateTimeFormat = "dd-MMMM-yyyy";
    string zebraDateTimeFormat = "d-F-Y";
}
@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link href="/css/amsify.suggestags.css" rel="stylesheet" />
    <script src="/lib/jquery.amsify.suggestags.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/da.min.js" integrity="sha512-rybyYvSnwg3zAZ/vjTTMoh8tOK0Z6tC2XCzr9e27M0xr8WU40IGo6SOP7FXXCyWgMyd3wZ8ln2nY4ce1ysYUfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de.min.js" integrity="sha512-c0OHGm6x2JXZyrb7Kb+Jcoy7eQ4F+AqzYLeciicpzuvgyeTWRQEZ6QthFYRUBOR0rShmm54O/7pHZJ/nqhbrkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-at.min.js" integrity="sha512-2zI8NFjVrQ4nMIS3HCBVOgiUb6qRiKKa/U4K/DL5aT/sz9dSuHFMZdZIPRjGBQoKZbpyP3NI8diNGK+RlUTTsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/de-ch.min.js" integrity="sha512-7VvKBnFgucrOLF0GLzWUuhtDcRKYUuOy9O5AqiqvccZFp4zAqAzkMqIlNVCDR3DJ6OZ6dsdn+MLiJ8vZx84WhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/lib/material-kit/plugins/jasny-bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
}
<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="add-item-container">
        <h2 class="col-12">@ViewData["Title"]</h2>
        <div class="space-20"></div>
        <form asp-action="EditFriend" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FriendItem.Name" class="col-auto control-label">@await LocaleManager.GetTranslation("Name", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="FriendItem.Name" class="form-control" value="@Model.FriendItem.Name" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.Description" class="col-auto control-label">@await LocaleManager.GetTranslation("Description", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea asp-for="FriendItem.Description" class="form-control" rows="4" value="@Model.FriendItem.Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Picture", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="@Model.FriendItem.PictureLink" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        <div>
                            <div class="btn btn-primary btn-round btn-file ">
                                <span data-trigger="fileinput" class="fileinput-new">@await LocaleManager.GetTranslation("New picture", PageNames.Friends, Model.LanguageId)</span>
                                <span class="fileinput-exists">@await LocaleManager.GetTranslation("Change picture", PageNames.Friends, Model.LanguageId)</span>
                                <input type="file" name="File" accept="image/*" />
                            </div>
                            <br />
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> @await LocaleManager.GetTranslation("Remove picture", PageNames.Friends, Model.LanguageId)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.FriendSince" class="col-auto control-label">@await LocaleManager.GetTranslation("Friends since", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    @{
                        DateTime friendSince = DateTime.UtcNow;
                    }
                    @if (Model.FriendItem.FriendSince.HasValue)
                    {
                        friendSince = Model.FriendItem.FriendSince.Value;
                    }
                    <div class="input-group date">
                        <input id="datetimepicker1"  type="text"
                               class="form-control" data-zdp_readonly_element="false" asp-for="FriendItem.FriendSince" value="@friendSince.ToString(longDateTimeFormat)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.Type" class="col-auto control-label">@await LocaleManager.GetTranslation("Type of friend", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.FriendTypeListEn.Count" asp-for="FriendItem.Type" asp-items="@Model.FriendTypeListEn"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.Context" class="col-auto control-label">@await LocaleManager.GetTranslation("Context", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <input asp-for="FriendItem.Context" class="form-control" value="@Model.FriendItem.Context" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.Notes" class="col-auto control-label">@await LocaleManager.GetTranslation("Notes", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <textarea asp-for="FriendItem.Notes" class="form-control" rows="4" value="@Model.FriendItem.Notes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-auto control-label">@await LocaleManager.GetTranslation("Tags", PageNames.Friends, Model.LanguageId)</label>
                <div class="col-auto">
                    <input id="tagList" type="text" asp-for="FriendItem.Tags" value="@Model.FriendItem.Tags" placeholder="Add tag..." class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FriendItem.AccessLevel" class="col-auto control-label">@await LocaleManager.GetTranslation("Access level", PageNames.AccessManagement, Model.LanguageId)</label>
                <div class="col-auto">
                    <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="@Model.AccessLevelListEn.Count" asp-for="FriendItem.AccessLevel" asp-items="@Model.AccessLevelListEn"></select>
                </div>
            </div>
            <div class="space-20"></div>
            <input asp-for="FriendItem.ProgenyId" value="@Model.FriendItem.ProgenyId" type="hidden" />
            <input asp-for="FriendItem.FriendAddedDate" value="@Model.FriendItem.FriendAddedDate" type="hidden" />
            <input asp-for="FriendItem.FriendId" value="@Model.FriendItem.FriendId" type="hidden" />
            <input asp-for="FriendItem.PictureLink" value="@Model.FriendItem.PictureLink" type="hidden" />
            <input asp-for="FriendItem.Author" value="@Model.FriendItem.Author" type="hidden" />
            <div>
                <div class="form-group">
                    <div class="col-auto control-label"></div>
                    <div class="col-auto">
                        <button class="btn btn-success leavePage" type="submit">@await LocaleManager.GetTranslation("Save", PageNames.AddItem, Model.LanguageId)</button>
                        <a class="btn btn-danger leavePage" asp-controller="Friends" asp-action="Index">@await LocaleManager.GetTranslation("Cancel", PageNames.AddItem, Model.LanguageId)</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    moment.locale('@Model.LanguageIdString');
    const zebraDatePickerDaysArray = [
        '@Html.Raw(await LocaleManager.GetTranslation("Sunday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Monday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Tuesday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Wednesday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Thursday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Friday", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("Saturday", PageNames.CalendarTools, Model.LanguageId))'
    ];

    const zebraDatePickerMonthsArray = [
        '@Html.Raw(await LocaleManager.GetTranslation("January", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("February", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("March", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("April", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("May", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("June", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("July", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("August", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("September", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("October", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("November", PageNames.CalendarTools, Model.LanguageId))',
        '@Html.Raw(await LocaleManager.GetTranslation("December", PageNames.CalendarTools, Model.LanguageId))'
    ];
    const zebraTodayString = '@Html.Raw(await LocaleManager.GetTranslation("Today", PageNames.CalendarTools, Model.LanguageId))';
    const zebraClearString = '@Html.Raw(await LocaleManager.GetTranslation("Clear", PageNames.CalendarTools, Model.LanguageId))';

    $(function () {
        $('#datetimepicker1').Zebra_DatePicker({
            format: '@zebraDateTimeFormat',
            open_icon_only: true,
            days: zebraDatePickerDaysArray,
            months: zebraDatePickerMonthsArray,
            lang_clear_date: zebraClearString,
            show_select_today: zebraTodayString,
            select_other_months: true
        });
    });

    $('input[id="tagList"').amsifySuggestags(
        {
            suggestions: @Html.Raw(Model.TagsList)
        }
    );

</script>