@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUnaWeb.Models.ItemViewModels
@model KinaUnaWeb.Models.ItemViewModels.FriendsListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.Progeny.NickName + " - " + await LocaleManager.GetTranslation("Friends", PageNames.Friends, Model.LanguageId);
}
@{
    string personalFriend = await LocaleManager.GetTranslation("Personal friend", PageNames.Friends, Model.LanguageId);
    string toyFriend = await LocaleManager.GetTranslation("Toy/animal friend", PageNames.Friends, Model.LanguageId);
    string parentFriend = await LocaleManager.GetTranslation("Parent", PageNames.Friends, Model.LanguageId);
    string familyFriend = await LocaleManager.GetTranslation("Family", PageNames.Friends, Model.LanguageId);
    string caretakerFriend = await LocaleManager.GetTranslation("Caretaker", PageNames.Friends, Model.LanguageId);
    List<string> typeList = new List<string>();
    typeList.Add(personalFriend);
    typeList.Add(toyFriend);
    typeList.Add(parentFriend);
    typeList.Add(familyFriend);
    typeList.Add(caretakerFriend);
}

@section Scripts
    {
    <script type="text/javascript">
        $(function() {
            $('.button-checkbox').each(function() {

                // Settings
                let $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                        on: {
                            icon: 'fas fa-check-square'
                        },
                        off: {
                            icon: 'fas fa-square'
                        }
                    };

                // Event Handlers
                $button.on('click',
                    function() {
                        $checkbox.prop('checked', !$checkbox.is(':checked')).triggerHandler('click');
                        $checkbox.triggerHandler('change');
                        updateDisplay();
                    });
                $checkbox.on('change',
                    function() {
                        updateDisplay();
                    });

                // Actions
                function updateDisplay() {
                    const isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $button
                            .removeClass('btn-default')
                            .addClass('btn-' + color + ' active');
                    } else {
                        $button
                            .removeClass('btn-' + color + ' active')
                            .addClass('btn-default');
                    }
                }

                // Initialization
                function init() {
                    updateDisplay();
                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length === 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }

                init();
            });
        });
    </script>
    <script type="text/javascript">
        function ShowHideFiltersFunction() {
            const x = document.getElementById("filtersDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}

<br />
@if (Model.FriendViewModelsList == null || !Model.FriendViewModelsList.Any())
{
    <h2>@ViewData["Title"]</h2>
    <div>@await LocaleManager.GetTranslation("Nothing to see here yet", PageNames.Friends, Model.LanguageId)</div>
}
else
{
    <div class="card bg-light" style="clear: both; margin-top: 0;">

        <div class="card-header card-header-success">

            @if (Model.IsAdmin)
            {
                <div class="btn-group" style="float: right;">
                    <a asp-controller="AddItem" asp-action="AddFriend" class="btn btn-info btn-round leavePage">
                        <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add friend", PageNames.Friends, Model.LanguageId)
                    </a>
                </div>
            }
            <h2 class="title">@ViewData["Title"]</h2>
        </div>
        <div class="card-body mx-auto d-block" style="padding-bottom: 35px;">
            <div>
                <span style="color: black">Show:</span>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">@personalFriend</button>
                    <input type="checkbox" name="friendClass0" style="margin-right: 18px;" checked="checked" class="hidden" hidden />
                </span>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">@toyFriend</button>
                    <input type="checkbox" name="friendClass1" style="margin-right: 18px;" checked="checked" class="hidden" hidden />
                </span>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">@parentFriend</button>
                    <input type="checkbox" name="friendClass2" style="margin-right: 18px;" checked="checked" class="hidden" hidden />
                </span>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">@familyFriend</button>
                    <input type="checkbox" name="friendClass3" style="margin-right: 18px;" checked="checked" class="hidden" hidden />
                </span>
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">@caretakerFriend</button>
                    <input type="checkbox" name="friendClass4" style="margin-right: 18px;" checked="checked" class="hidden" hidden />
                </span>
            </div>
            @if (!string.IsNullOrEmpty(Model.TagFilter))
            {
                <br />
                <div class="text-dark" style="float: right;">@await LocaleManager.GetTranslation("Tag filter:", PageNames.Friends, Model.LanguageId) <span class="badge badge-pill badge-rose">@Model.TagFilter</span> <a class="btn btn-info btn-sm leavePage" asp-action="Index" asp-route-childId="@Model.Progeny.Id">
                    <i class="fas fa-minus-circle"></i> @await LocaleManager.GetTranslation("Reset filter", PageNames.Friends, Model.LanguageId)</a></div>
                <br />
            }
            <div class="card-deck" style="clear: both;">
                @foreach (FriendViewModel friendViewModel in Model.FriendViewModelsList)
                {
                    string chkClass = "friendClass" + friendViewModel.Type.ToString();
                    <a class="@chkClass leavePage" style="margin-bottom: 15px;" asp-controller="Friends" asp-action="FriendDetails" asp-route-friendId="@friendViewModel.FriendId">
                        <div class="card text-white bg-primary" style="padding: 3px; float: left; clear: right; text-align: center; height: 100%; width: 305px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
                            <div class="card-header card-header-rose card-title h4">@friendViewModel.Name</div>
                            <img class="img-thumbnail mx-auto d-block" style="max-height: 300px; max-width: 280px; background: black; margin-bottom: 10px;" src="@friendViewModel.PictureLink" />
                            <div class="card-body">
                                <div align="left">
                                    <strong>@await LocaleManager.GetTranslation("Friends since:", PageNames.Friends, Model.LanguageId) </strong>
                                    <span align="left">
                                        @if (friendViewModel.FriendSince != null)
                                        {
                                            @friendViewModel.FriendSince.Value.ToString("dd-MMM-yyyy")
                                        }
                                        else
                                        {
                                            <span>@await LocaleManager.GetTranslation("N/A", PageNames.Friends, Model.LanguageId)</span>
                                        }
                                    </span>
                                </div>
                                <div align="left">
                                    <strong>@await LocaleManager.GetTranslation("Type:", PageNames.Friends, Model.LanguageId)</strong> @typeList[friendViewModel.Type]
                                </div>
                                <div align="left">
                                    <strong>@await LocaleManager.GetTranslation("Context:", PageNames.Friends, Model.LanguageId)</strong> @friendViewModel.Context
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <br />
            <div style="max-width: 100%; padding-top: 10px; padding-bottom: 20px; clear: both;">
                @{
                    if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        string[] tagsList = Model.Tags.Split(',');
                        foreach (string tagString in tagsList)
                        {
                            <a asp-action="Index" asp-route-childId="@Model.Progeny.Id" asp-route-tagFilter="@tagString" class="badge badge-pill badge-rose leavePage">@tagString</a>
                        }
                    }
                }
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("input:checkbox:not(:checked)").each(function() {
        const anchor = document.getElementsByClassName($(this).attr("name"));
        $(anchor).hide();
    });

    $("input:checkbox").change(function() {
        const anchor = document.getElementsByClassName($(this).attr("name"));
        $(anchor).toggle();
    });
</script>