@using KinaUnaWeb.Services
@using KinaUna.Data
@using KinaUnaWeb.Models.ItemViewModels
@model KinaUnaWeb.Models.ItemViewModels.FriendsListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = Model.CurrentProgeny.NickName + " : " + await LocaleManager.GetTranslation("Friends", PageNames.Friends, Model.LanguageId);
}
@{
    string personalFriend = await LocaleManager.GetTranslation("Personal friend", PageNames.Friends, Model.LanguageId);
    string toyFriend = await LocaleManager.GetTranslation("Toy/animal friend", PageNames.Friends, Model.LanguageId);
    string parentFriend = await LocaleManager.GetTranslation("Parent", PageNames.Friends, Model.LanguageId);
    string familyFriend = await LocaleManager.GetTranslation("Family", PageNames.Friends, Model.LanguageId);
    string caretakerFriend = await LocaleManager.GetTranslation("Caretaker", PageNames.Friends, Model.LanguageId);
    List<string> typeList = new List<string>();
    typeList.Add(personalFriend);
    typeList.Add(toyFriend);
    typeList.Add(parentFriend);
    typeList.Add(familyFriend);
    typeList.Add(caretakerFriend);
}

<div class="ml-xl-auto mr-xl-auto col-xxl-11 col-xxxl-10">
    <div class="row">
        <div class="col-12">
            @if (Model.FriendViewModelsList == null || !Model.FriendViewModelsList.Any())
            {
                <h2>@ViewData["Title"]</h2>
                <div>@await LocaleManager.GetTranslation("Nothing to see here yet", PageNames.Friends, Model.LanguageId)</div>
            }
            else
            {
                @if (Model.IsCurrentUserProgenyAdmin)
                {
                    <div style="float: right;">
                        <a asp-controller="Friends" asp-action="AddFriend" class="btn btn-info btn-round leavePage">
                            <i class="fas fa-plus"></i> @await LocaleManager.GetTranslation("Add friend", PageNames.Friends, Model.LanguageId)
                        </a>
                    </div>
                }
                <h2>@ViewData["Title"]</h2>
                <div>
                    <span>Show:</span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="friendClass0">
                            <span class="checkbox-icon"></span> @personalFriend
                        </button>
                    </span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="friendClass1">
                            <span class="checkbox-icon"></span> @toyFriend
                        </button>
                    </span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="friendClass2">
                            <span class="checkbox-icon"></span> @parentFriend
                        </button>
                    </span>
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-primary" name="friendClass3">
                            <span class="checkbox-icon"></span> @familyFriend
                        </button>
                    </span>
                    <span class="button-checkbox">
                            <button type="button" class="btn btn-primary" name="friendClass4">
                            <span class="checkbox-icon"></span> @caretakerFriend
                        </button>
                    </span>
                </div>
                @if (!string.IsNullOrEmpty(Model.TagFilter))
                {
                    <div class="space-20"></div>
                    <div class="text-dark" style="float: right;">
                        @await LocaleManager.GetTranslation("Tag filter:", PageNames.Friends, Model.LanguageId) <span class="badge badge-pill badge-rose">@Model.TagFilter</span>
                        <a class="btn btn-info btn-sm leavePage" asp-action="Index" asp-route-childId="@Model.CurrentProgeny.Id">
                            <i class="fas fa-minus-circle"></i> @await LocaleManager.GetTranslation("Reset filter", PageNames.Friends, Model.LanguageId)
                        </a>
                    </div>
                    <div class="space-20"></div>
                }
                <div class="space-70"></div>
                <div>
                    @foreach (FriendViewModel friendViewModel in Model.FriendViewModelsList)
                    {
                        string chkClass = "friendClass" + friendViewModel.FriendItem.Type.ToString();
                        <a class="@chkClass leavePage" style="margin-bottom: 15px;" asp-controller="Friends" asp-action="FriendDetails" asp-route-friendId="@friendViewModel.FriendItem.FriendId">
                            <div class="card text-white bg-primary" style="padding: 3px; float: left; clear: right; text-align: center; height: 600px; width: 255px; margin-bottom: 15px; margin-left: 5px; margin-right: 5px;">
                                <div class="card-header card-header-rose card-title h4" style="height: 100px;">@friendViewModel.FriendItem.Name</div>
                                <div style="height: 305px;">
                                    <img class="img-thumbnail mx-auto d-block lazyload" style="max-height: 300px; max-width: 100%; background: black; margin-bottom: 10px;" data-src="@friendViewModel.FriendItem.PictureLink" />
                                </div>
                                <div class="card-body">
                                    <div align="left">
                                        <strong>@await LocaleManager.GetTranslation("Friends since:", PageNames.Friends, Model.LanguageId) </strong>
                                        <span align="left">
                                            @if (friendViewModel.FriendItem.FriendSince != null)
                                            {
                                                @friendViewModel.FriendItem.FriendSince.Value.ToString("dd-MMM-yyyy")
                                            }
                                            else
                                            {
                                                <span>@await LocaleManager.GetTranslation("N/A", PageNames.Friends, Model.LanguageId)</span>
                                            }
                                        </span>
                                    </div>
                                    <div align="left">
                                        <strong>@await LocaleManager.GetTranslation("Type:", PageNames.Friends, Model.LanguageId)</strong> @typeList[friendViewModel.FriendItem.Type]
                                    </div>
                                    <div align="left">
                                        <strong>@await LocaleManager.GetTranslation("Context:", PageNames.Friends, Model.LanguageId)</strong> @friendViewModel.FriendItem.Context
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="space-20"></div>
                
                    @if (!string.IsNullOrEmpty(Model.Tags))
                    {
                        string[] tagsList = Model.Tags.Split(',');
                        <div class="row">
                            <div class="col-12">
                                @foreach (string tagString in tagsList)
                                {
                                <a asp-action="Index" asp-route-childId="@Model.CurrentProgeny.Id" asp-route-tagFilter="@tagString" class="btn tag-item leavePage">@tagString</a>
                                }
                            </div>
                        </div>
                    }
            }
        </div>
    </div>
    
</div>
<div class="space-20"></div>
<script src="/js/friends/friends-index.js" type="module" asp-append-version="true"></script>