@using KinaUna.Data
@using Microsoft.AspNetCore.Identity
@using KinaUna.Data.Models
@model KinaUna.IDP.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col-md-10">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <input type="hidden" asp-for="ReturnUrl" />
                <h4>Log in med en @Constants.AppName konto.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label form-label"></label>
                    <input asp-for="Email" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label form-label"></label>
                    <input asp-for="Password" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success leavePage closeModal">&nbsp;LOG IN&nbsp;</button>
                </div>
                <br /><br />
                <p>
                    <a class="leavePage" asp-action="ForgotPassword">Glemt dit password?</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text leavePage">Opret en ny bruger?</a>
                </p>
            </form>
        </section>
    </div>
</div>
<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Benyt en anden service for log in.</h4>
        <hr />
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (!loginProviders.Any())
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                if (provider.Name.ToLower().Contains("facebook"))
                                {
                                    <button type="submit" class="btn btn-social btn-fill btn-facebook leavePage" style="background-color: #4267B2;"
                                            name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                                        <i class="fab fa-facebook-square"></i> @provider.Name
                                    </button>
                                }
                                else
                                {
                                    if (provider.Name.ToLower().Contains("google"))
                                    {
                                        <button type="submit" class="btn btn-social btn-fill btn-google leavePage" style="background-color: #DB4437;"
                                                name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                                            <i class="fab fa-google"></i> @provider.Name
                                        </button>
                                    }
                                    else
                                    {
                                        if (provider.Name.ToLower().Contains("microsoft"))
                                        {
                                            <button type="submit" class="btn btn-social btn-fill btn-linkedin leavePage" style="background-color: #00A4EF;"
                                                    name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                                                <i class="fab fa-microsoft"></i> @provider.Name
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-social btn-fill leavePage"
                                                    name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                                                <i class=""></i> @provider.Name
                                            </button>
                                        }
                                    }
                                }
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>
<script>
    window.parent.postMessage("openModal", '*'); // If the login failed, reopen the modal.
</script>