@using KinaUna.Data
@model KinaUna.IDP.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Opret ny bruger";
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>OPRET NY BRUGER</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-offset-6"></div>
                <div class="form-group">
                    <label>Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Gentag pasword</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tidszone</label>
                    <div>
                        <select class="selectpicker form-control-noline" data-style="btn-kinaunaselect" data-size="8" asp-for="TimeZone" asp-items="@Model.TimezoneList"></select>
                    </div>
                </div>
                <br />
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="agreeCheck" name="agreeCheck" class="form-check-input" type="checkbox" value="">
                        Jeg accepterer vilkårene beskrevet nedenfor.
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <input asp-for="Language" value="da" hidden="hidden" class="form-control" />
                    <a class="btn btn-info leavePage" style="float: right;" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">&nbsp;Tilbage til Login&nbsp;</a>
                    <button id="registerBtn" type="submit" class="btn btn-success leavePage" disabled="disabled">&nbsp;Opret&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>
Læs om hvordan vi samler, behandler og bruger data og cookies i vores <a asp-controller="Home" asp-action="Privacy">Fortrolighedspolitik</a>.
<div class="card">
    <div class="card-body" style="background: lightyellow;">
        <div class="card-title">Vilkår</div>
        <div class="card-text">
            <strong>Konto</strong><br /><br />
            Når du opretter en konto på @ViewData["AccountType"] medgiver du at du er over 13 år gammel, og at du indsender korrekte, sandfærdige, og aktuelle oplysninger.<br />
            Forkerte, ugyldige, eller forældede oplysninger kan resultere i lukning af din konto.<br />
            Du er helt igennem ansvarlig for at opretholde fortroligheden af dine brugeroplysninger, ligesom du er ansvarlig for alt hvad der foregår på din konto.<br />
            Du indvilliger i at give @ViewData["AccountType"] besked om en hvilken som helst uautoriseret brug af din konto eller ethvert andet brud på sikkerheden.<br />
            Du vil muligvis blive holdt ansvarlig for tab som @ViewData["AccountType"] eller andre brugere af tjenesten pådrager sig, fordi en anden person har benyttet din konto.<br />
            @ViewData["AccountType"] kan ikke holdes ansvarlig for tab eller skader der opstår som følge af manglende overholdelse af ovenstående vilkår.<br />
            <br /><br />
            <strong>Indhold</strong><br /><br />
            Du er ansvarlig for alt indhold du leverer på @ViewData["AccountType"], inklusiv om det er lovligt, pålideligt, og passende.<br />
            Når du tilføjer indhold gennem @ViewData["AccountType"] medgiver du at:<br />
            (1) Du har rettigheder til at tilføje og bruge indholdet, og<br />
            (2) tilføjelse af indholdet på @ViewData["AccountType"] ikke bryder ophavsretloven, ikke krænker privatlivets fred, og ikke krænker immaterielle rettigheder.<br />
            Vi forbeholder os retten til at fjerne kontoen for enhver der krænker andres immaterielle rettigheder.<br />
            Du beholder ejerskabet over eventuelle immaterielle rettigheder, som du har til indhold du tilføjer på @ViewData["AccountType"].<br />
            Vi påtager os ingen forpligtelser for indholdet som brugere af @ViewData["AccountType"] tilføjer. I det omfang loven tilader det fraskriver vi os alle garantiforpligtelser.<br />
            Hvor vidt indhold er offentligt tilgængeligt afhænger af indstillinger du vælger når du tilføjer indhold. Du er ansvarlig for hvem der har adgang til dit indhold på @ViewData["AccountType"].<br />
            @ViewData["AccountType"] forbeholder sig retten til at overvåge og redigere alt indhold tilføjet af brugere på @ViewData["AccountType"].<br />
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script>
    $("#agreeCheck").on('change', function () {
        if (this.checked) {
            $('#registerBtn').attr('disabled', false);
        } else {
            $("#registerBtn").attr('disabled', true);
        }
    });
</script>