@using KinaUna.Data
@using KinaUnaWeb.Services
@model KinaUnaWeb.Models.ItemViewModels.WebNotificationViewModel
@inject ILocaleManager LocaleManager
@{
    string deleteString = await LocaleManager.GetTranslation("Delete", PageNames.Notifications, Model.LanguageId);
    string topDivClass = "notification-item";
    string isReadClass = "notification-unread";
    string markAsRead = await LocaleManager.GetTranslation("Mark as read", PageNames.Notifications, Model.LanguageId);
    string topBtnClass = "btn btn-link notification-button leave-page";
    string markAsReadIcon = "drafts";
    string timeStamp = Model.WebNotification.DateTime.Ticks.ToString();
    if (Model.WebNotification.IsRead)
    {
        topDivClass += " bg-dark"; 
        isReadClass = "notification-read";
        markAsRead = await LocaleManager.GetTranslation("Mark as unread", PageNames.Notifications, Model.LanguageId); 
        topBtnClass = "btn btn-link bg-dark notification-button";
        markAsReadIcon = "markunread";
    }

}

<div class="@topDivClass" data-notificationTime="@timeStamp">
    <div class="@topBtnClass @isReadClass text-left notification-frame" data-notificationid="@Model.WebNotification.Id" data-notificationLink="@Model.WebNotification.Link">
        <div class="notification-card">
            <div class="media text-left">
                <div class="float-left">
                    <div class="img-circle" style="height: 46px; width: 46px;">
                        <img height="40" width="40" class="rounded img-fluid" src="@Model.WebNotification.Icon" />
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <span class="info-title text-warning">@Model.WebNotification.From</span> <span class="text-warning" style="white-space: nowrap;"> · @Model.WebNotification.DateTimeString</span>
                    </div>
                    <h6 class="text-white notification-title">@Model.WebNotification.Title</h6>
                    <p class="text-light notification-message">@Model.WebNotification.Message</p>
                    <div>
                        <span class="btn btn-info btn-link btn-sm mark-notification-read-button @isReadClass" data-notificationid="@Model.WebNotification.Id">
                            <i class="material-icons">@markAsReadIcon</i> @markAsRead
                        </span>
                        <span class="btn btn-danger btn-link btn-sm delete-notification-button" data-notificationid="@Model.WebNotification.Id">
                            <i class="material-icons">delete_forever</i> @deleteString
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>