@using KinaUnaWeb.Services
@using KinaUna.Data
@model KinaUnaWeb.Models.ItemViewModels.NotificationsListViewModel
@inject ILocaleManager LocaleManager
@{
    ViewData["Title"] = await LocaleManager.GetTranslation("Notifications", PageNames.Notifications, Model.LanguageId);
    string deleteString = await LocaleManager.GetTranslation("Delete", PageNames.Notifications, Model.LanguageId);
}
<div class="ml-xl-auto mr-xl-auto col-xl-8 col-xxl-6">
    <btn id="mark-all-notifications-as-read-button" class="btn btn-link btn-link-edit float-right">@await LocaleManager.GetTranslation("Mark all as read", PageNames.Notifications, Model.LanguageId)</btn>
    <h2>@ViewData["Title"]</h2>

    <div class="card" style="background: #3a2051">
        @if (Model.SelectedNotification != null)
        {
            string topDivClass = "notification-item";
            string isReadClass = "notification-unread";
            string markAsRead = "Mark as read";
            string topBtnClass = "btn btn-link notification-button leave-page";
            string markAsReadIcon = "drafts";
            if (Model.SelectedNotification.IsRead)
            {
                topDivClass += " bg-dark";
                isReadClass = "notification-read";
                markAsRead = "Mark as unread";
                topBtnClass = "btn btn-link bg-dark notification-button leave-page";
                markAsReadIcon = "markunread";
            }

            <div class="@topDivClass">
                <hr/>
                <div class="@topBtnClass @isReadClass text-left" data-notificationid="@Model.SelectedNotification.Id" data-notificationLink="@Model.SelectedNotification.Link">
                    <div class="notification-card">
                        <div class="media text-left">
                            <div class="float-left">
                                <div class="img-circle" style="height: 46px; width: 46px;">
                                    <img height="40" width="40" class="media-object rounded img-fluid" src="@Model.SelectedNotification.Icon"/>
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <span class="info-title text-warning">@Model.SelectedNotification.From</span> <span class="text-warning" style="white-space: nowrap;"> · @Model.SelectedNotification.DateTimeString</span>
                                </div>
                                <h6 class="media-heading text-white">@Model.SelectedNotification.Title</h6>
                                <p class="text-light" style="font-size: 0.9rem; white-space: pre-wrap;">@Model.SelectedNotification.Message</p>
                                <div class="media-footer">
                                    <span class="btn btn-danger btn-link btn-sm float-right" onClick="removeNotification(event, this)" data-notificationid="@Model.SelectedNotification.Id">
                                        <i class="material-icons">delete_forever</i> @deleteString
                                    </span>
                                    <span class="btn btn-info btn-link btn-sm @isReadClass" onClick="markRead(event, this)" data-notificationid="@Model.SelectedNotification.Id">
                                        <i class="material-icons">@markAsReadIcon</i> @markAsRead
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br/>
    <div id="number-of-web-notifications-div" class="d-none" data-items-count="@Model.Count"></div>
    @await LocaleManager.GetTranslation("Most recent notifications", PageNames.Notifications, Model.LanguageId):
    <div style="background: #3a2051; margin-top: 5px;">
        <div id="notifications-page-web-notifications-parent-div" class="d-none">
            <div id="notifications-page-recent-web-notifications-div">

            </div>
        </div>
    </div>
    <div style="height: 150px;">
        <button id="load-more-web-notifications-button" class="btn btn-link btn-link-edit d-none" style="margin-top: 20px;">@await LocaleManager.GetTranslation("Show more", PageNames.Timeline, Model.LanguageId)</button>
        <div id="loading-web-notifications-div" class="w-100">
            <div class="space-50"></div>
        </div>
    </div>
</div>
<script src="/js/notifications/notifications-page.js" type="module" asp-append-version="true"></script>