@model WebNotification
@{
    string topDivClass = "notification-item";
    string idClass = "notifId" + Model.Id;
    string isReadClass = "notificationUnread";
    string markAsRead = "Als gelesen markieren";
    string readId = "notificationReadId" + Model.Id;
    string deleteId = "notificationDeleteId" + Model.Id;
    string topBtnClass = "btn btn-link notification-button leavePage";
    string markAsReadIcon = "drafts";
    string timeStamp = Model.DateTime.Ticks.ToString();
    if (Model.IsRead)
    {
        topDivClass = topDivClass + " bg-dark";
        isReadClass = "notificationRead";
        markAsRead = "Als ungelesen markieren";
        topBtnClass = "btn btn-link bg-dark notification-button leavePage";
        markAsReadIcon = "markunread";
    }
}
<div class="@topDivClass" data-notificationTime="@timeStamp">
    <div onClick="notificationItemClick(this, event)" class="@topBtnClass @isReadClass text-left" data-notificationid="@Model.Id" data-notificationLink="@Model.Link">
        <div class="media-area" style="width: 100%; margin: 0; padding-bottom: 4px; min-width: 360px;">
            <div class="media text-left">
                <div class="float-left">
                    <div class="img-circle" style="height: 46px; width: 46px;">
                        <img height="40" width="40" class="media-object rounded img-fluid" src="@Model.Icon" />
                    </div>
                </div>
                <div class="media-body">
                    <span class="text-warning"><span class="info-title text-warning">@Model.From</span> <span class="text-warning"> · @Model.DateTimeString</span></span>
                    <h6 class="media-heading text-white">@Model.Title</h6>
                    <p class="text-light" style="font-size: 0.9rem; white-space: pre-wrap;">@Model.Message</p>
                    <div class="media-footer">
                        <span id="@deleteId" class="btn btn-danger btn-link btn-sm float-right" onClick="removeNotification(this, event)" data-notificationid="@Model.Id">
                            <i class="material-icons">delete_forever</i> Löschen
                        </span>
                        <span id="@readId" class="btn btn-info btn-link btn-sm float-right @isReadClass @idClass" onClick="markRead(this, event)" data-notificationid="@Model.Id">
                            <i class="material-icons">@markAsReadIcon</i> @markAsRead
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

